<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-md-6 col-12 self-align-center" style="width: 100%;max-width: none">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngIf="this.pageParams.params.page == 'areceber'"><a>Contas a receber</a></li>
            <li class="breadcrumb-item" *ngIf="this.pageParams.params.page == 'recebido'"><a>Contas recebidas</a></li>
        </ol>
        <div style="background: #fff; border-radius: 4px;">
            <button class="btn btn-success col-3" style="float: right; margin: 15px" (click)="makePDF()">
          Imprimir
        </button>
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar</span>
            <input class="form-control col-8" (keydown.enter)="searchContas(queryContas)" [(ngModel)]="queryContas" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />

            <div>
                <span style="position: relative; left: 20px; top: 10px;">Filtro</span>
                <!-- <div>
            <label class="custom-control custom-checkbox" >
              <input type="checkbox" class="custom-control-input" (click)="enableFilterService()" />
              <span class="custom-control-label">Serviços</span>
            </label>

            <div class="form-group " *ngIf="filterService" >
              <div class="controls col-4" s>
                  <select class="form-control" [(ngModel)]="this.servicoFilter">
                      <option value="" selected>{{this.servicoFilter}}</option>
                      <option *ngFor="let s of servicos; let i = index" (click)="setServicoFilter(s)">{{s.TIPS_Nome}}</option>
                  </select>
              </div>
            </div>
          </div> -->

                <div style="position: relative; top: 20px;">
                    <label class="custom-control custom-checkbox" style="display: inline-table; margin-left: 10px; margin-right: 10px">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="selectAll"/>
              <span class="custom-control-label">Selecionar</span>
            </label>

                    <button class="btn btn-info col-4" *ngIf="selectAll && this.pageParams.params.page == 'areceber'" style="margin-left: 10px;" (click)="pagarTodosConta()">Marcar selecionados como recebido</button>
                    <button class="btn btn-info col-4" *ngIf="selectAll && this.pageParams.params.page == 'recebido'" style="margin-left: 10px;" (click)="abrirTodosConta()">Marcar selecionados como aberto</button>
                </div>
            </div>
            <div class="table-responsive m-t-40">
                <div *ngIf="emptyResult || resultsFilterContas.length < 1" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px; margin-bottom: 20px">Nenhum resultado encontrado!</span>
                </div>

                <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch *ngIf="!emptyResult && resultsFilterContas.length > 0" style="margin-bottom: 80px; margin-top: 20px;">
                    <thead>
                        <tr>
                            <th *ngIf="selectAll">
                                <i *ngIf="!isSelectedAllContas" (click)="selectAllContas()" class="material-icons" style="cursor: pointer">done</i>
                                <i *ngIf="isSelectedAllContas" (click)="selectAllContas()" class="material-icons" style="cursor: pointer">clear</i>
                            </th>
                            <th><i class="material-icons">account_circle</i></th>
                            <th>Serviço</th>
                            <th>Descricao</th>
                            <th>Observação</th>
                            <!-- <th>Filial</th> -->
                            <th>Nota Fiscal</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th>Data</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of resultsFilterContas | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                            <td *ngIf="selectAll">
                                <input type="checkbox" id="contaReceberCheckBox_{{i}}" />
                            </td>

                            <td style="width: 42px;" id="mainTdReceber-{{i}}">
                                <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                    <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{c.FORR_Nome.split('')[0]}}</span>
                                </div>
                            </td>

                            <td>
                                <span>
                    {{c.TIPS_Nome}}
                  </span>
                            </td>

                            <td>
                                <span>
                    {{c.FORR_Nome}}
                  </span>
                            </td>

                            <td>
                                <span>
                    {{c.FORR_Obs}}
                  </span>
                            </td>

                            <!-- <td >
                  <span >
                    {{c.RFIL_Nome}}
                  </span>
                </td> -->

                            <td>
                                <span>
                    {{c.FORR_notaFiscal}}
                  </span>
                            </td>

                            <td>
                                <span>
                    {{'R$ ' +c.FORR_Valor}}
                  </span>
                            </td>


                            <td>
                                <span>
                    {{c.FORR_Status}}
                  </span>
                            </td>

                            <td>
                                <span>
                    {{c.FORR_Data}}
                  </span>
                            </td>

                            <td style="position: relative;">
                                <button (click)="c.menuRow = !c.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                                <div *ngIf="c.menuRow" style="width: 120px; background-color: #fff; position: absolute; right: 10px; z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                                    <button *ngIf="c.FORR_Status == 'A receber'" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="changeState('recebido', i)">
                      <i class="material-icons" style="font-size: 14px">done</i>
                      Recebido
                    </button>
                                    <button *ngIf="c.FORR_Status == 'Recebido'" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="changeState('areceber', i)">
                      <i class="material-icons" style="font-size: 14px">warning</i>
                      A receber
                    </button>
                                    <button *ngIf="pageParams.params.page == 'areceber'" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/cadContasReceber', {page: 'editar', id: c.FORR_ID}]">
                      <i class="material-icons" style="font-size: 14px">mode_edit</i>
                      Editar
                    </button>
                                    <button *ngIf="pageParams.params.page == 'areceber'" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="removeConta(c)">
                      <i class="material-icons" style="font-size: 14px">delete_forever</i>
                      Remover
                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ol class="breadcrumb" style="width: 220px;" *ngIf="pageParams.params.page != 'pagas'">
                    <li class="breadcrumb-item"><a>Total: {{ (this.totalContasReceber  | currency:'BRL':true:'1.2-2').replace('.', ',').replace(',', '.') }}</a></li>
                </ol>
                <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>
            </div>

            <div id="contasReceberTable" class="table-responsive m-t-40" style="display: none;">
                <img src="./assets/logo.png" style="width: 120px; position: relative; top: 10px;" />
                <span style="display: table; margin: auto; margin-bottom: 25px; font-size: 20px; font-weight: 300">KSTrade - Lista de Contas a receber</span>
                <table class="tablesaw table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch *ngIf="!emptyResult && resultsFilterContas.length > 0" style="margin-bottom: 80px;">
                    <thead>
                        <tr>
                            <th>Serviço</th>
                            <th>Descricao</th>
                            <th>Observação</th>
                            <th>Nota Fiscal</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of resultsFilterContas; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                            <td>
                                <span>
                    {{c.TIPS_Nome}}
                  </span>
                            </td>

                            <td>
                                <span>
                    {{c.FORR_Nome}}
                  </span>
                            </td>

                            <td>
                                <span>
                    {{c.FORR_Obs}}
                  </span>
                            </td>

                            <!-- <td >
                  <span >
                    {{c.RFIL_Nome}}
                  </span>
                </td> -->

                            <td>
                                <span>
                    {{c.FORR_notaFiscal}}
                  </span>
                            </td>

                            <td>
                                <span>
                    {{'R$ ' +c.FORR_Valor}}
                  </span>
                            </td>


                            <td>
                                <span>
                    {{c.FORR_Status}}
                  </span>
                            </td>

                            <td>
                                <span>
                    {{c.FORR_Data}}
                  </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>