<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-12">
        <!-- Column -->
        <div class="card">
            <div class="card-body table-responsive m-t-40" style="height: 500px; position: relative">
              <h4 class="card-title">Inatividade de Coordenadores</h4>
              
              <div style="width: 100%">
                <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por Coordenador</span>
                <input class="form-control col-4" (keydown.enter)="searchCoordenador(queryCoordenador)" [(ngModel)]="queryCoordenador" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>
                
                <span style="display: table;margin-left: 65px;position: relative;top: 10px;">Buscar por Data</span>
                <div class="input-daterange input-group col-4" style="left: 190px;bottom: 20px;">
                    <input class="form-control" id="dataContasPagarInit" name="start" type="text" (blur)="setDateOne()">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info b-0 text-white">Até</span>
                    </div>
                    <input class="form-control" id="dataContasPagarEnd" name="end" type="text" (blur)="setDateTwo()">
                
                    <button *ngIf="alreadySearch" (click)="clearData()" class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab" style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                      <i class="material-icons">clear</i>
                    </button>
                    <button *ngIf="!alreadySearch" (click)="search()" class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab" style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                      <i class="material-icons">search</i>
                    </button>
                </div>
              </div>
              
              <div *ngIf="resultsCoord.length < 1" style="display: table; margin: auto; width: 65%">
                <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
              </div>

              <div *ngIf="resultsCoord.length > 0" style="display: table; margin: auto; border-bottom: 1px solid #d2d1d2; padding-bottom: 10px; width: 100%">
                <div *ngFor="let f of resultsCoord; let i = index" style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
                  <span style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{f.coordNome}} <!--<i style="font-size: 8px" class="material-icons {{ (f.Usr_Net_Status == 'true' || f.Usr_Net_Status === true || f.Usr_Net_Status == '1') ? 'mdl-color-text--red-500':'mdl-color-text--gray-50'}}">fiber_manual_record</i>--></span> 
                  
                  <div *ngIf="f.content.length < 1" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 32px; display: table; margin: auto; margin-bottom: 10px ">bookmark</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px">Nenhum registro de inatividade até então.</span>
                  </div>

                  <div *ngIf="f.content.length > 0" style="border-top: 1px solid #940000; margin-top: 25px; border-bottom: 1px solid #fefefe; display: block; margin-left: 20px; margin-bottom: 50px;" >
                    <div *ngIf="f.content.length > 0 || f.content !== undefined">
                      <table *ngIf="!emptyResult && resultsCoord.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 20px;">
                        <thead>
                          <tr>
                            <th>Data</th>
                            <th>Hora de Saida</th>
                            <th>Hora de Volta</th>
                            <th>Tempo inativo</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let fc of f.content | paginate: { itemsPerPage: 10, currentPage: f.pageNumber }; let fI = index" style="cursor: pointer">
                            <td>{{fc.ina_data2}}</td>
                            <td><span>{{fc.ina_hora_saida}} </span> </td>
                            <td><span > {{fc.ina_hora_volta}}</span> </td>
                            <td><span>{{ fc.ina_tempo_minuto + ' minutos '+ fc.ina_tempo_segundos.toFixed(0) + ' segundos' }}</span> </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <pagination-controls (pageChange)="f.pageNumber = $event" style="float: right;"></pagination-controls>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>