<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div class="card-body table-responsive m-t-40">
        <h4 class="card-title">
          <span>Comentarios cadastrados</span>
          &nbsp;
          &nbsp;
          <button [routerLink]="['/main/cadComentariosDef']" class="mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white">
            <span>Adicionar novo comentário</span>
          </button>
        </h4>

        <div *ngIf="comentarios.length < 1" style="display: table; margin: auto; width: 65%">
          <i class="material-icons"
            style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
          <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
          <span style="display: table; margin: auto;  margin-top: 10px">Nenhum comentario registrado!</span>
        </div>

        <table *ngIf="comentarios.length > 0" class="tablesaw table-bordered table-hover table"
          data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap
          data-tablesaw-mode-switch style="margin-bottom: 50px;">
          <thead>
            <tr>
              <th>Comentario</th>
              <th>Data de criação</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of comentarios | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">
              <td>{{c.comdef_title}}</td>
              <td>{{c.comdef_dt_criacao}}</td>
              <td style="position: relative;">
                <button (click)="c.menuRow = !c.menuRow"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                  <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <div *ngIf="c.menuRow"
                  style="width: 125px; background-color: #fff; position: absolute; right: 10px; z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4); z-index: 999;">
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect"
                    style="text-transform: none; width: 100%" (click)="deleteComentario(c, i)">
                    <i class="material-icons" style="font-size: 14px">delete_forever</i>
                    Remover
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>
      </div>
    </div>
  </div>
</div>