<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="form-group ">
        <div class="controls col-12" style="display: table; margin: auto;">
            <div class="mdl-textfield mdl-js-textfield">
                <input type="checkbox" style="cursor: pointer" [(ngModel)]="is_guest" />
                <span>Para visitantes? </span>
            </div>
        </div>
    </div>

    <div class="form-group " *ngIf="is_guest == false">
        <label class="col-2 col-form-label">Cliente <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input (keydown)="filterCliente($event, this.cliente, this.clientes)" style="cursor: pointer" readonly
                    [(ngModel)]="this.cliente" (click)="clienteOK = !clienteOK" type="text" class="comboBox__input">

                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                    (click)="clienteOK = !clienteOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>

                <div class="comboBox__items" *ngIf="clienteOK" (blur)="clienteOK = false">
                    <button *ngFor="let r of resultFilterClientes; let i = index" (click)="setCliente(r)"
                        class="mdl-button mdl-js-button comboBox__item">
                        <span style="position: absolute; left: 2px; top: 2px;">{{r.Cli_Nome}}</span>
                    </button>
                </div>
            </div>
        </div>
        <small *ngIf="this.errorCliente.required == true"
            style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>
    <div class="form-group ">
        <label class="col-2 col-form-label">Nome do Grupo <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <input type="text" class="form-control" [(ngModel)]="this.nomeGrupo">
        </div>
        <small *ngIf="this.errorNome.required == true"
            style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>
    <button (click)="cadastrar()" class="btn btn-info col-12">Cadastrar</button>
</div>