tr:nth-child(even){
    background-color: #fff;
}

thead > tr{
    background-color: #fff;
}

.table{
    box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
}

.responsive{
    position: absolute;
    left: 40%;
    z-index: 99;
    top: 40%;
    background: #fff;
}

@media screen and (max-width: 767px){
    .responsive{
        position: absolute;
        left: 5%;
        top: 5%;
    }
}

#data{
    display: inline-table;
    margin-left: 15px;
    margin-top: 10px;
}

@media screen and (min-width: 1600px){
    #data{
        display: inline-table;
        margin-left: 15px;
        position: relative;
        top: 15px;
        left: 10px;
    }
}


@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }0%{
        transform: rotate(0deg);
    }
}

.rotate{
    animation: 4s rotate infinite;
}