<div class="mdl-dialog responsive" id="jobImageDialog" *ngIf="showJobImage">
  <h4 class="mdl-dialog__title" style="font-size: 12px;">{{jobTitle}}</h4>
  <div class="mdl-dialog__content">
    <img (keydown.enter)="closeJobImage($event)" [src]="jobImage"
      style="position: relative; margin: auto; display: table; width: 100%; position: relative;" />
  </div>
  <div class="mdl-dialog__actions">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--white" (click)="closeJobImage()"
      style="display: table; margin: auto; top: 3%; position: relative">
      <span style="color: #000; font-weight: bold;">Fechar</span>
      <i class="material-icons mdl-color-text--black">clear</i>
    </button>
  </div>
</div>

<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <div class="card">
      <div class="card-body table-responsive m-t-40">
        <h4 class="card-title">Lista de Jobs</h4>
        <button *ngIf="pdfReady" class="btn btn-success col-3" style="float: right;" (click)="makePDF()">
          Imprimir
        </button>
        <div>
          <div style="display: inline-table; width: 320px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Cliente</span>
            <select class="form-control" (change)="searchJobs(selectCliente.value)" #selectCliente
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;">
              <option selected disabled>Selecionar</option>
              <option value="">Nenhum</option>
              <option value="{{c.Cli_Nome}}" *ngFor="let c of clientes">{{c.Cli_Nome}}</option>
            </select>
          </div>

          <div style="display: inline-table; width: 320px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Rede</span>
            <select class="form-control" (change)="searchRede(selectRede.value)" #selectRede
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;">
              <option selected disabled>Selecionar</option>
              <option value="">Nenhum</option>
              <option value="{{c.RED_Nome}}" *ngFor="let c of redes">{{c.RED_Nome}}</option>
            </select>
          </div>

          <div style="display: inline-table; width: 320px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por filial</span>
            <select class="form-control" (change)="searchFilial(selectFilial.value)" #selectFilial
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;">
              <option selected disabled>Selecionar</option>
              <option value="">Nenhum</option>
              <option value="{{r.RFIL_Nome}}" *ngFor="let r of filiais">{{r.RFIL_Nome}}</option>
            </select>
          </div>

          <div style="display: inline-table; width: 320px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Promotor</span>
            <select class="form-control" (change)="searchPromotor(selectPromotor.value)" #selectPromotor
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;">
              <option selected disabled>Selecionar</option>
              <option value="">Nenhum</option>
              <option value="{{r.PRO_Nome}}" *ngFor="let r of promotores">{{r.PRO_Nome}}</option>
            </select>
          </div>

          <div style="display: inline-table;width: 380px;margin-left: 15px;margin-bottom: 20px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 15px;right: 10px;">Data</span>
            <div class="input-daterange input-group" style="margin-top: 15px;width: 100%;">
              <input class="form-control" id="dataInit" name="end" type="date">
              <div class="input-group-append">
                <span class="input-group-text bg-info b-0 text-white">Até</span>
              </div>
              <input class="form-control" id="dataEnd" name="end" type="date">
              <button *ngIf="!alreadySearch" (click)="searchJob()"
                class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">search</i>
              </button>
              <button *ngIf="alreadySearch" (click)="clearData()"
                class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>

          <div *ngIf="emptyResult && resultsFilterJobs.length < 1 " style="display: table; margin: auto; width: 65%">
            <i class="material-icons"
              style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
            <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
          </div>

          <!-- <div *ngIf="(resultsFilterJobs.length < 1 && !emptyResult) || alreadySearch" style="display: table; margin: 2% auto">
                <div class="rotate" style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
                </div>
                <span style="position: relative;right: 45px;top: 10px;font-weight: bold;">Carregando conteudo...</span>
            </div> -->

          <table *ngIf="!emptyResult && resultsFilterJobs.length > 0" class="tablesaw table-bordered table-hover table"
            data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap
            data-tablesaw-mode-switch style="margin-bottom: 20px;">
            <thead>
              <tr>
                <th><i class="material-icons">account_circle</i></th>
                <th>Cliente</th>
                <th>Rede</th>
                <th>Filial</th>
                <th>Promotor</th>
                <th>Data / Hora</th>
                <th>Informações</th>
                <th *ngIf="userData[0].Usr_Nivel == 'Auxiliar' || userData[0].Usr_Nivel == 'Admin'">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let j of resultsFilterJobs | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                style="margin-bottom: 5px; margin-top: 5px;">
                <td style="width: 42px;">
                  <div
                    style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                    <span
                      style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{j.Cli_Nome.split('')[0]}}</span>
                  </div>
                </td>

                <td>
                  <span>
                    {{j.Cli_Nome}}
                    <i class="material-icons" style="font-size: 18px" *ngIf="
                    (j.JOB_PRO_Modelo != null && j.JOB_PRO_Modelo !== undefined && j.JOB_PRO_Modelo != 'null' && j.JOB_PRO_Modelo != '') && 
                    (j.JOB_PRO_Plataforma != null && j.JOB_PRO_Plataforma !== undefined && j.JOB_PRO_Plataforma != 'null' && j.JOB_PRO_Plataforma != '') &&
                    (j.JOB_PRO_Versao != null && j.JOB_PRO_Versao !== undefined && j.JOB_PRO_Versao != 'null' && j.JOB_PRO_Versao != '') &&
                    (j.JOB_PRO_Manufact != null && j.JOB_PRO_Manufact !== undefined && j.JOB_PRO_Manufact != 'null' && j.JOB_PRO_Manufact != '')
                    ">mobile_friendly</i>
                  </span>
                </td>

                <td>
                  <span>
                    {{j.RED_Nome}}
                  </span>
                </td>

                <td>
                  <span>
                    {{j.RFIL_Nome}}
                  </span>
                </td>

                <td>
                  <span>
                    {{j.PRO_Nome}}
                    <!-- <i style="font-size: 8px" class="material-icons {{ (j.PRO_Net_Status == 'true' || j.PRO_Net_Status === true || j.PRO_Net_Status == '1') ? 'mdl-color-text--red-500':'mdl-color-text--gray-50'}}">fiber_manual_record</i> -->
                  </span>
                </td>

                <td>
                  <span>
                    {{j.JOB_Data_Hora_Input2}}
                  </span>
                </td>

                <td>
                  <a (click)="openImagemJob(j)" style="cursor: pointer" id="openImagemJob">Visualizar</a>
                </td>

                <td *ngIf="userData[0].Usr_Nivel == 'Admin' || userData[0].Usr_Nivel == 'Coordenador'">
                  <a class="material-icons mdl-color-text--red-500" (click)="excluirJob(j)"
                    style="cursor: pointer">clear</a>
                </td>
              </tr>
            </tbody>
          </table>

          <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>

          <div id="jobsTable" style="display: none">
            <img src="./assets/logo.png" style="width: 120px; position: relative; top: 10px;" />
            <span style="display: table; margin: auto; margin-bottom: 25px; font-size: 20px; font-weight: 300">KSTrade
              - Lista de Produtividade</span>
            <table class="tablesaw table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable
              data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch
              style="margin-bottom: 80px;">
              <thead>
                <tr>
                  <th>Cliente</th>
                  <th>Rede</th>
                  <th>Filial</th>
                  <th>Promotor</th>
                  <th>Data / Hora</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let j of resultsFilterJobs; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                  <td>
                    <span>
                      {{j.Cli_Nome}}
                      <i class="material-icons" style="font-size: 18px" *ngIf="
                      (j.JOB_PRO_Modelo != null && j.JOB_PRO_Modelo !== undefined && j.JOB_PRO_Modelo != 'null' && j.JOB_PRO_Modelo != '') && 
                      (j.JOB_PRO_Plataforma != null && j.JOB_PRO_Plataforma !== undefined && j.JOB_PRO_Plataforma != 'null' && j.JOB_PRO_Plataforma != '') &&
                      (j.JOB_PRO_Versao != null && j.JOB_PRO_Versao !== undefined && j.JOB_PRO_Versao != 'null' && j.JOB_PRO_Versao != '') &&
                      (j.JOB_PRO_Manufact != null && j.JOB_PRO_Manufact !== undefined && j.JOB_PRO_Manufact != 'null' && j.JOB_PRO_Manufact != '')
                      ">mobile_friendly</i>
                    </span>
                  </td>

                  <td>
                    <span>
                      {{j.RED_Nome}}
                    </span>
                  </td>

                  <td>
                    <span>
                      {{j.RFIL_Nome}}
                    </span>
                  </td>

                  <td>
                    <span>
                      {{j.PRO_Nome}}
                    </span>
                  </td>

                  <td>
                    <span>
                      {{j.JOB_Data_Hora_Input2}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>