<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div class="card-body table-responsive m-t-40" style="margin-top: 0;">
        <h4 class="card-title">Lista de Promotores</h4>
        <div style="float: right; width: 300px;">
          <button class="btn btn-success" style="width: 100%; margin-bottom: 5px; margin-top: 5px;" (click)="makePDF()">
            Imprimir
          </button>
          <!-- <button class="btn btn-success" style="width: 100%; margin-bottom: 5px; margin-top: 5px;" (click)="canSelect = !canSelect">
                {{this.canSelect == false ? 'Selecionar':'Desselecionar'}}
              </button>
              <button *ngIf="canSelect" class="btn btn-success" style="width: 100%; margin-bottom: 5px; margin-top: 5px;" (click)="deleteSelected('promotores')">
                Apagar promotores selecionados
              </button>
              <button *ngIf="canSelect" class="btn btn-success" style="width: 100%; margin-bottom: 5px; margin-top: 5px;" (click)="deleteSelected('redes')">
                Apagar redes selecionadas
              </button> -->
          <!-- <button class="btn btn-success" style="width: 100%; margin-bottom: 5px; margin-top: 5px;" (click)="proOnline(this.promotores)">
                {{ this.proOn ? 'Todos os promotores':'Promotores Online'}}
              </button> -->
        </div>
        <div style="width: 100%">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar</span>
          <input class="form-control col-8" (keydown.enter)="searchPromotores(queryPromotores, 'nome')"
            [(ngModel)]="queryPromotores"
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
        </div>

        <!-- <div style="width: 100%">
              <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por telefone</span>
              <input class="form-control col-8" (keydown.enter)="searchPromotores(queryPromotoresTel, 'telefone')" [(ngModel)]="queryPromotoresTel" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>  
            </div>

            <div style="width: 100%">
              <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por conta</span>
              <input class="form-control col-8" (keydown.enter)="searchPromotores(queryPromotoresConta, 'conta')" [(ngModel)]="queryPromotoresConta" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>  
            </div> -->

        <div style="width: 100%">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por filial</span>
          <input class="form-control col-8" (keydown.enter)="searchPromotores(queryPromotoresFil, 'filial')"
            [(ngModel)]="queryPromotoresFil"
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
        </div>

        <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
          <i class="material-icons"
            style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
          <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
          <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
        </div>

        <div *ngIf="!doneLoading" style="display: table; margin: 2% auto">
          <div class="rotate"
            style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
          </div>
          <span style="position: relative;right: 45px;top: 10px;font-weight: bold;">Carregando conteudo...</span>
        </div>

        <div *ngIf="doneLoading && !emptyResult && resultFilterPromotores.length > 0"
          style="display: table; margin: auto; border-bottom: 1px solid #d2d1d2; padding-bottom: 10px; width: 100%">
          <div *ngFor="let f of resultFilterPromotores | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index"
            style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
            <input style="margin-top: 5px" *ngIf="canSelect" type="checkbox" id="selectPRO_{{i}}" />
            <span style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">
              <!-- <i style="font-size: 12px" class="material-icons {{ (f.PRO_Net_Status == 'true' || f.PRO_Net_Status === true || f.PRO_Net_Status == '1') ? 'mdl-color-text--red-500':'mdl-color-text--gray-50'}}">fiber_manual_record</i> -->
              {{f.PRO_Nome + ' / Telefone: ' + f.PRO_Telefone}}
            </span>
            <div
              *ngIf="userData[0].Usr_Nivel == 'Admin' || userData[0].Usr_Nivel == 'Auxiliar' || userData[0].Usr_Nivel == 'Coordenador'"
              style="position: relative; float: right">
              <button (click)="f.menuRow = !f.menuRow"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">keyboard_arrow_down</i>
              </button>
              <div *ngIf="f.menuRow"
                style="width: 125px; background-color: #fff; position: absolute; right: 10px; z-index: 15; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                <button *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                  style="text-transform: none; width: 100%"
                  [routerLink]="['/main/cadPromotor', {page: 'editar', proId: f.PRO_ID}]">
                  <i class="material-icons" style="font-size: 14px">mode_edit</i>
                  Editar
                </button>
                <button
                  *ngIf="userData[0].Usr_Nivel == 'Admin' || userData[0].Usr_Nivel == 'Auxiliar' || userData[0].Usr_Nivel == 'Coordenador'"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%"
                  [routerLink]="['/main/promotorLogin', {proId: f.PRO_ID, proNome: f.PRO_Nome}]">
                  <i class="material-icons" style="font-size: 14px">account_circle</i>
                  Gerar login
                </button>
                <button *ngIf="userData[0].Usr_Nivel == 'Admin'" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                  style="text-transform: none; width: 100%" (click)="inativatePromotor(f)">
                  <i class="material-icons" style="font-size: 14px">voice_over_off</i>
                  Inativar Promotor
                </button>
                <button *ngIf="userData[0].Usr_Nivel == 'Admin' || userData[0].Usr_Nivel == 'Coordenador'"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%"
                  (click)="deletePromotor(f, 'total')">
                  <i class="material-icons" style="font-size: 14px">delete_forever</i>
                  Remover Promotor
                </button>
              </div>
            </div>

            <!-- <div *ngIf="f.content.length < 1" style="display: table; margin: auto; width: 65%">
                            <span style="display: table; margin: auto;  margin-top: 10px">Carregando..</span>
                            <div style="display: table; margin: 2% auto">
                                <div class="rotate" style="border-radius: 200px; width: 25px; height: 25px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
                                </div>
                            </div>
                        </div> -->
            <div *ngIf="f.content.length < 1" style="display: table; margin: auto; width: 65%">
              <i class="material-icons"
                style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
              <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
              <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
            </div>

            <div *ngIf="f.content.length > 0"
              style="border-top: 1px solid #940000; margin-top: 25px; border-bottom: 1px solid #fefefe; display: block; margin-left: 20px">
              <div *ngIf="f.content.length > 0 || f.content !== undefined">
                <table *ngIf="!emptyResult && resultFilterPromotores.length > 0"
                  class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable
                  data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch
                  style="margin-bottom: 20px; width: 100%">
                  <thead>
                    <tr>
                      <!-- <th><i class="material-icons">account_circle</i></th> -->
                      <!-- <th>Nome</th> -->
                      <!-- <th>Telefone</th> -->
                      <th *ngIf="canSelect"><i class="material-icons">done</i></th>
                      <th>Status</th>
                      <!-- <th>Coordenador</th>  -->
                      <th>Rede</th>
                      <th>Filial</th>
                      <th>N. de Jobs</th>
                      <th *ngIf="userData[0].Usr_Nivel == 'Admin'">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let fc of f.content; let fI = index" style="cursor: pointer">
                      <!-- <td>
                            <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                              <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{fc.PRO_Nome.split('')[0]}}</span>
                            </div>
                          </td> -->
                      <!-- <td>{{fc.PRO_Nome}}</td> -->
                      <!-- <td>{{fc.PRO_Telefone}}</td> -->
                      <td *ngIf="canSelect"><input type="checkbox" id="pro-{{i}}-{{fI}}"></td>

                      <td><span>{{fc.lixeira == 1 ? 'Movido para lixeira' : fc.PRO_Status}}</span> </td>
                      <!-- <td><span>{{fc.Usr_Nome}}</span> </td>  --> 
                      <td><span>{{fc.RED_Nome}}</span> </td>
                      <td><span>{{fc.RFIL_Nome}}</span> </td>
                      <td><span>{{fc.nJobs}}</span> </td>
                      <td>
                        <button *ngIf="userData[0].Usr_Nivel == 'Admin' || userData[0].Usr_Nivel == 'Coordenador'"
                          class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                          style="text-transform: none; display: table; margin: auto"
                          (click)="deletePromotor(fc, 'partial', i, fI)">
                          <i class="material-icons">delete_forever</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ol *ngIf="enableTotal " class="breadcrumb" style="width: 280px;">
                  <li class="breadcrumb-item"><a>Total em atendimento: {{ this.totalAtendimento }}</a></li>
                </ol>
              </div>
            </div>
          </div>

          <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>

          <div id="promotorTable" style="display: none;">
            <img src="./assets/logo.png" style="width: 120px; position: relative; top: 10px;" />
            <span style="display: table; margin: auto; margin-bottom: 25px; font-size: 20px; font-weight: 300">KSTrade -
              Lista de Filais</span>
            <table class="tablesaw table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable
              data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch
              style="margin-bottom: 80px;">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Telefone</th>
                  <th>Status</th>
                  <th>Rede</th>
                  <th>Filial</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of tempToPrintList; let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{p.PRO_Nome}}</td>
                  <td>{{p.PRO_Telefone}}</td>
                  <td><span>{{p.PRO_Status}}</span> </td>
                  <!-- <td><span>{{p.Usr_Nome}}</span> </td>  -->
                  <td><span>{{p.RED_Nome}}</span> </td>
                  <td><span>{{p.RFIL_Nome}}</span> </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <table *ngIf="!emptyResult && resultFilterPromotores.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 80px;">
                  <thead>
                      <tr>
                          <th><i class="material-icons">account_circle</i></th>
                          <th>Nome</th>
                          <th>Telefone</th>
                          <th>Status</th>
                          <!-- <th>Coordenador</th> 
                          <th>Rede</th>
                          <th>Filial</th>
                          <th>Ações</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let p of resultFilterPromotores; let i = index">
                          <td>
                            <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                              <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{p.PRO_Nome.split('')[0]}}</span>
                            </div>
                          </td>
                          <td>{{p.PRO_Nome}}</td>
                          <td>{{p.PRO_Telefone}}</td>
                          <td><span>{{p.PRO_Status}}</span> </td>
                          <!-- <td><span>{{p.Usr_Nome}}</span> </td> 
                          <td><span>{{p.RED_Nome}}</span> </td>
                          <td><span>{{p.RFIL_Nome}}</span> </td>
                          <td style="position: relative;">
                            <button (click)="p.menuRow = !p.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                              <i class="material-icons">keyboard_arrow_down</i>
                            </button>
                            <div *ngIf="p.menuRow" style="width: 120px; background-color: #fff; position: absolute; right: 10px; z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                              <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/cadPromotor', {page: 'editar', proId: p.PRO_ID}]">
                                <i class="material-icons" style="font-size: 14px">mode_edit</i>
                                Editar
                              </button>
                              <button *ngIf="userData.Usr_Nivel == 'Admin'" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="deletePromotor(p)">
                                <i class="material-icons" style="font-size: 14px">delete_forever</i>
                                Remover
                              </button>
                            </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <ol *ngIf="enableTotal" class="breadcrumb" style="width: 280px;">
                <li class="breadcrumb-item"><a>Total de redes em atendimento: {{ this.totalAtendimento}}</a></li>
              </ol>

              </div>
          </div>
      </div>
    </div>
</div>
  
<!-- <div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">

    <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
      <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
      <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
      <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
    </div>
  
    <table class="table table-hover table-responsive" *ngIf="!emptyResult">
        <thead>
            <tr>
                <th><i class="material-icons">account_circle</i></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of promotores; let i = index">
                <td>
                  <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                    <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{p.PRO_Nome.split('')[0]}}</span>
                  </div>
                </td>
                <td>{{p.PRO_Nome}}</td>
                <td>{{p.PRO_Telefone}}</td>
                <td><span>{{p.PRO_Status}}</span> </td>
                <td>
                  <button (click)="p.menuRow = !p.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                  <div *ngIf="p.menuRow" style="width: 120px; background-color: #fff; position: absolute; right: 15px; z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/cadPromotor', {page: 'editar', proId: p.PRO_ID}]">
                      <i class="material-icons" style="font-size: 14px">mode_edit</i>
                      Editar
                    </button>
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
  </div> -->