tr:nth-child(even){
    background-color: #fff;
}

thead > tr{
    background-color: #fff;
}

.table{
    box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }0%{
        transform: rotate(0deg);
    }
}

.rotate{
    animation: 4s rotate infinite;
}