@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }0%{
        transform: rotate(0deg);
    }
}

.rotate{
    animation: 4s rotate infinite;
}

.responsive{
    position: absolute;
    left: 40%;
    z-index: 99;
    top: 40%;
    background: #fff;
}

.messageCardResponsive{
    width: 775px;
}

.userNameCircle{
    display: inline-block;
}


@media screen and (max-width: 767px){
    .responsive{
        position: absolute;
        left: 5%;
        top: 5%;
    }

    .messageCardResponsive{
        width: 100%;
    }

    .userNameCircle{
        display: none;
    }
}

.dangerTr{
    color: rgb(0, 146, 12);
}

.rupturaTr{
    color: #940000;
}

.normalTr{
    color: rgb(139, 139, 139);
}

@keyframes pisca{
    100%{
        background-color: #fff;
        color: #54667a;
    }0%{
        background-color: rgba(187, 13, 13, 0.8);
    }
}

.dangerRow{
    animation: 1s pisca infinite;
    background-color: rgba(187, 13, 13, 0.8);
    color: #fff;
}

.dangerRow:hover{
    background-color: #fff;
    color: #54667a;
}

.normalRow{
    background-color: #fff;
}