<div class="mdl-dialog responsive" id="otrImageDialog" *ngIf="showOTRImage">
    <h4 class="mdl-dialog__title" style="font-size: 12px;">{{otrTitle}}</h4>
    <div class="mdl-dialog__content">
        <img [src]="otrImage"
            style="position: relative; margin: auto; display: table; width: 100%; position: relative;" />
    </div>
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--white" (click)="closeOTRImage()"
            style="display: table; margin: auto; top: 3%; position: relative">
            <span style="color: #000; font-weight: bold;">Fechar</span>
            <i class="material-icons mdl-color-text--black">clear</i>
        </button>
    </div>
</div>

<div class="page-wrapper" id="mainPage" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;"
    *ngIf="!doneLoading">
    <div style="display: table; margin: 2% auto">
        <div class="rotate"
            style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
        <span style="position: relative;right: 45px;top: 10px;font-weight: bold;">Carregando conteudo...</span>
    </div>
</div>

<div class="page-wrapper" id="mainClientePage" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;"
    *ngIf="doneLoading">

    <div class="row" #disclaimerRow
        style="padding: 15px; background: #d46666;position: relative;bottom: 10px;text-align: center; color: #fff; font-weight: bold">
        <span>É possivel comentar os Jobs agora! Ajude-nos a melhorar, passando orientações para nossa
            equipe  :)</span>

        <button (click)="disclaimerRow.style.display = 'none'" class="mdl-button mdl-js-button mdl-button--icon" style="position: absolute; right: 5px; top: 9px">
            <i class="material-icons">clear</i>
        </button>
    </div>

    <div class="container-fluid">
        <div class="row">

            <!-- <div *ngIf="this.userData[0].Usr_Nivel == 'Vendedor'" class="col-lg-8 mdl-shadow--2dp" style="margin-bottom: 15px; max-width: none; width: 100%; flex:none; -ms-flex: none; -webkit-box-flex: none; max-height: 300px; height: 300px;background: #fff;">
                <div class="card" style="width: 100%;">
                    <div class="card-body" style="max-height: 500px;">
                        <div class="card-title" style="position: relative;">
                            <h4 style="display: inline-block">Mensagens recebidas <span style="font-size: 12px"> -
                                    Total de {{this.mensagens.length}} mensagens</span></h4>
                            <button style="position: absolute;  top: 3px; text-transform: none;right: -24px;" class="mdl-js-ripple-effect btn btn-info mdl-button--fab mdl-button--mini-fab"
                                [routerLink]="['/cliente/mensagens', {type: 'vendedor'}]">
                                <i class="material-icons">add</i>
                                <!-- <span>Nova mensagem</span> 
                            </button>
                        </div>

                        <div style="overflow-y: auto; height: 160px; max-height: 160px;">
                            <div *ngIf="this.mensagens.length > 0; else mensagensElse">
                                <a (click)="openMensagem(m)" *ngFor="let m of mensagens; let i = index">
                                    <div class="btn btn-danger btn-circle userNameCircle" style="background: #940000;border: 1px solid #1627ea;position:  relative;bottom: 25px;">{{m.paraNome.split('')[0]}}</div>
                                    <div class="mail-contnet" style="display: inline-block; width: 93%; cursor: pointer; border-bottom: 1px solid #dcdcdc;">
                                        <h5 style="margin-left: 5px;">{{m.paraNome}}</h5>
                                        <span class="time" style="margin-left: 5px;">{{m.MSG_Data_Envio}}</span>
                                    </div>
                                </a>
                            </div>
                            <ng-template #mensagensElse>
                                <div style="display: table; margin: auto; width: 65%">
                                    <i class="material-icons" style="font-size: 32px; display: table; margin: auto; margin-bottom: 10px ">info</i>
                                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                                    <span style="display: table; margin: auto;  margin-top: 10px; margin-bottom: 20px">Nenhuma
                                        mensagem</span>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="col-lg-8 mdl-shadow--2dp"
                style="margin-top: 20px; max-width: none; width: 100%; flex:none; -ms-flex: none; -webkit-box-flex: none; max-height: 650px; background: #fff; min-height: 575px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body" style="max-height: 650px;">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Jobs em tempo real</h4>
                        </div>

                        <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Filtro</span>
                        <div style="width: 100%; height: 40px; position: relative; left: 20px; top: 10px;">
                            <label class="custom-control custom-checkbox"
                                style="display: inline-table; margin-left: 10px; margin-right: 10px">
                                <input type="checkbox" class="custom-control-input"
                                    (click)="enableFilter(filtroRedeCheck)" [(ngModel)]="filtroRedeCheck" />
                                <span class="custom-control-label">Rede</span>
                            </label>

                            <input type="text" class="form-control col-2" *ngIf="filtroRedeCheck"
                                [(ngModel)]="filterRede"
                                (keydown.enter)="filterArrayRede(this.filterRede, this.otrs)" />

                            <label *ngIf="this.filtroRedeCheck == true" class="custom-control custom-checkbox"
                                style="display: inline-table; margin-left: 10px; margin-right: 10px">
                                <input type="checkbox" class="custom-control-input"
                                    (click)="enableFilter(filtroFilialCheck)" [(ngModel)]="filtroFilialCheck" />
                                <span class="custom-control-label">Filial</span>
                            </label>

                            <input type="text" class="form-control col-2" *ngIf="filtroFilialCheck"
                                [(ngModel)]="filterFilial"
                                (keydown.enter)="filterArrayFilial(this.filterFilial, this.resultsJob)" />

                            <label class="custom-control custom-checkbox"
                                style="display: inline-table; margin-left: 10px; margin-right: 10px">
                                <input type="checkbox" class="custom-control-input"
                                    (click)="enableFilter(filtroPromotorCheck)" [(ngModel)]="filtroPromotorCheck" />
                                <span class="custom-control-label">Promotor</span>
                            </label>

                            <input type="text" class="form-control col-2" *ngIf="filtroPromotorCheck"
                                [(ngModel)]="filterPromotoresStr"
                                (keydown.enter)="filterPromotores(this.filterPromotoresStr, this.resultsJob)" />

                            <label class="custom-control custom-checkbox"
                                style="display: inline-table; margin-left: 10px; margin-right: 10px">
                                <input type="checkbox" class="custom-control-input"
                                    (click)="enableFilter(filtroDataCheck)" [(ngModel)]="filtroDataCheck" />
                                <span class="custom-control-label">Data</span>
                            </label>

                            <div *ngIf="filtroDataCheck" class="input-daterange input-group col-6"
                                style="display: inline-table; /*! margin-left: 10px; */ /*! margin-right: 10px; */height: 2px;position: relative;bottom: 10px"
                                [style.marginTop]="
                                        (this.filtroFilialCheck == true && this.filtroRedeCheck == true) ||
                                         this.filtroPromotorCheck ? '15px': '5px'
                                    ">
                                <div class="input-daterange input-group">
                                    <input class="form-control" id="dataInit" name="start" type="date">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-info b-0 text-white">Até</span>
                                    </div>
                                    <input class="form-control" id="dataEnd" name="end" type="date">
                                    <button *ngIf="alreadySearch" (click)="clearData()"
                                        class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                                        style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                                        <i class="material-icons">clear</i>
                                    </button>
                                    <button *ngIf="!alreadySearch" (click)="searchJob()"
                                        class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                                        style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                                        <i class="material-icons">search</i>
                                    </button>
                                </div>
                            </div>

                            <div *ngIf="!doneJobsLoad" style="display: table; margin: 2% auto">
                                <div class="rotate"
                                    style="border-radius: 200px; width: 40px; height: 40px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
                                </div>
                                <span
                                    style="position: relative;right: 45px;top: 10px;font-weight: bold; font-size: 12px;">Carregando
                                    conteudo...</span>
                            </div>

                            <div *ngIf="doneJobsLoad" class="table-responsive"
                                style="margin-bottom: 10px; overflow: auto;max-height: 360px; margin-top: 0; ">
                                <div *ngIf="emptyResult || resultsJob.length < 1"
                                    style="display: table; margin: auto; width: 65%">
                                    <i class="material-icons"
                                        style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                                    <span
                                        style="display: table; margin: auto;  margin-top: 10px; margin-bottom: 20px">Nenhum
                                        resultado encontrado!</span>
                                </div>
                                <table *ngIf="!emptyResult && resultsJob.length > 0" class="table stylish-table">
                                    <thead>
                                        <tr>
                                            <th><i class="material-icons">account_circle</i></th>
                                            <th>Cliente</th>
                                            <th>Rede</th>
                                            <th>Filial</th>
                                            <th>Promotor</th>
                                            <th>Data / Hora</th>
                                            <th>Foto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let o of resultsJob; let i = index"
                                            style="margin-bottom: 5px; margin-top: 5px;">
                                            <td style="width: 42px;">
                                                <div
                                                    style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                                    <span
                                                        style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{o.Cli_Nome.split('')[0]}}</span>
                                                </div>
                                            </td>

                                            <td>
                                                <span>
                                                    {{o.Cli_Nome}}
                                                </span>
                                            </td>

                                            <td>
                                                <span>
                                                    {{o.RED_Nome}}
                                                </span>
                                            </td>

                                            <td>
                                                <span>
                                                    {{o.RFIL_Nome}}
                                                </span>
                                            </td>

                                            <td>
                                                <span>
                                                    {{o.PRO_Nome}}
                                                </span>
                                            </td>

                                            <td>
                                                <span>
                                                    {{o.JOB_Data_Hora_Input2 + ' ' + o.JOB_Hora_Job}}
                                                </span>
                                            </td>

                                            <td>
                                                <!-- (click)="openImagemJob(j)" -->
                                                <a (click)="openJOBImage(o)" style="cursor: pointer"
                                                    id="openImagemJob">Visualizar
                                                    Imagem</a>
                                            </td>

                                        </tr>
                                    </tbody>
                                    <!--<thead>
                                  <tr>
                                      <th><i class="material-icons">account_circle</i></th>
                                      <th>Detalhes</th>
                                      <th>Filial</th>
                                      <th>Promotor</th>
                                      <th>Coordenador</th>
                                      <th>Data</th>
                                      <th>Anexo</th>
                                      <th></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let o of otrs; let i = index">
  
                                      <td>
                                          <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                              <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{o.OTR_Descricao.split('')[0]}}</span>
                                          </div>
                                      </td>
                                      <td>
                                         <span>{{o.OTR_Descricao}}</span>
                                      </td>
                                      <td>
                                          <span>{{o.RFIL_Nome}}</span>
                                       </td>
                                      <td>
                                          <span>{{o.Pro_Nome}}</span>
                                       </td>
                                       <td>
                                          <span>{{o.Usr_Nome}}</span>
                                       </td>
                                       <td>
                                          <span>{{o.OTR_Data_Ocorrencia}}</span>
                                       </td>
                                       <td >
                                          <span (click)="openOTRImage(o)" style="font-weight: bold; cursor: pointer">Visualizar imagem</span>
                                       </td>
                                       <td>
                                           <button (click)="deleteOtr(i)" class="mdl-button mdl-js-button mdl-button--icon">
                                               <i class="material-icons mdl-color-text--red-500">delete_forever</i>
                                           </button>
                                       </td>
                                  </tr>
                              </tbody>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mdl-shadow--2dp"
                style="margin-top: 15px; max-width: none; width: 100%; flex:none; -ms-flex: none; -webkit-box-flex: none; max-height: 500px; height: 480px;background: #fff;">
                <div class="card" style="width: 100%;">
                    <div class="card-body" style="max-height: 550px; position: relative;">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Entradas e Saidas</h4>
                        </div>

                        <span>Promotores</span>

                        <input type="text" class="form-control col-2" [(ngModel)]="filterPromotoresStrCheckin"
                            (keydown.enter)="filterPromotoresCheckin(this.filterPromotoresStrCheckin, this.checkins)" />

                        <div style="position: absolute; top: 65px; right: 10px;">
                            <button *ngIf="!this.alreadyFiltered"
                                class=" mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white"
                                (click)="filterEntrada('entrada')">
                                Entradas
                            </button>
                            <button *ngIf="!this.alreadyFiltered"
                                class=" mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white"
                                (click)="filterEntrada('saida')">
                                Saidas
                            </button>

                            <button *ngIf="this.alreadyFiltered"
                                class=" mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white"
                                (click)="alreadyFiltered = false">
                                Voltar
                            </button>
                        </div>

                        <div class="table-responsive m-t-40" style="margin-top: 5px; overflow: auto;max-height: 300px;">
                            <div *ngIf="this.checkins.length < 1" style="display: table; margin: auto; width: 65%">
                                <i class="material-icons"
                                    style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                                <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                                <span
                                    style="display: table; margin: auto;  margin-top: 10px; margin-bottom: 20px">Nenhum
                                    resultado encontrado!</span>
                            </div>
                            <table *ngIf="!emptyResult" class="table stylish-table">
                                <thead>
                                    <tr>
                                        <th><i class="material-icons">account_circle</i></th>
                                        <th>Tipo</th>
                                        <th>Rede</th>
                                        <th>Filial</th>
                                        <th>Promotor</th>
                                        <th>Data/Hora Entrada</th>
                                        <th>Data/Hora Saida</th>
                                        <!-- <th>Informações</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let o of checkins; let i = index"
                                        style="margin-bottom: 5px; margin-top: 5px;">
                                        <td style="width: 42px;">
                                            <div style="width: 32px; height: 32px; border-radius: 250px; position: relative;"
                                                [style.backgroundColor]="o.type == 'saida' ? '#f4e242':'#940000'">
                                                <span class="material-icons"
                                                    style="font-weight: bold; display: table; margin: auto; position: absolute; top: 25%; left: 25%;"
                                                    [style.color]="o.type == 'saida' ? '#000':'#fff'">transfer_within_a_station</span>
                                            </div>
                                        </td>

                                        <td>
                                            <span>
                                                {{ o.type == 'saida' ? 'Saida': 'Entrada' }}
                                            </span>
                                        </td>

                                        <td>
                                            <span>
                                                {{o.RED_Nome}}
                                            </span>
                                        </td>

                                        <td>
                                            <span>
                                                {{o.RFIL_Nome}}
                                            </span>
                                        </td>

                                        <td>
                                            <span>
                                                {{o.PRO_Nome}}
                                            </span>
                                        </td>

                                        <td>
                                            <span>
                                                {{ (o.aux_data_entrada + ' / ' + o.aux_hora_entrada ) }}
                                            </span>
                                        </td>

                                        <td>
                                            <span>
                                                {{(o.aux_data_saida || '') + ' / ' + (o.aux_hora_saida || '')}}
                                            </span>
                                        </td>

                                        <!-- <td>
                                            <a (click)="openJOBImage(o)" style="cursor: pointer" id="openImagemJob">Visualizar</a>
                                        </td> -->

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>