<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
        <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
        <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
        <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
    </div>

    <div class="col-12">
        <!-- Column -->
        <div class="card">
            <div class="card-body table-responsive m-t-40" style="position: relative;">
                <h4 class="card-title">Baixa produtividade</h4>
                <!-- <button (click)="showfilial()" >teste</button> -->
                <button *ngIf="enableImprimir" class="btn btn-success col-3" style="position: absolute; right: 20px; top: 15px" (click)="makePDF()">
            Imprimir
          </button>

                <div *ngIf="emptyResult && filiais.length < 1" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                </div>

                <div style="width: 100%">
                    <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por Promotor</span>
                    <input class="form-control col-4" (keyup)="searchPromotores(queryPromotor)" (keydown.enter)="searchPromotores(queryPromotor)" [(ngModel)]="queryPromotor" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />

                    <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por Rede</span>
                    <input class="form-control col-4" (keyup)="searchFiliais(queryFiliais)" (keydown.enter)="searchFiliais(queryFiliais)" [(ngModel)]="queryFiliais" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />

                    <div class="input-daterange input-group" style="width: 35%;left: 145px;">
                        <span style="position: relative;top: 10px;right: 40px;">Data</span>
                        <input class="form-control" id="dataInit" name="start" type="text" (blur)="setDateOne()">
                        <div class="input-group-append">
                            <span class="input-group-text bg-info b-0 text-white">Até</span>
                        </div>
                        <input class="form-control" id="dataEnd" name="end" type="text" (blur)="setDateTwo()">
                        <button *ngIf="alreadySearch" (click)="clearData()" class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab" style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">clear</i>
              </button>
                        <button *ngIf="!alreadySearch" (click)="searchProdutividade()" class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab" style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">search</i>
              </button>
                    </div>
                    <!-- <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por Promotor</span>
            <input class="form-control col-4" (keydown.enter)="searchPromotor(queryPromotor)" [(ngModel)]="queryPromotor" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/> -->
                </div>

                <div *ngIf="!doneLoading" style="display: table; margin: 2% auto">
                    <div class="rotate" style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
                    </div>
                    <span style="position: relative;right: 45px;top: 10px;font-weight: bold;">Carregando conteudo...</span>
                </div>

                <div *ngIf="!emptyResult && filiais.length > 0 && doneLoading" style="border-bottom: 1px solid #d2d1d2; padding-bottom: 10px">
                    <div *ngFor="let f of resultsFilterFiliais | paginate: { itemsPerPage: 5, currentPage: p }" style="margin-top: 30px; border-top: 1px solid #212121; cursor: pointer;">
                        <span (click)="openFilial(i, f, $event)" style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{f.nome}}</span>

                        <!-- <div style="position: relative; width: 100%;"> -->
                        <div *ngFor="let fc of f.content; let i = index" style="width: 100%; position: relative; top: 20px;">
                            <div style="width: 49.5%; height: 35px; display: inline-block">
                                <span>Nome da Filial: </span>
                                <span style="font-weight: bold; font-size: 14px; padding: 15px;">{{fc.RFIL_Nome}}</span>
                            </div>

                            <div style="width: 50%; height: 35px; display: inline-block">
                                <span>Total de Visitas a serem feitas hoje: </span>
                                <span style="font-weight: bold; font-size: 14px; padding: 15px;">{{fc.RFIL_Numero_Visitas}}</span>
                            </div>

                            <table *ngIf="fc.jobs !== undefined" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 25px;">
                                <thead>
                                    <tr>
                                        <th><i class="material-icons">account_circle</i></th>
                                        <th>Cliente</th>
                                        <th>Promotor</th>
                                        <th>Data / Hora</th>
                                        <th>Foto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let j of fc.jobs; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                                        <td style="width: 42px;">
                                            <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                                <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{j.Cli_Nome.split('')[0]}}</span>
                                            </div>
                                        </td>

                                        <td>
                                            <span>
                                {{j.Cli_Nome}}
                              </span>
                                        </td>

                                        <td>
                                            <span>
                                {{j.PRO_Nome}}
                              </span>
                                        </td>

                                        <td>
                                            <span>
                                {{j.JOB_Data_Hora_Input2}}
                              </span>
                                        </td>

                                        <td>
                                            <!-- (click)="openImagemJob(j)" -->
                                            <a (click)="openImagemJob(j)" style="cursor: pointer" id="openImagemJob">Visualizar Imagem</a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <div style="border: 1px solid #dcdcdc; height: 120px; width: 100%; margin-top: 5px; margin-bottom: 25px;">
                                <span style="margin: 10px; font-weight: bold; font-size: 16px; position: relative; top: 10px; left: 10px;">Informações: </span><br />
                                <span style="margin: 20px; position: relative; top: 10px;">Quantidade de jobs realizados: {{fc.jobs.length}}</span>
                                <h2 class="font-light m-b-0" style="margin: 20px;"><i class="ti-arrow-down text-danger"></i>{{fc.RFIL_Numero_Visitas - fc.jobs.length}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>


            <div id="bProdutividadeTable" style="display: none; border-bottom: 1px solid #d2d1d2; padding-bottom: 10px">
                <img src="./assets/logo.png" style="width: 120px; position: relative; top: 10px;" />
                <span style="display: table; margin: auto; margin-bottom: 25px; font-size: 20px; font-weight: 300">KSTrade - Lista de Produtividade</span>
                <div *ngFor="let f of resultsFilterFiliais; let i = index" style="margin-top: 30px; border-top: 1px solid #212121; cursor: pointer;">
                    <span (click)="openFilial(i, f, $event)" style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{f.nome}}</span>

                    <!-- <div style="position: relative; width: 100%;"> -->
                    <div *ngFor="let fc of f.content; let i = index" style="width: 100%; position: relative; top: 20px;">
                        <div style="width: 49.5%; height: 35px; display: inline-block">
                            <span>Nome da Filial: </span>
                            <span style="font-weight: bold; font-size: 14px; padding: 15px;">{{fc.RFIL_Nome}}</span>
                        </div>

                        <div style="width: 50%; height: 35px; display: inline-block">
                            <span>Total de Visitas a serem feitas: </span>
                            <span style="font-weight: bold; font-size: 14px; padding: 15px;">{{fc.RFIL_Numero_Visitas}}</span>
                        </div>

                        <table *ngIf="fc.jobs !== undefined" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 25px;">
                            <thead>
                                <tr>
                                    <th><i class="material-icons">account_circle</i></th>
                                    <th>Cliente</th>
                                    <th>Promotor</th>
                                    <th>Data / Hora</th>
                                    <th>Foto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let j of fc.jobs; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                                    <td style="width: 42px;">
                                        <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                            <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{j.Cli_Nome.split('')[0]}}</span>
                                        </div>
                                    </td>

                                    <td>
                                        <span>
                              {{j.Cli_Nome}}
                            </span>
                                    </td>

                                    <td>
                                        <span>
                              {{j.PRO_Nome}}
                            </span>
                                    </td>

                                    <td>
                                        <span>
                              {{j.JOB_Data_Hora_Input2}}
                            </span>
                                    </td>

                                    <td>
                                        <!-- (click)="openImagemJob(j)" -->
                                        <a (click)="openImagemJob(j)" style="cursor: pointer" id="openImagemJob">Visualizar Imagem</a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div style="border: 1px solid #dcdcdc; height: 120px; width: 100%; margin-top: 5px; margin-bottom: 25px;">
                            <span style="margin: 10px; font-weight: bold; font-size: 16px; position: relative; top: 10px; left: 10px;">Informações: </span><br />
                            <span style="margin: 20px; position: relative; top: 10px;">Quantidade de jobs realizados: {{fc.jobs.length}}</span>
                            <h2 class="font-light m-b-0" style="margin: 20px;"><i class="ti-arrow-down text-danger"></i>{{fc.RFIL_Numero_Visitas - fc.jobs.length}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>