<div class="page-wrapper" style="margin-bottom: 20px; bottom: 20px;">
  <div style="padding-top: 10px">
       <div class="form-group ">
        <label class="col-2 col-form-label">Destinatarios <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input style="cursor: pointer" readonly [(ngModel)]="this.tipo" [ngModelOptions]="{standalone: true}" (click)="tipoOK = !tipoOK"  type="text" class="comboBox__input">

                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="tipoOK = !tipoOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>

                <div class="comboBox__items" *ngIf="tipoOK" (blur)="tipoOK = false">
                    <button *ngFor="let t of tipos; let i = index" (click)="setTipo(t)" class="mdl-button mdl-js-button comboBox__item">
                        <span style="position: absolute; left: 2px; top: 2px;">{{t.tipo_nome}}</span>
                    </button>
                </div>
            </div>
        </div>
        <small *ngIf="this.errorTipo.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">Titulo:</label>
          <div class="controls col-12">
              <textarea class="form-control" [(ngModel)]="this.questaoTitle"></textarea>
          </div>
          <small *ngIf="this.errorTitle.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
        <label class="col-2 col-form-label">Questões:</label>
        <div class="controls col-12">
          <div *ngFor="let q of questoes; let i = index">
            <span><b>{{q.questao}} )</b></span>
            <input class="form-control" [(ngModel)]="q.questao_text" />
          </div>
        </div>
        <small *ngIf="this.errorQuestoes.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-4 col-form-label">Questão correta:<span class="text-danger">*</span></label>
          <div class="controls col-12">
              <div style="width: 100%;border: 1px solid #dcdcdc;border-radius: 4px; background: #fff;">
                  <div style="display: table; margin: auto; width: 100%">
                      <button *ngFor="let q of questoes" (click)="selectThisQuestion(q)" style="text-transform: none; display: inline-table; margin: auto; margin-left: 5px; margin-right: 5px; width: calc(100% / 5.4)" class="mdl-button mdl-js-button mdl-js-ripple-effect {{q.activated == true ? 'mdl-color--red-500 mdl-color-text--white': ''}}">
                          <span>{{q.questao}}</span>
                      </button>
                  </div>
              </div>
          </div>
      </div>

      <div class="form-group ">
          <label class="col-4 col-form-label">Dias da semana para pesquisa <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <div style="width: 100%;border: 1px solid #dcdcdc;border-radius: 4px; background: #fff;">
                  <div style="display: table; margin: auto; width: 100%">
                      <button *ngFor="let d of days" (click)="selectThisDay(d)" style="text-transform: none; display: inline-table; margin: auto; margin-left: 5px; margin-right: 5px; width: calc(100% / 6.4)" class="mdl-button mdl-js-button mdl-js-ripple-effect {{d.activated == true ? 'mdl-color--red-500 mdl-color-text--white': ''}}">
                          <span>{{d.name}}</span>
                      </button>
                  </div>
              </div>
          </div>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">Tempo:</label>
          <div class="controls col-12">
              <input class="form-control" [(ngModel)]="this.tempo" />
          </div>
          <small *ngIf="this.errorTempo.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <button (click)="cadQuiz()" class="btn btn-info col-12">Cadastrar</button>
    </div>
</div>