<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div class="card-body table-responsive m-t-40">
        <h4 class="card-title">Lista de Atendimentos Emergenciais</h4>

        <div style="display: inline-table; width: 320px;">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Rede</span>
          <select class="form-control" (change)="searchRede(selectRede.value)" #selectRede
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;">
            <option selected disabled>Selecionar</option>
            <option value="">Nenhum</option>
            <option value="{{c.RED_Nome}}" *ngFor="let c of redes">{{c.RED_Nome}}</option>
          </select>
        </div>

        <!-- <div style="display: inline-table; width: 320px;">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por filial</span>
          <select class="form-control" (change)="searchFilial(selectFilial.value)" #selectFilial
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;">
            <option selected disabled>Selecionar</option>
            <option value="">Nenhum</option>
            <option value="{{r.RFIL_Nome}}" *ngFor="let r of filiais">{{r.RFIL_Nome}}</option>
          </select>
        </div> -->

        <div *ngIf="emptyResult || resultsFilterAtendimentos.length < 1"
          style="display: table; margin: auto; width: 65%">
          <i class="material-icons"
            style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
          <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
          <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
        </div>

        <table *ngIf="!emptyResult && resultsFilterAtendimentos.length > 0"
          class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable
          data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 50px;">
          <thead>
            <tr>
              <td>Rede</td>
              <td>Filial</td>
              <td>Data</td>
              <td>Detalhe</td>
              <td>Status</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of resultsFilterAtendimentos | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
              <td>{{a.RED_Nome}}</td>
              <td>{{a.RFIL_Nome}}</td>
              <td>{{a.aten_data}}</td>
              <td>{{a.aten_texto}}</td>
              <td>
                {{a.aten_status == 0 ? 'Aberto': a.aten_status == 1 ? 'Solicitado':a.aten_status == 2 ? 'Solucionado':'' }}
              </td>
              <td style="font-weight: bold">
                <button (click)="a.menuRow = !a.menuRow"
                  class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                  <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <div *ngIf="a.menuRow"
                  style="width: 120px; background-color: #fff; position: absolute; right: 10px;z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">

                  <button (click)="solicitar(a)" *ngIf="a.aten_status == 0" class="mdl-button mdl-js-button mdl-ripple-effect "
                    style="text-transform: none; width: 100%">
                    <i class="material-icons" style="font-size: 14px">contact_mail</i>
                    Solicitar
                  </button>

                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect"
                    style="text-transform: none; width: 100%" (click)="openDetalhes(a)">
                    <i class="material-icons" style="font-size: 14px">remove_red_eye</i>
                    Visualizar
                  </button>

                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>
      </div>
    </div>
  </div>
</div>