<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">


  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div class="card-body table-responsive m-t-40">
        <h4 class="card-title">Pedidos e Metas - {{this.pageParams.params.usu_nome}}</h4>

        <div class="col-12" style="margin-bottom: 5px">
          <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar Rede</span>

          <select class="form-control col-8" style="margin-left: 12px;"
            (change)="searchRede(clSelect.value.split(':')[1], {RED_ID: clSelect.value.split(':')[0], RED_Nome: clSelect.value.split(':')[1]})"
            #clSelect>
            <option value="{{-1+':'}}">
              Nenhum
            </option>
            <option *ngFor="let c of redes" value="{{c.RED_ID+':'+c.RED_Nome}}">
              {{c.RED_Nome}}
            </option>
          </select>
        </div>

        <div class="col-12" style="margin-bottom: 5px" *ngIf="this.rede_selected != 0">
          <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar Cliente</span>

          <select class="form-control col-8"
            (change)="searchCliente(clSelect.value.split(':')[1], {Cli_ID: clSelect.value.split(':')[0], Cli_Nome: clSelect.value.split(':')[1]})"
            #clSelect>
            <option value="{{-1+':'}}">
              Nenhum
            </option>
            <option *ngFor="let c of clientes" value="{{c.Cli_ID+':'+c.Cli_Nome}}">
              {{c.Cli_Nome}}
            </option>
          </select>
        </div>


        <div style="width: 100%; display: table; margin: 10px auto" *ngIf="this.chart_obj != undefined">

          <div style="width: 65%; float: left; display: inline-table">
            <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe"
              data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch
              style="margin-bottom: 120px;">
              <thead>
                <tr>
                  <th>Valor do pedido</th>
                  <th>Data do pedido</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of pedidos; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                  <td>
                    <span>
                      {{(u.ped_valor+'' | currency:'BRL':true:'1.2-2').replace('.', ',').replace(',', '.')}}
                    </span>
                  </td>

                  <td>
                    <span>
                      {{u.ped_data}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div style="width: 30%; display: inline-table">
            <canvas #chart></canvas>
            <span style="display: table; margin: auto;">{{this.chart_obj.percent}} %</span>
          </div>
        </div>

        <!-- <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
          <i class="material-icons"
            style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
          <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
          <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
        </div> -->
      </div>
    </div>
  </div>
</div>