<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" (click)="deleteMsg(this.message[0].MSG_ID)" style="float: right;">
      <i class="material-icons mdl-color-text--red-500">delete_forever</i>
    </button>
      <div class="col-md-6 col-8 align-self-center">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a>Mensagem de </a></li>
              <li class="breadcrumb-item active">{{this.message[0].Usr_Nome}}</li>
          </ol>
      </div>
      <div class="col-md-12 col-12 align-self-center" style="margin-top: 10px;">
          <ol class="breadcrumb" style="background: #fff; border: 1px solid #5286b9;">
            <span>{{this.message[0].MSG_Mensagem}}</span>
          </ol>
      </div>
      <button [routerLink]="['/cliente/mensagens', {type: 'reply', to: message[0].Usr_ID}]" class="btn btn-info col-8" style="margin: auto; display: table; margin-top: 20px;">Responder <i class="material-icons" style="position: relative; top: 7px; ">reply</i></button>
  </div>
