<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;" *ngIf="!doneLoading">
    <div style="display: table; margin: 2% auto">
        <div class="rotate" style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
        <span style="position: relative;right: 7px;top: 10px;font-weight: bold;">Carregando</span>
    </div>
</div>
<div *ngIf="doneLoading" class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">

    <div style="width: 100%; text-align: center">
        <h5>{{this.pageParams.params.proNome}}</h5>
    </div>

    <div class="form-group ">
        <label class="col-2 col-form-label">E-mail <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <input type="text" class="form-control" [(ngModel)]="this.email">
        </div>
        <small *ngIf="this.errorEmail.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group ">
        <label class="col-2 col-form-label">Senha <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <input type="password" class="form-control" [(ngModel)]="this.senha">
        </div>
        <small *ngIf="this.errorSenha.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>


    <button (click)="cadLogin()" class="btn btn-info col-12">Cadastrar</button>
</div>