<audio src="./assets/tone.mp3" id="message_tone_msg"></audio>
<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" (click)="deleteMsg(this.message[0].MSG_ID)" style="float: right;">
    <i class="material-icons mdl-color-text--red-500">delete_forever</i>
  </button>
    <div class="col-md-6 col-8 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Mensagem de </a></li>
            <li class="breadcrumb-item active"></li>
        </ol>
    </div>
    <div class="col-md-12 col-12 align-self-center">
        <div id="message_content" style="margin-top: 10px;max-height: 600px; overflow-y: auto;height: 600px;">
            <ol *ngFor="let m of message; let i = index" style="position: relative; min-height: 50px; margin-bottom: 5px; max-width: 100%; width: 100%;" class="breadcrumb col-6 {{ userData[0].Usr_Nome != m.paraNome ? 'jumpToRight':'jumpToLeft'}}">
                <small style="position: absolute; top: 2px; left: 15px;">{{m.deNome}}</small>
                <span style="margin-top: 15px;">{{m.MSG_Mensagem}}</span>
                <small *ngIf="(m.MSG_Status == 'Lido') && m.paraNome != userData[0].Usr_Nome" style="position: absolute; right: 2px; bottom: 10px;">{{m.MSG_Status}}</small>
            </ol>
        </div>
        <div style="margin-top: 35px;border: 1px solid #dcdcdc;">
            <div class="form-group ">
                <label class="col-2 col-form-label">Mensagem</label>
                <div class="controls" style="width: 100%">
                    <input (keydown.enter)="sendMensagem()" id="corpoMensagem" style=" width: 80%;margin-right: 10px;margin-left: 10px;" type="text" class="form-control" [(ngModel)]="this.corpoMensagem">
                    <button (click)="sendMensagem()" class="btn btn-success col-2">
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <button [routerLink]="['/main/mensagens', {type: 'reply', to: message[0].Usr_ID}]" class="btn btn-info col-8" style="margin: auto; display: table; margin-top: 20px;">Responder <i class="material-icons" style="position: relative; top: 7px; ">reply</i></button> -->
</div>