<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-12">
        <!-- Column -->
        <div class="card">
            <div class="card-body table-responsive m-t-40">
                <h4 class="card-title">Produtividade dos Promotores</h4>
                <button class="btn btn-success col-3" style="float: right;" (click)="makePDF()">
          Imprimir
        </button>
                <div style="width: 100%">
                    <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar</span>
                    <input class="form-control col-4" (keydown.enter)="searchPromotor(queryPromotor)" [(ngModel)]="queryPromotor" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
                    <!--             
          <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por Cliente</span>
          <input class="form-control col-4" (keydown.enter)="searchCliente(queryCliente)" [(ngModel)]="queryCliente" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/> -->

                    <div class="input-daterange input-group" style="width: 35%; left: 60px;">
                        <span style="position: relative;top: 10px;right: 48px;">Data</span>
                        <input class="form-control" id="dataInit" name="start" type="text" (blur)="setDateOne()">
                        <div class="input-group-append">
                            <span class="input-group-text bg-info b-0 text-white">Até</span>
                        </div>
                        <input class="form-control" id="dataEnd" name="end" type="text" (blur)="setDateTwo()">

                        <button *ngIf="alreadySearch" (click)="clearData()" class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab" style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
              <i class="material-icons">clear</i>
            </button>
                        <button *ngIf="!alreadySearch" (click)="searchProdutividade()" class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab" style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
              <i class="material-icons">search</i>
            </button>
                    </div>

                </div>

                <div *ngIf="resultsFilterProdutividade.length < 1 && doneLoading" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                </div>


                <div *ngIf="!doneLoading" style="display: table; margin: 2% auto">
                    <div class="rotate" style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
                    </div>
                    <span style="position: relative;right: 45px;top: 10px;font-weight: bold;">Carregando conteudo...</span>
                </div>

                <div *ngIf="doneLoading" style="border-bottom: 1px solid #d2d1d2; padding-bottom: 10px">
                    <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                        <thead>
                            <tr>
                                <th><i class="material-icons">account_circle</i></th>
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th>Status</th>
                                <th>Numero Jobs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of resultsFilterProdutividade | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" style="cursor: pointer">
                                <td>
                                    <div style="width: 32px; height: 32px; background: #940000; border-radius: 250px; position: relative;">
                                        <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{p.pro_nome.split('')[0]}}</span>
                                    </div>
                                </td>
                                <td>{{p.pro_nome}}</td>
                                <td>{{p.pro_telefone}}</td>
                                <td><span>{{p.pro_status}}</span> </td>
                                <td><span>{{p.total}}</span> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <pagination-controls (pageChange)="p = $event" style="float: right"></pagination-controls>

                <div id="tablePromotorProdutividade" style="display: none">
                    <img src="./assets/logo.png" style="width: 120px; position: relative; top: 10px;" />
                    <span style="display: table; margin: auto; margin-bottom: 25px; font-size: 20px; font-weight: 300">KSTrade - Lista de Produtividade de Promotores</span>
                    <table class="tablesaw table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th>Status</th>
                                <th>Numero Jobs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of resultsFilterProdutividade; let i = index" style="cursor: pointer">
                                <td>{{p.pro_nome}}</td>
                                <td>{{p.pro_telefone}}</td>
                                <td><span>{{p.pro_status}}</span> </td>
                                <td><span>{{p.total}}</span> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>