<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
        <i class="material-icons"
            style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
        <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
        <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
    </div>

    <div class="col-12">
        <!-- Column -->
        <div class="card">
            <div class="card-body table-responsive m-t-40">
                <h4 class="card-title">Lista de Usuarios</h4>

                <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar</span>
                <input class="form-control col-8" (keydown.enter)="searchUsuarios(queryUsuarios)"
                    [(ngModel)]="queryUsuarios"
                    style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />

                <button class="btn btn-success col-3" style="float: right; margin-bottom: 20px;" (click)="makePDF()">
                    Imprimir
                </button>
                <table *ngIf="!emptyResult" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe"
                    data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch
                    style="margin-bottom: 20px;">
                    <thead>
                        <tr>
                            <th><i class="material-icons">account_circle</i></th>
                            <th>Nome</th>
                            <th>Login</th>
                            <th>Nível</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of resultsFilterUsuarios | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                            style="margin-bottom: 5px; margin-top: 5px;">
                            <td style="width: 42px;">
                                <div *ngIf="u.Usr_Avatar.length > 0 && u.Usr_Avatar != ''; else avatarElse"
                                    style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;"
                                    (click)="showProfilePic(u)">
                                    <img [src]="u.Usr_Avatar"
                                        style="border-radius: 250px; width: 32px; height: 32px;">
                                </div>
                                <ng-template #avatarElse>
                                    <div
                                        style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                        <span
                                            style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{u.Usr_Nome.split('')[0]}}</span>
                                    </div>
                                </ng-template>
                            </td>

                            <td>
                                <span>
                                    {{u.Usr_Nome}}
                                    <!-- <i style="font-size: 8px" class="material-icons {{ (u.Usr_Net_Status == 'true' || u.Usr_Net_Status === true || u.Usr_Net_Status == '1') ? 'mdl-color-text--red-500':'mdl-color-text--gray-50'}}">fiber_manual_record</i> -->
                                </span>
                            </td>

                            <td>
                                <span>
                                    {{u.Usr_Login}}
                                </span>
                            </td>

                            <td>
                                <span>
                                    {{u.Usr_Nivel || 'NULO'}}
                                </span>
                            </td>

                            <td>
                                <span>
                                    {{u.Usr_Status}}
                                </span>
                            </td>

                            <td style="position: relative;">
                                <small *ngIf="u.Usr_Nivel == 'Admin' && this.userData[0].Usr_Nivel != 'Admin'">Sem
                                    permissão</small>
                                <button (click)="u.menuRow = !u.menuRow"
                                    class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </button>
                                <div *ngIf="u.menuRow"
                                    style="width: 155px; background-color: #fff; position: absolute; right: 10px;z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                                    <button
                                        *ngIf="( this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador')  && u.Usr_Nivel != 'Representante' && u.Usr_Nivel != 'Admin'"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                        style="text-transform: none; width: 100%"
                                        [routerLink]="['/main/cadUsuario', {page: 'editar', usrId: u.Usr_ID}]">
                                        <i class="material-icons" style="font-size: 14px">mode_edit</i>
                                        Editar
                                    </button>

                                    <button *ngIf="u.Usr_Status == 'Ativo' && this.userData[0].Usr_Nivel == 'Admin' && u.Usr_Nome != 'Administrador'"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                        style="text-transform: none; width: 100%" (click)="inactivateUser(u.Usr_ID)">
                                        <i class="material-icons" style="font-size: 14px">clear</i>
                                        Inativar
                                    </button>

                                    <button (click)="removeUsuario(u)" *ngIf="this.userData[0].Usr_Nivel == 'Admin' && u.Usr_Nome != 'Administrador'"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                        style="text-transform: none; width: 100%">
                                        <i class="material-icons" style="font-size: 14px">remove</i>
                                        Remover
                                    </button>

                                    <button *ngIf="u.Usr_Status == 'Inativo' && this.userData[0].Usr_Nivel == 'Admin'"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                        style="text-transform: none; width: 100%" (click)="activateUser(u.Usr_ID)">
                                        <i class="material-icons" style="font-size: 14px">done</i>
                                        Ativar
                                    </button>

                                    <button (click)="enviarAcesso(u)" *ngIf="u.Usr_Nivel == 'Vendedor'"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                        style="text-transform: none; width: 100%">
                                        <i class="material-icons" style="font-size: 14px">mail</i>
                                        Enviar acesso
                                    </button>

                                    <button
                                        [routerLink]="['/main/PedidosEMetas', {usu_id: u.Usr_ID, usu_nome: u.Usr_Nome}]"
                                        *ngIf="u.Usr_Nivel == 'Representante'"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                        style="text-transform: none; width: 100%">
                                        <i class="material-icons" style="font-size: 14px">show_chart</i>
                                        Metas e pedidos
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <pagination-controls (pageChange)="p = $event" style="float: right"></pagination-controls>

                <div id="usuarioTable" style="display: none">
                    <table *ngIf="!emptyResult" class="tablesaw table-bordered table-hover table"
                        data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch
                        data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 120px;">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Login</th>
                                <th>Nível</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of usuarios; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                                <td>
                                    <span>
                                        {{u.Usr_Nome}}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{u.Usr_Login}}
                                    </span>
                                </td>

                                <td>
                                    <span>
                                        {{u.Usr_Nivel || 'NULO'}}
                                    </span>
                                </td>

                                <td>
                                    <span>
                                        {{u.Usr_Status}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>