<div class="page-wrapper">
    <div class="container-fluid">
      <div class="row page-titles">
          <div class="col-md-6 col-8 align-self-center">
              <h3 class="m-b-0 m-t-0">Quiz - KSTrade Merchandising</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
            <div class="card mdl-shadow--2dp">
              <div class="card-body" style="position: relative;">
                <span style="display: table; margin: auto; font-weight: bold; font-size: 20px">{{questionTime}}</span>
                <h4 class="card-title">
                    {{this.questionTitle}}
                </h4>
                <div class="card-body">
                    <button *ngFor="let o of options" (click)="setOption(o)" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 90%; display: table; margin: 5px auto; text-transform: none">
                        <span>{{o}}</span>
                    </button>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>