<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="card col-md-6 col-12 self-align-center" style="width: 100%;max-width: none">
    <div class="card-body" style="background: #fff; border-radius: 4px;" >
      <h4 class="card-title">Lista de Contatos</h4>
      <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar</span>
      <input class="form-control col-8" (keydown.enter)="searchContatos(queryContatos)" [(ngModel)]="queryContatos" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>
      <!-- <button class="btn btn-info col-2" style="margin: 15px;">
        Buscar
      </button> -->
      <div *ngIf="emptyResult || resultsFilterContatos.length < 1" style="display: table; margin: auto; width: 65%">
        <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
        <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
        <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
      </div>
    
      <div class="table-responsive m-t-40">
        <table *ngIf="!emptyResult && resultsFilterContatos.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 45px;">
            <thead>
                <tr>
                    <th><i class="material-icons">account_circle</i></th>
                    <th>Nome</th>
                    <th>Telefone Fixo</th>
                    <th>Telefone Móvel</th>
                    <th>E-mail</th>
                    <th>Observações</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of resultsFilterContatos | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"  style="margin-bottom: 5px; margin-top: 5px;">
                <td style="width: 42px;" id="mainTd-{{i}}">
                  <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                    <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{c.CON_Nome.split('')[0]}}</span>
                  </div>
                </td>

                <td >
                  <span >
                    {{c.CON_Nome}}
                  </span>
                </td>

                <td >
                  <span >
                    {{c.CON_Telefone_Fixo}}
                  </span>
                </td>
      

                <td >
                  <span >
                    {{c.CON_Telefone_Movel}}
                  </span>
                </td>
        

                <td >
                  <span >
                    {{c.CON_Email}}
                  </span>
                </td>

                <td >
                  <span > 
                    {{c.CON_Observacoes}}
                  </span>
                </td>

                <td style="position: relative;">
                  <button (click)="c.menuRow = !c.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                  <div *ngIf="c.menuRow" style="width: 120px; background-color: #fff; z-index: 15; position: absolute; right: 10px; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/cadContato', {page: 'editar', conId: c.CON_ID}]">
                      <i class="material-icons" style="font-size: 14px">mode_edit</i>
                      Editar
                    </button>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="deleteContato(c)">
                      <i class="material-icons" style="font-size: 14px">delete</i>
                      Apagar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" style="float: right"></pagination-controls>
      </div>
    </div>
  </div>
</div>