<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-12">
        <!-- Column -->
        <div class="card">
            <div class="card-body table-responsive m-t-40">
                <h4 class="card-title">Respostas</h4>
                <button class="btn btn-success col-3" style="float: right" (click)="makePDF()">
              Imprimir
            </button>

                <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar pelo titulo</span>
                <input class="form-control col-8" [(ngModel)]="queryPerguntas" (keydown.enter)="searchPerguntas($event, queryPerguntas)" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />

                <div *ngIf="resultsFilterQuiz.length < 1" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                </div>

                <div *ngIf="doneLoad && resultsFilterQuiz.length > 0">
                    <div class="mdl-card" *ngFor="let pergunta of resultsFilterQuiz | paginate: { itemsPerPage: 1, currentPage: p }; let pIndex = index" style="width: 100%;">
                        <div class="mdl-card__title" style="display: table; margin: auto; position: relative;">
                            <span style="font-size: 22px;">{{pergunta.pergunta_id}})  {{pergunta.pergunta}}</span>
                            <button style="position: absolute; right: -40px; top: 5px;" title="Inativar pergunta" (click)="inativarPergunta(pergunta)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-color-text--white mdl-color--red-500">
                    <i class="material-icons">remove</i>
                  </button>
                            <button style="position: absolute; right: -85px; top: 5px;" title="Remover pergunta" (click)="apagarPergunta(pergunta, pIndex)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-color-text--white mdl-color--amber-500">
                    <i class="material-icons">delete_sweep</i>
                  </button>
                        </div>
                        <div class="mdl-card__media mdl-color--white">
                            <span style="font-weight: bold">Resposta:</span>
                            <span>{{pergunta.correta}}</span>
                            <div style="margin-top: 20px; width: 100%; border-top:1px solid #dcdcdc;">
                                <div style="width: 100%; ">
                                    <span style="display: table; margin: auto; font-weight: bold; margin-top: 5px;">Integrantes</span>

                                    <div *ngIf="pergunta.usuarios.length < 1" style="display: table; margin: auto; width: 65%">
                                        <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                                    </div>

                                    <table *ngIf="pergunta.usuarios.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 20px;">
                                        <thead>
                                            <tr>
                                                <th><i class="material-icons">account_circle</i></th>
                                                <th>Nome</th>
                                                <th>Nivel</th>
                                                <th>Resposta escolhida</th>
                                                <th>Tempo de Resposta</th>
                                                <th>Tempo estourado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let u of pergunta.usuarios; let i = index">
                                                <td>
                                                    <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                                        <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{u.Usr_Nome.split('')[0]}}</span>
                                                    </div>
                                                </td>
                                                <td>{{u.Usr_Nome}}</td>
                                                <td>{{u.Usr_Nivel}}</td>
                                                <td class="{{u.Aux_Per_Usr_Resposta == pergunta.correta ? 'mdl-color-text--red-500':''}}">{{u.Aux_Per_Usr_Resposta}}</td>
                                                <td>{{u.Aux_Per_Tempo_Resp}}</td>
                                                <td style="text-align: center;"> <i style="display: table; margin: auto" class="material-icons {{ ( (u.Aux_Per_Timeouted == '1' || u.Aux_Per_Timeouted == 1) ? ' mdl-color-text--red-500': 'mdl-color-text--grey-50' ) }}">clear</i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="width: 100%; margin-top: 10px; border-top: 1px solid #dcdcdc;">
                                    <span style="display: table; margin: auto; font-weight: bold; margin-top: 5px;">Promotores</span>

                                    <div *ngIf="pergunta.promotores.length < 1" style="display: table; margin: auto; width: 65%">
                                        <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                                    </div>

                                    <table *ngIf="pergunta.promotores.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 20px;">
                                        <thead>
                                            <tr>
                                                <th><i class="material-icons">account_circle</i></th>
                                                <th>Nome</th>
                                                <th>Resposta escolhida</th>
                                                <th>Tempo de Resposta</th>
                                                <th>Tempo estourado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let u of pergunta.promotores; let i = index">
                                                <td>
                                                    <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                                        <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{u.PRO_Nome.split('')[0]}}</span>
                                                    </div>
                                                </td>
                                                <td>{{u.PRO_Nome}}</td>
                                                <td class="{{u.Aux_Per_Usr_Resposta == pergunta.correta ? 'mdl-color-text--red-500':''}}">{{u.Aux_Per_Usr_Resposta}}</td>
                                                <td>{{u.Aux_Per_Tempo_Resp}}</td>
                                                <td> <i class="material-icons {{ ( (u.Aux_Per_Timeouted == '1' || u.Aux_Per_Timeouted == 1) ? ' mdl-color-text--red-500': 'mdl-color-text--grey-50' ) }}">clear</i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <pagination-controls (pageChange)="p = $event" style="float: right"></pagination-controls>

                <div id="listaQuizTable" style="display: none; margin: auto; border-bottom: 1px solid #d2d1d2; padding-bottom: 10px">
                    <img src="./assets/logo.png" style="width: 120px; position: relative; top: 10px;" />
                    <span style="display: table; margin: auto; margin-bottom: 25px; font-size: 20px; font-weight: 300">KSTrade - Quiz</span>
                    <div class="mdl-card" *ngFor="let pergunta of tempToPrint; let pIndex = index" style="width: 100%;">
                        <div class="mdl-card__title" style="display: table; margin: auto; position: relative;">
                            <span style="font-size: 22px;">{{pergunta.pergunta_id}})  {{pergunta.pergunta}}</span>
                        </div>
                        <div class="mdl-card__media mdl-color--white">
                            <span style="display: table; margin: auto; font-weight: bold">Resposta:</span>
                            <span style="display: table; margin: auto">{{pergunta.correta}}</span>
                            <div style="margin-top: 20px; width: 100%; border-top:1px solid #dcdcdc;">
                                <div style="width: 100%; ">
                                    <span style="display: table; margin: auto; font-weight: bold; margin-top: 5px;">Integrantes</span>

                                    <div *ngIf="pergunta.usuarios.length < 1" style="display: table; margin: auto; width: 65%">
                                        <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                                        <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                                        <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                                    </div>

                                    <table *ngIf="pergunta.usuarios.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 20px;">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Nivel</th>
                                                <th>Resposta escolhida</th>
                                                <th>Tempo de Resposta</th>
                                                <th>Tempo estourado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let u of pergunta.usuarios; let i = index">
                                                <td>{{u.Usr_Nome}}</td>
                                                <td>{{u.Usr_Nivel}}</td>
                                                <td class="{{u.Aux_Per_Usr_Resposta == pergunta.correta ? 'mdl-color-text--red-500':''}}">{{u.Aux_Per_Usr_Resposta}}</td>
                                                <td>{{u.Aux_Per_Tempo_Resp}}</td>
                                                <td> <i class="material-icons {{ ( (u.Aux_Per_Timeouted == '1' || u.Aux_Per_Timeouted == 1) ? ' mdl-color-text--red-500': 'mdl-color-text--grey-50' ) }}">clear</i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="width: 100%; margin-top: 10px; border-top: 1px solid #dcdcdc;">
                                    <span style="display: table; margin: auto; font-weight: bold; margin-top: 5px;">Promotores</span>

                                    <div *ngIf="pergunta.promotores.length < 1" style="display: table; margin: auto; width: 65%">
                                        <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                                    </div>

                                    <table *ngIf="pergunta.promotores.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 20px;">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Resposta escolhida</th>
                                                <th>Tempo de Resposta</th>
                                                <th>Tempo estourado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let u of pergunta.promotores; let i = index">
                                                <td>{{u.PRO_Nome}}</td>
                                                <td class="{{u.Aux_Per_Usr_Resposta == pergunta.correta ? 'mdl-color-text--red-500':''}}">{{u.Aux_Per_Usr_Resposta}}</td>
                                                <td>{{u.Aux_Per_Tempo_Resp}}</td>
                                                <td> <i class="material-icons {{ ( (u.Aux_Per_Timeouted == '1' || u.Aux_Per_Timeouted == 1) ? ' mdl-color-text--red-500': 'mdl-color-text--grey-50' ) }}">clear</i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>