<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <div class="card">
      <div class="card-body table-responsive m-t-40">
        <h4 class="card-title">Logs</h4>
        <!-- <button *ngIf="pdfReady" class="btn btn-success col-3" style="float: right;" (click)="makePDF()">
          Imprimir
        </button> -->

        <div>
          <div style="display: inline-table;width: 380px;margin-left: 15px;margin-bottom: 20px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 15px;right: 10px;">Data</span>
            <div class="input-daterange input-group" style="margin-top: 15px;width: 100%;">
              <input #init class="form-control" id="dataInit" name="end" type="date">
              <div class="input-group-append">
                <span class="input-group-text bg-info b-0 text-white">Até</span>
              </div>
              <input #end class="form-control" id="dataEnd" name="end" type="date">
              <button *ngIf="!alreadySearch" (click)="searchLog(init.value, end.value)"
                class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">search</i>
              </button>
              <button *ngIf="alreadySearch" (click)="clearData(init, end)"
                class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>

          <div style="display: inline-table;width: 380px;margin-left: 15px;margin-bottom: 20px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar</span>
            <input class="form-control col-8" (keydown.enter)="searchLogs(logsInput.value)"
              #logsInput
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
          </div>

          <div *ngIf="emptyResult && this.logs.length < 1 " style="display: table; margin: auto; width: 65%">
            <i class="material-icons"
              style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
            <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
          </div>

          <table *ngIf="!emptyResult" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe"
            data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch
            style="margin-bottom: 20px;">
            <thead>
              <tr>
                <th><i class="material-icons">account_circle</i></th>
                <th>Nome do usuario</th>
                <th>Nivel do usuario</th>
                <th>IP</th>
                <th>Data / Hora</th>
                <th>Informações</th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of logs | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                style="margin-bottom: 5px; margin-top: 5px;">
                <td>
                  <div
                    style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                    <span
                      style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{l.log_usuario_nome.split('')[0]}}</span>
                  </div>
                </td>
                <td>
                  {{l.log_usuario_nome}}
                </td>
                <td>
                  {{l.log_usuario_nivel}}
                </td>
                <td>
                  {{l.log_ip}}
                </td>
                <td>
                  {{l.log_data}}
                </td>
                <td>
                  {{l.log_funcao}}
                </td>

                <!-- <td>
                  Ver localização
                </td> -->
              </tr>
            </tbody>
          </table>

          <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>
        </div>
      </div>
    </div>
  </div>