<div style="width: 100%; height: 100vh; background-color: #ebecfe;" id="main">
    <div style="margin: auto;position: relative;top: 20%;">
        <div class="mdl-card mdl-shadow--2dp" style="width: 70%; margin: auto; display: table;height: 350px;">
            <div style="height: 100%; width: 45%; float: left; display: inline-table; background-image: url('./assets/kstrade_logo_novo.jpg'); background-size: 100% 100%; "></div>
            <div style="width: 55%; float: right;">
                <div class="mdl-card__media mdl-color--white">
                    <div class="mdl-card" style="display: table;  margin: auto;position: relative; top: 80px;">
                        <div class="mdl-card__media mdl-color--white">
                            <span *ngIf="this.expired == 'true'"
                                style="padding: 10px; background: rgba(255,0,0,0.650); width: 95%; border-radius: 10px; display: table;margin: auto;color: #222;margin-bottom: 5px;">
                                Sessão expirada, entre novamente.
                            </span>
                            <form [formGroup]="formLogin">
                                <div class="form-group" style="width: 80%; margin: auto">
                                    <label for="exampleInputpwd2">Usuário</label>
                                    <div class="input-group">
                                        <input (keydown.enter)="passwordInputFocus($event)" type="text"
                                            class="form-control" formControlName="login" [(ngModel)]="usuario" require>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="ti-user"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <small style="color: #d50000;" *ngIf="this.error.title == '0x105'">Preencha este
                                        campo</small>
                                </div>

                                <div class="form-group" style="width: 80%; margin: 5px auto">
                                    <label for="exampleInputpwd2">Senha</label>
                                    <div class="input-group">
                                        <input (keydown.enter)="keydownLogin($event)" type="password" id="passInput"
                                            class="form-control" formControlName="senha" [(ngModel)]="senha" require>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="ti-lock"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <small style="color: #d50000;" *ngIf="this.error.title == '0x105'">Preencha este
                                        campo</small>
                                </div>
                            </form>
                        </div>
                        <div class="mdl-card__actions">
                            <a [routerLink]="['/clienteLogin']"
                                style="position: relative; top: 15px; left: 25px; font-size: 14px; color: #000">Acessar
                                área
                                do
                                cliente</a>
                            <button (click)="logIn(formLogin)" class="btn btn-success waves-effect waves-light m-r-10"
                                style="float:right; margin-bottom: 10px;">
                                Entrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>