.dangerTr{
    color: rgb(0, 146, 12);
}

.normalTr{
    color: rgb(139, 139, 139);
}

@keyframes pisca{
    100%{
        color: #fff;
        color: #54667a;
    }0%{
        color: rgba(187, 13, 13, 0.8);
    }
}

.dangerRow{
    color: rgba(255, 72, 72, 0.8);
}

.dangerRow:hover{
    background-color: #fff;
    color: #54667a;
}

.normalRow{
    background-color: #fff;
}

.precoRow{
    background: rgba(252, 227, 138, 0.4);
    color: #000;
    font-weight: bold;
}

.signRow:hover{
    color: #000;
}

.signRow{
    background: rgba(0, 102, 20, 0.2);
    color: #fff;
    font-weight: bold;
}

.upperRow{
    background: rgb(220, 255, 223);
    color: rgb(0, 65, 16);
    font-weight: bold;
}

.upperRow:hover{
    color: #000;
}

.rupturaTr{
    color: #be0000;
}