<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <div class="card">
      <div class="card-body table-responsive m-t-40" style="position: relative;">
        <h4 class="card-title">Pesquisas realizadas</h4>
        <div>
          <div style="display: inline-table; width: 320px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Cliente</span>
            <input class="form-control col-12" (keydown.enter)="alreadyFiltered = true; searchClientes(queryClientes)"
              [(ngModel)]="queryClientes"
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
          </div>

          <div style="display: inline-table; width: 320px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Produtos</span>
            <input class="form-control col-12" (keydown.enter)="alreadyFiltered = true; searchProdutos(queryProdutos)"
              [(ngModel)]="queryProdutos"
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
          </div>

          <!-- <div style="display: inline-table; width: 320px;">
                <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Produtos</span>
                <input class="form-control col-12" (keydown.enter)="searchProdutos(queryProdutos)" [(ngModel)]="queryProdutos" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>  
              </div> -->

          <div style="display: inline-table; width: 320px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Rede</span>
            <input class="form-control col-12" (keydown.enter)="searchPesquisaRede(queryPesquisaRedes)"
              [(ngModel)]="queryPesquisaRedes"
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
          </div>

          <div style="display: inline-table; width: 320px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Filial</span>
            <input class="form-control col-12" (keydown.enter)="searchPesquisaFilial(queryPesquisaFilial)"
              [(ngModel)]="queryPesquisaFilial"
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
          </div>

          <div style="display: inline-table; width: 320px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Cidade</span>
            <input class="form-control col-12" (keydown.enter)="searchPesquisaCidade(queryPesquisaCidade)"
              [(ngModel)]="queryPesquisaCidade"
              style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
          </div>

          <div id="data" style="position: relative; left: 15px">
            <span style="padding: 24px 10px 10px;position: relative;top: 0px;right: 10px;">Data</span>
            <div class="input-daterange input-group" style="margin-bottom: 30px;width: 35%;">
              <input class="form-control" id="dataInit" name="start" type="text" (blur)="setDateOne()">
              <div class="input-group-append">
                <span class="input-group-text bg-info b-0 text-white">Até</span>
              </div>
              <input class="form-control" id="dataEnd" name="end" type="text" (blur)="setDateTwo()">
              <button *ngIf="alreadySearch" (click)="clearData()"
                class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">clear</i>
              </button>
              <button *ngIf="!alreadySearch" (click)="searchPesquisas()"
                class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">search</i>
              </button>
            </div>
          </div>

          <div style="width: 100%; margin: 10px auto">
            <span style="font-size: 10px; margin: 5px;">Legenda: </span>
            <div *ngIf="!onlyMarket">
              <div style="width: 100%;">
                <div style="margin: 2px; height: 25px; background: rgb(252, 227, 138) ">
                  <span style="color: #000; font-weight: bold; font-size: 10px">Preços rebaixados</span>
                </div>
              </div>
              <div style="width: 100%;">
                <div style="margin: 2px; height: 25px; background: rgb(0, 102, 20)">
                  <span style="color: #fff; font-weight: bold; font-size: 10px">Pesquisa sinalizada</span>
                </div>
              </div>
            </div>
            <div *ngIf="onlyMarket">
              <div style="width: 100%;">
                <div style="margin: 2px; height: 25px; background: rgb(0, 102, 20)">
                  <span style="color: #fff; font-weight: bold; font-size: 10px">Acima de 50%</span>
                </div>
              </div>
              <div style="width: 100%;">
                <div style="margin: 2px; height: 25px; background: rgb(252, 227, 138) ">
                  <span style="color: #000; font-weight: bold; font-size: 10px">50% de espaço</span>
                </div>
              </div>
              <div style="width: 100%;">
                <div style="margin: 2px; height: 25px; background: rgb(243, 44, 44)">
                  <span style="color: #fff; font-weight: bold; font-size: 10px">Abaixo de 50%</span>
                </div>
              </div>
            </div>
          </div>

          <!-- *ngIf="alreadyFiltered" -->
          <button class="btn btn-success col-2" (click)="makeExcel()">
            Gerar Excel
          </button>

          <button class="btn btn-success col-2" (click)="onlyMarketShare()">
            {{ this.onlyMarket ? 'Retornar':'Visualizar Market Share'}}
          </button>

          <button class="btn btn-success col-2" (click)="this.selectAll = !this.selectAll">
            {{ this.selectAll ? 'Desselecionar':'Selecionar'}}
          </button>

          <button *ngIf="this.selectAll" class="btn btn-success col-2" (click)="deleteSelected()">
            Apagar selecionados
          </button>

        </div>

        <div *ngIf="emptyResult || resultsFilterPesquisas.length < 1" style="display: table; margin: auto; width: 65%">
          <i class="material-icons"
            style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
          <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
          <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
        </div>

        <div *ngIf="!emptyResult && resultsFilterPesquisas.length > 0"
          style="display: table; margin: auto; border-bottom: 1px solid #d2d1d2; padding-bottom: 10px; width: 100%">
          <div *ngFor="let f of resultsFilterPesquisas | paginate: { itemsPerPage: 1, currentPage: p }; let i = index"
            style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
            <span
              style="font-size: 16px; cursor: pointer; position: relative; top: 10px; font-weight: bold; display: table; margin: auto">
              {{f.cliente_nome}} -
              {{f.dias_semana.replace(';', ' / ').replace(';', ' / ').replace(';', ' / ').replace(';', ' / ').replace(';', ' / ')}}

              <button [routerLink]="['/main/pesquisa', {page: 'editar', cliente: f.cliente_id}]"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--red-500 mdl-color-text--white"
                style="float: right;margin-left: 30px;position: relative;bottom: 5px;">
                <i class="material-icons" style="font-size: 20px;">mode_edit</i>
              </button>

              <button (click)="limparPesquisa(f)"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--amber-500 mdl-color-text--white"
                style="float: right;margin-left: 30px;position: relative;bottom: 5px;">
                <i class="material-icons" style="font-size: 20px;">delete_sweep</i>
              </button>
            </span>

            <div *ngFor="let fc of f.content; let fI = index">
              <button (click)="fc.expanded = !fc.expanded"
                class="m-4 mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                title="{{fc.expanded ? 'Minimizar': 'Expandir'}} conteúdo">
                <i class="material-icons">{{fc.expanded ? 'minimize':'add'}}</i>
              </button>
              <span style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{fc.pro_nome}}</span>
              <button *ngIf="this.userData[0].Usr_Nivel == 'Admin'" (click)="removeProduto(fc)"
                style="width: 25px;min-width: 0;min-height: 0;height: 25px;"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--red-500 mdl-color-text--white">
                <i class="material-icons" style="font-size: 20px;">delete_forever</i>
              </button>
              <div
                style="border-top: 1px solid #940000; margin-top: 25px; border-bottom: 1px solid #fefefe; display: block; margin-right: 20px;">

                <div *ngIf="fc.pesquisas.length < 1" style="display: table; margin: 5px auto; width: 55%">
                  <i class="material-icons"
                    style="font-size: 22px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                  <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                  <span style="display: table; margin: auto;  margin-top: 10px; font-size: 10px">Nenhuma pesquisa
                    encontrada!</span>
                </div>

                <div class="row">
                  <div class="col-12" *ngIf="fc.expanded">
                    <div *ngFor="let infos of fc.pesquisas; let pI = index"
                      class="row border-bottom {{(infos.hasDif === true && infos.pes_status == 3) ? 'precoRow':(infos.hasDif === true && infos.pes_status == 2) ? 'signRow':(infos.hasDif === true && infos.pes_status == 0) ? 'dangerRow': (infos.hasMarket == true && (infos.marketNum > 49 && infos.marketNum < 51 )) ? 'precoRow':(infos.hasMarket == true && infos.marketNum <= 50) ? 'dangerRow':(infos.hasMarket == true && infos.marketNum > 51) ? 'upperRow':'normalRow' }}">
                      <div class="col-12 d-flex">
                        <div class="col-2 d-flex justify-content-center align-items-center" *ngIf="this.selectAll">
                          <input style="width: 40px; height: 40px" type="checkbox" id="pesquisa-{{i}}-{{fI}}-{{pI}}" />
                        </div>
                        <div class="{{this.selectAll ? 'col-10': 'col-12'}}">
                          <h4 class="align-self-start font-weight-bold">
                            {{infos.PRO_Nome}}
                          </h4>
                          <div class="col-12">
                            <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe"
                              data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap
                              data-tablesaw-mode-switch style="margin-bottom: 20px;">
                              <thead>
                                <tr>
                                  <td>Rede</td>
                                  <td>Filial</td>
                                  <td>Cidade</td>
                                  <td>Data de realização</td>
                                  <td>Datas de vencimento</td>
                                  <td>Preço</td>
                                  <td>Numero de Frentes</td>
                                  <td>N. Total da Categoria</td>
                                  <td>Produto em Ruptura Total</td>
                                  <td>Produto em Estoque</td>
                                  <td>Produto em área de venda</td>
                                  <td>Envio de e-mail</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr style="cursor: pointer">
                                  <td>{{infos.RED_Nome}}</td>
                                  <td>{{infos.RFIL_Nome}}</td>
                                  <td>{{infos.RFIL_Cidade}} - {{infos.RFIL_Estado}}</td>
                                  <td>{{infos.pes_data2}}</td>
                                  <td>
                                    <div *ngIf="infos.pes_data_vencimento != null">
                                      <span *ngIf="infos.pes_data_vencimento.split(';').length == 0">Sem registro</span>
                                      <span
                                        *ngFor="let sd of infos.pes_data_vencimento.split(';'); let sindex = index">{{(sd == '' ? '': sd)}}<br /></span>
                                    </div>
                                  </td>
                                  <td>
                                    <span *ngIf="infos.pes_preco != null">
                                      R$ {{infos.pes_preco.replace('.',',').replace(',', '.')}}
                                    </span>
                                    <span *ngIf="infos.pes_preco == null">
                                      Sem preço
                                    </span>
                                  </td>
                                  <td>
                                    {{infos.pes_numero_frentes !== null && infos.pes_numero_frentes != 'null'  ?  infos.pes_numero_frentes:'Sem informações ainda'}}
                                  </td>
                                  <td>
                                    {{infos.pes_numero_max_frentes !== null && infos.pes_numero_max_frentes != 'null' ?  infos.pes_numero_max_frentes: 'Sem informações ainda'}}
                                  </td>
                                  <td>
                                    <span
                                      class="material-icons {{infos.pes_rupturatotal == '1'? 'rupturaTr dangerRow':'normalTr'}}">done_outline</span>
                                  </td>
                                  <td>
                                    <span
                                      class="material-icons {{infos.pes_estoque == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                                  </td>
                                  <td>
                                    <span
                                      class="material-icons {{infos.pes_prateleira == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                                  </td>
                                  <td>
                                    <button (click)="sendCritcEmail(fc, infos)"
                                      class="mdl-button mdl-js-button mdl-button--icon">
                                      <i class="material-icons">mail_outline</i>
                                    </button>
                                  </td>
                                  <td>
                                    <button *ngIf="this.userData[0].Usr_Nivel == 'Admin'"
                                      (click)="deletePesquisa(infos)" class="mdl-button mdl-js-button mdl-button--icon">
                                      <i class="material-icons">clear</i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="fc.pro_concorrente_nome != null">
                        <div class="col-12">
                          <h4 class="align-self-start font-weight-bold">
                            Concorrente: {{fc.pro_concorrente_nome}}
                          </h4>
                          <div class="col-12">
                            <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe"
                              data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap
                              data-tablesaw-mode-switch style="margin-bottom: 20px;">
                              <thead>
                                <tr>
                                  <td>Número de frentes</td>
                                </tr>
                              </thead>
                              <tbody>
                                <td>
                                  {{infos.pes_concorrente_numero_frentes || 'ZERO'}} 
                                </td>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <table *ngIf="fc.pesquisas.length > 0" class="tablesaw table-bordered table-hover table"
                  data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap
                  data-tablesaw-mode-switch style="margin-bottom: 20px;">
                  <thead>
                    <tr>
                      <td *ngIf="this.selectAll">
                        <i class="material-icons">done</i>
                      </td>
                      <td>Promotor</td>
                      <td>Rede</td>
                      <td>Filial</td>
                      <td>Cidade</td>
                      <td>Data de realização</td>
                      <td>Datas de vencimento</td>
                      <td>Quantidade</td>
                      <td>Preço</td>
                      <td>Numero de Frentes</td>
                      <td>N. Total da Categoria</td>
                      <td>Produto em Ruptura Total</td>
                      <td>Produto em Estoque</td>
                      <td>Produto em área de venda</td>
                      <td>Envio de e-mail</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="cursor: pointer" *ngFor="let infos of fc.pesquisas; let pI = index"
                      class="{{(infos.hasDif === true && infos.pes_status == 3) ? 'precoRow':(infos.hasDif === true && infos.pes_status == 2) ? 'signRow':(infos.hasDif === true && infos.pes_status == 0) ? 'dangerRow': (infos.hasMarket == true && (infos.marketNum > 49 && infos.marketNum < 51 )) ? 'precoRow':(infos.hasMarket == true && infos.marketNum <= 50) ? 'dangerRow':(infos.hasMarket == true && infos.marketNum > 51) ? 'upperRow':'normalRow' }}">
                      <td *ngIf="this.selectAll">
                        <input type="checkbox" id="pesquisa-{{i}}-{{fI}}-{{pI}}" />
                      </td>
                      <td>
                        {{infos.PRO_Nome}}
                      </td>
                      <td>{{infos.RED_Nome}}</td>
                      <td>{{infos.RFIL_Nome}}</td>
                      <td>{{infos.RFIL_Cidade}} - {{infos.RFIL_Estado}}</td>
                      <td>{{infos.pes_data2}}</td>
                      <td>
                        <div *ngIf="infos.pes_data_vencimento != null">
                          <span *ngIf="infos.pes_data_vencimento.split(';').length == 0">Sem registro</span>
                          <span
                            *ngFor="let sd of infos.pes_data_vencimento.split(';'); let sindex = index">{{(sd == '' ? '': sd)}}<br /></span>
                        </div>
                      </td>
                      <td>
                            <span *ngIf="infos.pes_quantidade.split(';').length < 1">Sem registro</span>
                            <span *ngFor="let si of infos.pes_quantidade.split(';'); let sindex = index">{{ (si == '' ? '': si + ' un.')}} <br /></span>
                          </td>
                      <td>
                        <span *ngIf="infos.pes_preco != null">
                          R$ {{infos.pes_preco.replace('.',',').replace(',', '.')}}
                        </span>
                        <span *ngIf="infos.pes_preco == null">
                          Sem preço
                        </span>
                      </td>
                      <td>
                        {{infos.pes_numero_frentes !== null && infos.pes_numero_frentes != 'null'  ?  infos.pes_numero_frentes:'Sem informações ainda'}}
                      </td>
                      <td>
                        {{infos.pes_numero_max_frentes !== null && infos.pes_numero_max_frentes != 'null' ?  infos.pes_numero_max_frentes: 'Sem informações ainda'}}
                      </td>
                      <td>
                        <span
                          class="material-icons {{infos.pes_rupturatotal == '1'? 'rupturaTr dangerRow':'normalTr'}}">done_outline</span>
                      </td>
                      <td>
                        <span
                          class="material-icons {{infos.pes_estoque == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                      </td>
                      <td>
                        <span
                          class="material-icons {{infos.pes_prateleira == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                      </td>
                      <td>
                        <button (click)="sendCritcEmail(fc, infos)" class="mdl-button mdl-js-button mdl-button--icon">
                          <i class="material-icons">mail_outline</i>
                        </button>
                      </td>
                      <td>
                        <button *ngIf="this.userData[0].Usr_Nivel == 'Admin'" (click)="deletePesquisa(infos)"
                          class="mdl-button mdl-js-button mdl-button--icon">
                          <i class="material-icons">clear</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table> -->
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="p = $event"
            style="border-top: 1px solid #dcdcdc; float: right; margin-top: 50px"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>