<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-md-6 col-8 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Cliente </a></li>
            <li class="breadcrumb-item active">{{this.pageParams.params.nome}}</li>
        </ol>
    </div>
    <div class="form-group ">
        <label class="col-2 col-form-label">Rede <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input (keydown)="filterRede($event, this.rede, this.redes)" style="cursor: pointer" readonly [(ngModel)]="this.rede" (click)="redeOK = !redeOK"  type="text" class="comboBox__input">

                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="redeOK = !redeOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>

                <div class="comboBox__items" *ngIf="redeOK" (blur)="redeOK = false">
                    <button  *ngFor="let r of resultFilterRedes; let i = index" (click)="setRede(r)" class="mdl-button mdl-js-button comboBox__item">
                        <span style="position: absolute; left: 2px; top: 2px;">{{r.RED_Nome}}</span>
                    </button>
                </div>
            </div>
            <!-- <select id="redeSelect" required class="form-control" [(ngModel)]="this.rede">
                <option selected >{{rede}}</option>
                <option *ngFor="let r of redes; let i = index" (click)="setRede(i)">{{r.RED_Nome}}</option>
            </select> -->
        </div>
        <small *ngIf="this.errorRede.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group " *ngIf="this.rede.length > 0 && this.rede != 'Selecione'">
        <label class="col-2 col-form-label">Filial <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input (keydown)="filterFilial($event, this.filial, this.filiais)" style="cursor: pointer" readonly  [(ngModel)]="this.filial" (click)="filialOK = !filialOK"  type="text" class="comboBox__input">

                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="filialOK = !filialOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>

                <div class="comboBox__items" *ngIf="filialOK" (blur)="filialOK = false">
                    <button *ngFor="let f of resultFilterFiliais; let i = index" (click)="setFilial(f)" class="mdl-button mdl-js-button comboBox__item">
                        <span style="position: absolute; left: 2px; top: 2px;">{{f.RFIL_Nome}}</span>
                    </button>
                </div>
            </div>
            <!-- <select id="filSelect" required class="form-control" [(ngModel)]="this.filial">
                <option selected>{{filial}}</option>
                <option *ngFor="let f of filiais; let i = index" (click)="setFilial(i)">{{f.RFIL_Nome}}</option>
            </select> -->
        </div>
        <small *ngIf="this.errorFilial.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group ">
        <label class="col-2 col-form-label">Valor <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <input id="valorJobInput" type="text" class="form-control" [(ngModel)]="this.valor">
        </div>
        <small *ngIf="this.errorValor.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <button (click)="cadValor()" class="btn btn-info col-12">Cadastrar valor</button>
</div>