<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="form-group ">
        <label class="col-2 col-form-label">Para:</label>
        <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input style="cursor: pointer" readonly [(ngModel)]="this.usuarioDestinario" (click)="usuarioOK = !usuarioOK"  type="text" class="comboBox__input">

                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="usuarioOK = !usuarioOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>

                <div class="comboBox__items" *ngIf="usuarioOK" (blur)="usuarioOK = false">
                    <button *ngFor="let u of usuarios; let i = index" (click)="setUsuario(i)" class="mdl-button mdl-js-button comboBox__item">
                        <!-- <i style="font-size: 8px" class="material-icons {{ (u.Usr_Net_Status == 'true' || u.Usr_Net_Status === true || u.Usr_Net_Status == '1') ? 'mdl-color-text--red-500':'mdl-color-text--gray-50'}}">fiber_manual_record</i> -->
                        <span style="position: absolute; left: 2px; top: 2px;">{{u.Usr_Nome || u.PRO_Nome}}</span>
                    </button>
                </div>
            </div>
        
            <!-- <select id="destino" required class="form-control" [(ngModel)]="this.usuarioDestinario">
                <option disabled>{{usuarioDestinario}}</option>
                <option *ngFor="let u of usuarios; let i = index" (click)="setUsuario(i)">{{u.Usr_Nome}}</option>
            </select> -->
        </div>
    </div>

    <div class="form-group ">
        <label class="col-2 col-form-label">Mensagem:</label>
        <div class="controls col-12">
            <textarea class="form-control" [(ngModel)]="this.mensagemCorpo" ></textarea>
        </div>
    </div>

    <!-- <div class="form-group ">
        <label class="col-2 col-form-label">Prioridade:</label>
        <div class="controls col-12">
            <select required class="form-control" [(ngModel)]="this.prioridade">
                <option disabled>{{prioridade}}</option>
                <option *ngFor="let p of ['Alta', 'Média', 'Baixa']; let i = index" (click)="setPrioridade(p)">{{p}}</option>
            </select>
        </div>
    </div> -->

    <button (click)="sendMensagem()" class="btn btn-info col-12">Enviar</button>
</div>