<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div class="card-body table-responsive m-t-40">
        <h4 class="card-title">Lista de Comentários</h4>

        <div style="display: inline-table; width: 320px;">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Rede</span>
          <select class="form-control" (change)="searchRede(selectRede.value)" #selectRede
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;">
            <option selected disabled>Selecionar</option>
            <option value="">Nenhum</option>
            <option value="{{c.RED_Nome}}" *ngFor="let c of redes">{{c.RED_Nome}}</option>
          </select>
        </div>

        <!-- <div style="display: inline-table; width: 320px;">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por filial</span>
          <select class="form-control" (change)="searchFilial(selectFilial.value)" #selectFilial
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;">
            <option selected disabled>Selecionar</option>
            <option value="">Nenhum</option>
            <option value="{{r.RFIL_Nome}}" *ngFor="let r of filiais">{{r.RFIL_Nome}}</option>
          </select>
        </div> -->

        <div *ngIf="emptyResult || resultsFilterComentarios.length < 1"
          style="display: table; margin: auto; width: 65%">
          <i class="material-icons"
            style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
          <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
          <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
        </div>

        <table *ngIf="!emptyResult && resultsFilterComentarios.length > 0"
          class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable
          data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 50px;">
          <thead>
            <tr>
              <th><i class="material-icons">account_circle</i></th>
              <th></th>
              <th>Cliente</th>
              <th>Visualizar Comentario</th>
              <th>Rede</th>
              <th>Filial</th>
              <th>Promotor</th>
              <th>Data / Hora</th>
              <th>Informações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let j of resultsFilterComentarios | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
              style="margin-bottom: 5px; margin-top: 5px;">
              <td style="width: 42px;">
                <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                  <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{j.nome_usuario.split('')[0]}}</span>
                </div>
              </td>

              <td>
                <span>
                  {{j.nome_usuario}}
                </span>
              </td>

              <td>
                <span>
                  {{j.Cli_Nome}}
                </span>
              </td>

              <td>
                <a (click)="openDetalhes(j)" style="cursor: pointer" id="openImagemJob">Visualizar</a>
              </td>

              <td>
                <span>
                  {{j.RED_Nome}}
                </span>
              </td>

              <td>
                <span>
                  {{j.RFIL_Nome}}
                </span>
              </td>

              <td>
                <span>
                  {{j.PRO_Nome}}
                  <!-- <i style="font-size: 8px" class="material-icons {{ (j.PRO_Net_Status == 'true' || j.PRO_Net_Status === true || j.PRO_Net_Status == '1') ? 'mdl-color-text--red-500':'mdl-color-text--gray-50'}}">fiber_manual_record</i> -->
                </span>
              </td>

              <td>
                <span>
                  {{j.JOB_Data}}
                </span>
              </td>

              <td>
                <a (click)="openJOBImage(j)" style="cursor: pointer" id="openImagemJob">Visualizar</a>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>
      </div>
    </div>
  </div>
</div>