<audio src="./assets/tone.mp3" id="message_tone"></audio>
<div id="main-wrapper">
    <header class="topbar" style="width: 100%; position: relative; 
        background: linear-gradient(to right, #b51919 0%, #d50000 100%);
        display: block">
        <nav class="top-navbar navbar-expand-md navbar-light" style="height: 70px;">
            <img class="logo" src="./assets/logo.png" alt="Inicio" style="top: 0px;width: 95px;" />
            <div class="navbar-collapse" style="width: 80%;position: relative;left: 235px;bottom: 70px;">
                <ul class="navbar-nav mr-auto mt-md-0 ">
                    <!-- This is  -->
                    <li class="nav-item" style="position: absolute;  top: 20px;left: -215px;"> <a id="menu-order"
                            class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                            href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                </ul>
                <ul class="navbar-nav my-lg-0 no-print">
                    <li class="nav-item hidden-sm-down">
                        <div class="app-search">
                            <label *ngIf="queryClienteError == true"
                                style="margin-right: 5px; color: #fff; text-shadow: rgba(255,255,255,0.2)">Preencha
                                o campo</label>
                            <input type="text" (keydown.enter)="searchCliente($event, queryCliente)"
                                [ngModelOptions]="{standalone: true}" class="form-control"
                                placeholder="Pesquisar cliente" [(ngModel)]="queryCliente">
                            <!-- <button class=" mdl-button mdl-button--icon mdl-js-button srh-btn" (click)="searchCliente($event, queryCliente)">
                                    <i class="ti-search"></i>
                                </button> -->
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img [src]="userImage"
                                alt="user" class="profile-pic" style="width: 42px; height: 42px;" /></a>
                        <div class="dropdown-menu dropdown-menu-right flipInY" style="left: -125px; width: 275px">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img [src]="userImage" alt="user"></div>
                                        <div class="u-text">
                                            <h4>{{this.userData[0].Usr_Nome}}</h4>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a (click)="logOut()"><i class="fa fa-power-off"></i> Sair</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <!-- <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-us"></i></a> -->
                        <!-- <div class="dropdown-menu  dropdown-menu-right animated bounceInDown"> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-in"></i> India</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> China</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> Dutch</a> </div> -->
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar no-print" style="padding-top: 70px; border-right: 1px solid #ff7676">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- User profile -->
            <div class="user-profile">
                <!-- User profile image -->
                <div class="profile-img">
                    <img [src]="userImage" alt="user" style="width: 50px; height: 50px;" />
                </div>
                <!-- User profile text-->
                <div class="profile-text"> <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="true">{{userData[0].Usr_Nome}} <span
                            class="caret"></span></a>
                    <div class="dropdown-menu animated flipInY" style="right: 50px; margin-left: 50px;">
                        <a (click)="logOut()" class="dropdown-item"><i class="fa fa-power-off"></i> Sair</a>
                    </div>
                </div>
            </div>
            <!-- End User profile text-->
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">MENU</li>
                    <li>
                        <a (click)="closeMenu()" style="cursor: pointer" [routerLink]="['dashboard']"
                            aria-expanded="false"><i class="material-icons">home</i><span
                                class="hide-menu">Início</span></a>
                    </li>
                    <li *ngIf="this.userData[0].Usr_Nivel != 'Financeiro'">
                        <a style="cursor: pointer" class="has-arrow " aria-expanded="false"><i
                                class="material-icons">group_add</i><span class="hide-menu">Clientes</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li
                                *ngIf="this.userData[0].Usr_Nivel != 'Representante' && this.userData[0].Usr_Nivel != 'Auxiliar'">
                                <a (click)="closeMenu()" [routerLink]="['cadastroCliente']">Cadastro de Clientes</a>
                            </li>
                            <li><a (click)="closeMenu()" [routerLink]="['listaClientes']">Listagem de Clientes</a></li>
                        </ul>
                    </li>
                    <li
                        *ngIf="this.userData[0].Usr_Nivel != 'Financeiro' && this.userData[0].Usr_Nivel != 'Representante'">
                        <a (click)="openAtendimentosEmergenciais(iconEl)" style="cursor: pointer" class=""
                            aria-expanded="false">
                            <i #iconEl id="iconEl" class="material-icons">notification_important</i>
                            <span class="hide-menu">
                                Atends. Emergenciais
                            </span>
                        </a>
                    </li>
                    <li *ngIf="this.userData[0].Usr_Nivel != 'Financeiro'">
                        <a style="cursor: pointer" class="has-arrow " aria-expanded="false"><i
                                class="material-icons">schedule</i><span class="hide-menu">Rotina</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a (click)="closeMenu()" [routerLink]="['cadRotina']"
                                    *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Auxiliar' || this.userData[0].Usr_Nivel == 'Coordenador'">Cadastro
                                    de Rotina</a></li>
                            <li><a (click)="closeMenu()" [routerLink]="['listaRotina']">Listagem de Rotinas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a style="cursor: pointer" class="has-arrow " aria-expanded="false"><i
                                class="material-icons">web</i><span class="hide-menu">Rede</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a (click)="closeMenu()" [routerLink]="['cadastrarRede']"
                                    *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'">Cadastrar
                                    Rede</a></li>
                            <li><a (click)="closeMenu()" [routerLink]="['listaRedes']">Listagem de Redes</a></li>
                            <li><a (click)="closeMenu()" [routerLink]="['cadFilial']"
                                    *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'">Cadastrar
                                    Filial</a></li>
                            <li><a (click)="closeMenu()" (click)="goto('listaFilial')" [routerLink]="['listaFilial']"
                                    style="cursor: pointer;">Listagem
                                    de Filiais</a></li>
                        </ul>
                    </li>
                    <li *ngIf="this.userData[0].Usr_Nivel != 'Financeiro'">
                        <a style="cursor: pointer" class="has-arrow" aria-expanded="false"><i
                                class="material-icons">pin_drop</i><span class="hide-menu">Rotas</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <!-- <li><a [routerLink]="['novoJob']">Novo Job</a></li> -->
                            <li><a (click)="closeMenu()" [routerLink]="['listaRotas']">Listagem de Rotas</a></li>
                            <!-- <li><a (click)="closeMenu();" [routerLink]="['listaBaixaP']">Baixa Produtividade</a></li> -->

                        </ul>
                    </li>
                    <li>
                        <a style="cursor: pointer" class="has-arrow" aria-expanded="false"><i
                                class="material-icons">group_work</i><span class="hide-menu">Jobs</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <!-- <li><a [routerLink]="['novoJob']">Novo Job</a></li> -->
                            <li><a (click)="closeMenu()" [routerLink]="['listaJobs']">Listagem de Jobs</a></li>
                            <li><a (click)="closeMenu();" [routerLink]="['comentJobs']">Comentários</a></li>

                        </ul>
                    </li>
                    <li *ngIf="this.userData[0].Usr_Nivel != 'Financeiro'">
                        <a style="cursor: pointer" class="has-arrow " aria-expanded="false"><i
                                class="material-icons">group</i><span class="hide-menu">Promotores</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li
                                *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'">
                                <a (click)="closeMenu()" [routerLink]="['cadPromotor']">Cadastro de Promotores</a></li>
                            <li><a (click)="closeMenu()" [routerLink]="['listaPromotor']">Listagem de Promotores</a>
                            </li>
                            <!-- <li *ngIf="this.userData[0].Usr_Nivel == 'Admin'"><a (click)="closeMenu();" [routerLink]="['pProdutividade']">Produtividade</a></li> -->
                            <li
                                *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador' || this.userData[0].Usr_Nivel == 'Auxiliar' || this.userData[0].Usr_Nivel == 'Externo'">
                                <a (click)="closeMenu(); //openPendentes()" [routerLink]="['listaPendentes']">Listagem
                                    de
                                    Produtividade</a></li>

                            <!-- <li
                                *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador' || this.userData[0].Usr_Nivel == 'Auxiliar' ">
                                <a (click)="closeMenu(); " [routerLink]="['lixeira']">Lixeira</a></li> -->
                        </ul>
                    </li>
                    <li *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'">
                        <a style="cursor: pointer" class="has-arrow " aria-expanded="false"><i
                                class="material-icons">account_box</i><span class="hide-menu">Usuários</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a (click)="closeMenu()"
                                    *ngIf="(this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador')"
                                    [routerLink]="['cadUsuario']">Cadastro de Usuários</a></li>
                            <li><a (click)="closeMenu()" [routerLink]="['listaUsuario']">Listagem de Usuários</a></li>
                        </ul>
                    </li>
                    <li *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Financeiro'">
                        <a style="cursor: pointer" class="has-arrow " aria-expanded="false"><i
                                class="material-icons">monetization_on</i><span class="hide-menu">Financeiro</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a style="cursor: pointer" class="has-arrow">Contas a pagar</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a (click)="closeMenu()" [routerLink]="['cadConta']">Cadastrar conta</a></li>
                                    <li style="cursor: pointer"><a (click)="closeMenu()" style="cursor: pointer"
                                            (click)="goto('pagar')"
                                            [routerLink]="['/main/listaContas', {page: 'pagar'}]">Listagem de contas a
                                            pagar</a></li>
                                    <li style="cursor: pointer"><a (click)="closeMenu()" style="cursor: pointer"
                                            (click)="goto('pagas')"
                                            [routerLink]="['/main/listaContas', {page: 'pagas'}]">Listagem de contas
                                            pagas</a></li>
                                </ul>
                            </li>

                            <li><a style="cursor: pointer" class="has-arrow">Contas a receber</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a (click)="closeMenu()" [routerLink]="['cadContasReceber']">Cadastrar contas a
                                            receber</a></li>
                                    <li style="cursor: pointer"><a (click)="closeMenu()" style="cursor: pointer"
                                            (click)="goto('listaAReceber')"
                                            [routerLink]="['/main/listaContasReceber', {page: 'areceber'}]">Listagem de
                                            contas a receber</a></li>
                                    <li style="cursor: pointer"><a (click)="closeMenu()" style="cursor: pointer"
                                            (click)="goto('listaRecebidas')"
                                            [routerLink]="['/main/listaContasReceber', {page: 'recebido'}]">Listagem
                                            contas
                                            recebidas</a></li>
                                </ul>
                            </li>

                            <li><a style="cursor: pointer" class="has-arrow">Tipos de serviço</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a (click)="closeMenu()" [routerLink]="['cadServico']">Cadastrar serviço</a>
                                    </li>
                                    <li><a (click)="closeMenu()" [routerLink]="['listaServico']">Listagem de
                                            serviços</a></li>
                                </ul>
                            </li>

                            <!-- <li><a (click)="closeMenu()" [routerLink]="['valorJob']">Novo Valor de Job</a></li> -->
                            <li><a (click)="closeMenu()" [routerLink]="['listaValorJob']">Valores de Job</a></li>

                        </ul>
                    </li>

                    <li *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                        <a class="has-arrow " style="cursor: pointer" aria-expanded="false"><i
                                class="material-icons">contacts</i><span class="hide-menu">Contatos</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a (click)="closeMenu()" [routerLink]="['cadContato']">Cadastro de Contatos</a></li>
                            <li><a (click)="closeMenu()" [routerLink]="['listaContato']">Listagem de Contatos</a></li>
                        </ul>
                    </li>

                    <li *ngIf="this.userData[0].Usr_Nivel == 'Admin' && this.userData[0].Usr_Nome == 'Administrador' ">
                        <a class="has-arrow">
                            <i class="material-icons">star</i>
                            <span class="hide-menu">Master Area</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a (click)="closeMenu()" [routerLink]="['master', {promotores: true}]">Gerenciar
                                    Promotores</a>
                            </li>
                            <li>
                                <a (click)="closeMenu()" [routerLink]="['master', {usuarios: true}]">Gerenciar
                                    Usuarios</a>
                            </li>
                        </ul>
                    </li>

                    <li *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                        <a [routerLink]="['/main/logs']" style="cursor: pointer" class="" aria-expanded="false">
                            <i #iconEl id="iconEl" class="material-icons">view_list</i>
                            <span class="hide-menu">
                                Logs
                            </span>
                        </a>
                    </li>

                    <li
                        *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Auxiliar' || this.userData[0].Usr_Nivel == 'Coordenador'">
                        <a class="has-arrow " style="cursor: pointer" aria-expanded="false"><i
                                class="material-icons">mobile_screen_share</i><span class="hide-menu">Gerenciar
                                Aplicativo</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <a class="has-arrow " style="cursor: pointer" aria-expanded="false"><span
                                        class="hide-menu">Noticias</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a (click)="closeMenu()" [routerLink]="['addNoticia']">Adicionar Noticia</a>
                                    </li>
                                    <li><a (click)="closeMenu()" [routerLink]="['listaNoticia']">Listar Noticias</a>
                                    </li>
                                    <li><a (click)="closeMenu()" [routerLink]="['cadGrupoNoticia']">Adicionar Grupo</a>
                                    </li>
                                    <li><a (click)="closeMenu()" [routerLink]="['listaComentariosDef']">Comentários
                                            pré-definidos</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class="has-arrow " style="cursor: pointer" aria-expanded="false"><span
                                        class="hide-menu">Pesquisa</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a (click)="closeMenu()" [routerLink]="['pesquisa']">Adicionar pesquisa</a></li>
                                    <li><a (click)="closeMenu()" [routerLink]="['listaPesquisa']">Listar pesquisa</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a class="has-arrow " style="cursor: pointer" aria-expanded="false"><span
                                        class="hide-menu">Quiz</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a (click)="closeMenu()" [routerLink]="['quiz']">Adicionar quiz</a></li>
                                    <li><a (click)="closeMenu()" [routerLink]="['listaQuiz']">Respostas do quiz</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li
                        *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Auxiliar' || this.userData[0].Usr_Nivel == 'Coordenador'">
                        <a (click)="closeMenu()" style="cursor: pointer" [routerLink]="['registroVendedor']"
                            aria-expanded="false">
                            <i class="material-icons">assignment</i>
                            <span class="hide-menu">Registro de vendedores</span>
                        </a>
                    </li>

                    <!-- <li *ngIf="this.userData[0].Usr_Nivel == 'Admin' && (this.userData[0].Usr_ID == 2 || this.userData[0].Usr_ID == 5)">
                    <a (click)="closeMenu()" style="cursor: pointer" [routerLink]="['inatividadeCoord']" aria-expanded="false"><i
                            class="material-icons">assignment_late</i><span class="hide-menu">Inatividade Coordenadores</span></a>
                </li> -->

                    <!-- <li *ngIf="this.userData[0].Usr_Nivel == 'Coordenador'">
                        <a (click)="closeMenu()" style="cursor: pointer" [routerLink]="['listaPesquisa']"
                            aria-expanded="false"><i class="material-icons">bookmark</i><span
                                class="hide-menu">Pesquisas</span></a>
                    </li> -->

                    <li class="nav-devider"></li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
    </aside>

    <router-outlet></router-outlet>

    <footer class="footer" style="position: relative">
        © {{yearNow}} <a style="color: #000; font-weight: bold;" href="https://technoxinformatica.com.br">TechnoX
            Informática</a>
    </footer>
</div>