@keyframes pisca{
  100%{
      color: #54667a;
  }0%{
      color: rgba(187, 13, 13, 0.8);
  }
}

.bit{
  animation: 1s pisca infinite;
  color: rgba(187, 13, 13, 0.8);
}


.topbar {
    background: #009efb;
    /* Old browsers */
    background: -moz-linear-gradient(left, #940000 0%, #00bdda 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #940000 0%, #00bdda 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #940000 0%, #00bdda 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  
  .topbar .navbar-header {
    background: #ffffff;
    box-shadow: 4px -4px 10px rgba(0, 0, 0, 0.05);
  }
  
  .topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  
  .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover, .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
    color: #ffffff !important;
  }
  
  .logo-center .topbar .navbar-header {
    background: transparent;
    box-shadow: none;
  }
  
  .logo-center .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
    display: none;
  }
  
  .logo-center .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
  }


@media print
{    
    .no-print
    {
        display: none !important;
    }
}

.sidebar-nav .has-arrow::after {
  border-color: #d50000;
}