.dialog-container,
.loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* overflow: scroll; */
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.dialog-container > div {
    position: relative;
    width: 50%;
    min-height: 25px;
    margin: 1% auto;
    z-index: 99999;
    padding: 16px 16px 0;
    max-height: 625px;
    height: 600px;
    /*height: 625px; */
    /* overflow: auto; */
}

.dialog-button-bar {
    text-align: right;
    margin-top: 8px;
}

.loading-container > div {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10% auto;
    z-index: 99999;
}

.loading-container > div > div {
    width: 100%;
    height: 100%;
}

.arrowButton{
    background: #4caf50;
    color: #fff;
}

.arrowButton:hover{
    background: #036600;
}

.arrowButton:disabled{
    background-color: #fcfcfc;
    color: #000;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }0%{
        transform: rotate(0deg);
    }
}

.rotate{
    animation: 4s rotate infinite;
}