<div class="page-wrapper">
  <div class="mdl-card mdl-shadow--2dp" style="width: 90%; display: table; margin: auto">
    <div class="mdl-card__title">
      <span style="display: table; margin: 10px auto; font-size: 18px;" id="title">Pesquisa - </span>
    </div>
    <div class="mdl-card__media mdl-color--white">
      <div class="mdl-card mdl-shadow--2dp" *ngFor="let c of cartoes; let i = index"
        style="margin: 5px auto; width: 65%; display: table;">
        <div class="mdl-card__title">
          <span>Produto: {{c.pro_nome}}</span>
        </div>
        <div class="mdl-card__media mdl-color--white">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ruptura_total-{{i}}"
            style="display: table; margin: auto; width: 80%">
            <input type="checkbox" id="ruptura_total-{{i}}" class="mdl-checkbox__input" [(ngModel)]="c.rupturaTotal" />
            <span class="mdl-checkbox__label">Produto em ruptura total</span> <!-- Checkbox Label -->
          </label>

          <div *ngIf="!c.rupturaTotal">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="prateleira-{{i}}"
              style="display: table; margin: auto; width: 80%">
              <input type="checkbox" id="prateleira-{{i}}" class="mdl-checkbox__input" [(ngModel)]="c.prateleira" />
              <span class="mdl-checkbox__label">Produto em área de venda</span> <!-- Checkbox Label -->
            </label>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="estoque-{{i}}"
              style="display: table; margin: auto; width: 80%">
              <input type="checkbox" id="estoque-{{i}}" class="mdl-checkbox__input" [(ngModel)]="c.estoque" />
              <span class="mdl-checkbox__label">Produto em estoque</span> <!-- Checkbox Label -->
            </label>

            <div style="width: 100%; display: table; margin: 15px auto; position: relative">
              <button *ngIf="c.data_vencimento.length <= 2"
                class="mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white" style="margin: 5px"
                (click)="addData(i)">
                <i class="material-icons">add</i>
                <span>Adicionar data</span>
              </button>
              <div class="mdl-textfield mdl-js-textfield" *ngFor="let d of c.data_vencimento; let ii = index"
                style="width: 90%; display: table; margin: auto">
                <button *ngIf="ii > 0"
                  class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white"
                  style="right: 2px;" (click)="removeData(i, ii)">
                  <i class="material-icons">remove</i>
                </button>
                <input class="mdl-textfield__input data_vencimentoInput" [(ngModel)]="d.value"
                  placeholder="Data de vencimento" />
              </div>
            </div>
            <!-- 
            <div style="width: 100%; display: table; margin: 15px auto; position: relative">
              <button *ngIf="c.data_vencimento.length <= 2" class="mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white" style="margin: 5px" (click)="addQuant(i)">
                <i class="material-icons">add</i>
                <span>Adicionar quantidade</span>
              </button>
              <div class="mdl-textfield mdl-js-textfield" *ngFor="let d of c.quantidade; let ii = index" style="width: 90%; display: table; margin: auto">
                <button *ngIf="ii > 0" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white" style="right: 2px;" (click)="removeQuant(i, ii)">
                  <i class="material-icons">remove</i>
                </button>
                <input class="mdl-textfield__input" placeholder="Quantidade" [(ngModel)]="d.value" />
              </div>
            </div> -->

            <div class="mdl-textfield" style="width: 90%; display: table; margin: auto">
              <input class="mdl-textfield__input" placeholder="Preço" [(ngModel)]="c.preco" (keyup)="applyMoneyMask(c)"
                (keydown)="applyMoneyMask(c)" />
            </div>

            <div class="mdl-textfield" style="width: 90%; display: table; margin: auto">
              <input class="mdl-textfield__input" placeholder="Numero de Frentes" [(ngModel)]="c.n_frentes" />
            </div>

            <div *ngIf="c.pro_concorrente_nome">
              <h2 *ngIf="">Concorrente: {{c.pro_concorrente_nome}}</h2>
              <div class="mdl-textfield" style="width: 90%; display: table; margin: auto">
                <input class="mdl-textfield__input" placeholder="Numero de Frentes" [(ngModel)]="c.n_frentes_concorrente" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mdl-card__actions">
      <button type="submit" (click)="cadPesquisa()" class="btn btn-info col-12"
        style="display: table; margin: 5px auto"> Concluir </button>
    </div>
  </div>
</div>