<div class="page-wrapper" id="mainClientePage" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mdl-shadow--2dp" *ngIf="pesquisas.length > 0">
                <div class="card">
                    <div class="card-body table-responsive m-t-40">
                        <h4 class="card-title">Pesquisas realizadas</h4>
                        <div>
                            <div style="display: inline-table; width: 320px;">
                                <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por
                                    Produto</span>
                                <input class="form-control col-12" (keydown.enter)="searchProdutos(queryProdutos)"
                                    [(ngModel)]="queryProdutos"
                                    style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
                            </div>

                            <div style="display: inline-table; width: 320px;">
                                <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por
                                    Rede</span>
                                <input class="form-control col-12"
                                    (keydown.enter)="searchPesquisaRede(queryPesquisaRedes)"
                                    [(ngModel)]="queryPesquisaRedes"
                                    style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
                            </div>

                            <div style="display: inline-table; width: 320px;">
                                <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por
                                    Filial</span>
                                <input class="form-control col-12"
                                    (keydown.enter)="searchPesquisaFilial(queryPesquisaFilial)"
                                    [(ngModel)]="queryPesquisaFilial"
                                    style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
                            </div>

                            <div style="display: inline-table; width: 320px;">
                                <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por
                                    Cidade</span>
                                <input class="form-control col-12"
                                    (keydown.enter)="searchPesquisaCidade(queryPesquisaCidade)"
                                    [(ngModel)]="queryPesquisaCidade"
                                    style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
                            </div>

                            <div id="data" style="position: relative; left: 15px">
                                <span
                                    style="padding: 24px 10px 10px;position: relative;top: 0px;right: 10px;">Data</span>
                                <div class="input-daterange input-group" style="margin-bottom: 30px;width: 35%;">
                                    <input class="form-control" id="dataInitPesquisa" #init name="start" type="date">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-info b-0 text-white">Até</span>
                                    </div>
                                    <input class="form-control" id="dataEndPesquisa" name="end" #end type="date">
                                    <button *ngIf="alreadySearch" (click)="clearDataPesquisa()"
                                        class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                                        style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                                        <i class="material-icons">clear</i>
                                    </button>
                                    <button *ngIf="!alreadySearch" (click)="searchPesquisas(init.value, end.value)"
                                        class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                                        style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                                        <i class="material-icons">search</i>
                                    </button>
                                </div>
                            </div>

                            <button *ngIf="this.userData[0].Usr_ID == 80" class="btn btn-success col-4"
                                (click)="onlyCritic()">
                                {{ this.onlyCrt ? 'Retornar':'Somente datas críticas'}}
                            </button>

                            <button class="btn btn-success col-2" (click)="makeExcel()">
                                Gerar Excel
                            </button>

                        </div>

                        <div *ngIf="emptyResult || resultsFilterPesquisas.length < 1"
                            style="display: table; margin: auto; width: 65%">
                            <i class="material-icons"
                                style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                            <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado
                                encontrado!</span>
                        </div>

                        <div *ngIf="!emptyResult && resultsFilterPesquisas.length > 0"
                            style="display: table; margin: auto; border-bottom: 1px solid #d2d1d2; padding-bottom: 10px; width: 100%">
                            <div *ngFor="let f of resultsFilterPesquisas | paginate: { itemsPerPage: 1, currentPage: p }; let i = index"
                                style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
                                <span
                                    style="font-size: 16px; cursor: pointer; position: relative; top: 10px; font-weight: bold; display: table; margin: auto">{{f.cliente_nome}}</span>

                                <div *ngFor="let fc of f.content; let fI = index">
                                    <button (click)="fc.expanded = !fc.expanded"
                                        class="m-4 mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                        title="{{fc.expanded ? 'Minimizar': 'Expandir'}} conteúdo">
                                        <i class="material-icons">{{fc.expanded ? 'minimize':'add'}}</i>
                                    </button>
                                    <span
                                        style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{fc.pro_nome}}</span>
                                    <div
                                        style="border-top: 1px solid #940000; margin-top: 25px; border-bottom: 1px solid #fefefe; display: block; margin-right: 20px;">

                                        <div *ngIf="fc.pesquisas.length < 1"
                                            style="display: table; margin: 5px auto; width: 55%">
                                            <i class="material-icons"
                                                style="font-size: 22px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                                            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                                            <span
                                                style="display: table; margin: auto;  margin-top: 10px; font-size: 10px">Nenhuma
                                                pesquisa
                                                encontrada!</span>
                                        </div>

                                        <div class="row">
                                            <div class="col-12" *ngIf="fc.expanded">
                                                <div *ngFor="let infos of fc.pesquisas; let pI = index"
                                                    class="row">
                                                    <div class="col-12 d-flex">
                                                        <div class="col-12">
                                                            <h4 class="align-self-start font-weight-bold">
                                                                {{infos.PRO_Nome}}
                                                            </h4>
                                                            <div class="col-12">
                                                                <table class="tablesaw table-bordered table-hover table"
                                                                    data-tablesaw-mode="swipe" data-tablesaw-sortable
                                                                    data-tablesaw-sortable-switch data-tablesaw-minimap
                                                                    data-tablesaw-mode-switch
                                                                    style="margin-bottom: 20px;">
                                                                    <thead>
                                                                        <tr>
                                                                            <td>Rede</td>
                                                                            <td>Filial</td>
                                                                            <td>Data de realização</td>
                                                                            <td>Produto em Ruptura Total</td>
                                                                            <td>Produto em Estoque</td>
                                                                            <td>Produto em área de venda</td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr style="cursor: pointer">
                                                                            <td>{{infos.RED_Nome}}</td>
                                                                            <td>{{infos.RFIL_Nome}}</td>
                                                                            <td>{{infos.pes_data2}}</td>
                                                                            <td>
                                                                                <span
                                                                                    class="material-icons {{infos.pes_rupturatotal == '1'? 'rupturaTr dangerRow':'normalTr'}}">done_outline</span>
                                                                            </td>
                                                                            <td>
                                                                                <span
                                                                                    class="material-icons {{infos.pes_estoque == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                                                                            </td>
                                                                            <td>
                                                                                <span
                                                                                    class="material-icons {{infos.pes_prateleira == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12" *ngIf="fc.pro_concorrente_nome != null">
                                                        <div class="col-12">
                                                            <h4 class="align-self-start font-weight-bold">
                                                                Concorrente: {{fc.pro_concorrente_nome}}
                                                            </h4>
                                                            <div class="col-12">
                                                                <table class="tablesaw table-bordered table-hover table"
                                                                    data-tablesaw-mode="swipe" data-tablesaw-sortable
                                                                    data-tablesaw-sortable-switch data-tablesaw-minimap
                                                                    data-tablesaw-mode-switch
                                                                    style="margin-bottom: 20px;">
                                                                    <thead>
                                                                        <tr>
                                                                            <td>Número de frentes</td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <td>
                                                                            {{infos.pes_concorrente_numero_frentes || 'ZERO'}}
                                                                        </td>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div *ngFor="let fc of f.content; let fI = index">
                              <span style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{fc.pro_nome}}</span>
                              <div style="border-top: 1px solid #940000; margin-top: 25px; border-bottom: 1px solid #fefefe; display: block; margin-left: 20px" >
                                  
                                  <div *ngIf="fc.pesquisas.length < 1" style="display: table; margin: 5px auto; width: 55%">
                                  <i class="material-icons" style="font-size: 22px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                                  <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                                  <span style="display: table; margin: auto;  margin-top: 10px; font-size: 10px">Nenhuma pesquisa encontrada!</span>
                                  </div>
              
                                  <table *ngIf="fc.pesquisas.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 20px;">
                                  <thead>
                                      <tr>
                                      <td>Promotor</td>
                                      <td>Rede</td>
                                      <td>Filial</td>
                                      <td>Data de realização</td>
                                      <td>Produto em Ruptura Total</td>
                                      <td>Produto em Estoque</td>
                                      <td>Produto em área de venda</td>
                                      <td *ngIf="this.userData[0].Usr_ID == 80">Enviar e-mail</td>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr style="cursor: pointer" *ngFor="let infos of fc.pesquisas; let pI = index"  class="{{infos.hasDif === true ? 'dangerRow':'normalRow'}}">
                                          <td>{{infos.PRO_Nome}}</td>
                                          <td>{{infos.RED_Nome}}</td>
                                          <td>{{infos.RFIL_Nome}}</td>
                                          <td>{{infos.pes_data2}}</td>
                                          <td>
                                              <span class="material-icons {{infos.pes_rupturatotal == '1'? 'rupturaTr':'normalTr'}}">done_outline</span>
                                          </td>
                                          <td>
                                              <span class="material-icons {{infos.pes_estoque == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                                          </td>
                                          <td>
                                              <span class="material-icons {{infos.pes_prateleira == '1'? 'dangerTr':'normalTr'}}">done_outline</span>
                                          </td>
                                          <td *ngIf="this.userData[0].Usr_ID == 80">
                                              <button (click)="sendCritcEmail(fc, infos)" class="mdl-button mdl-js-button mdl-button--icon">
                                                  <i class="material-icons">mail_outline</i>
                                              </button>
                                          </td>
                                      </tr>
                                  </tbody>
                                  </table>
                              </div>
                          </div> -->
                            </div>
                            <pagination-controls (pageChange)="p = $event"
                                style="border-top: 1px solid #dcdcdc; float: right; margin-top: 50px">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>