<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-md-6 col-8 align-self-center">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['cadConta']">Cadastrar conta</a></li>
      </ol>
  </div>
  <form  [formGroup]="cadastroConta" >
      <div class="form-group ">
          <label class="col-2 col-form-label">Descrição <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" class="form-control" formControlName="descricao" [(ngModel)]="this.descricao">
          </div>
          <small *ngIf="this.errorDescricao.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">Data de vencimento <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="date" class="form-control" formControlName="datavencimento" [(ngModel)]="this.datavencimento">
          </div>
          <small *ngIf="this.errorData.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">Valor <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" id="valorInputConta" class="form-control" formControlName="valor" [(ngModel)]="this.valor">
          </div>
          <small *ngIf="this.errorValor.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

    <button  (click)="cadConta()" class="btn btn-info col-12">{{this.pageParams.params.page == 'editar' ? 'Atualizar':'Cadastrar'}}</button>
  </form>
</div>