<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <!-- Column -->
    <div class="card">
        <div class="card-body table-responsive m-t-40" >
          <h4 class="card-title">Lista de Serviços</h4>
          
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar</span>
          <input class="form-control col-8" (keydown.enter)="searchServicos(queryServicos)" [(ngModel)]="queryServicos" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>
          
          <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
            <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
            <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
          </div>

          <table *ngIf="!emptyResult" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 80px;" >
                <thead>
                   <tr>
                      <th><i class="material-icons">account_circle</i></th>
                      <th>Nome</th>
                      <th>Ações</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of resultsFilterServicos; let i = index">
                  <td>
                    <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                      <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{s.TIPS_Nome.split('')[0]}}</span>
                    </div>
                  </td>
                  <td>{{s.TIPS_Nome}}</td>
                  <td style="position: relative;">
                    <button (click)="s.menuRow = !s.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                      <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                    <div *ngIf="s.menuRow" style="width: 120px; background-color: #fff; position: absolute; z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/cadServico', {page: 'editar', id: s.TIPS_ID}]">
                        <i class="material-icons" style="font-size: 14px">mode_edit</i>
                        Editar
                      </button>
                      <button (click)="deleteServico(s)" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%">
                        <i class="material-icons" style="font-size: 14px">delete_forever</i>
                        Remover
                      </button>
                    </div>
                  </td>
              </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-md-6 col-12 self-align-center" style="width: 100%; max-width: none">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Serviços</a></li>
      </ol>
      <div style="background: #fff; border-radius: 4px;">
        <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar</span>
        <input class="form-control col-8" (keydown.enter)="searchServicos(queryServicos)" [(ngModel)]="queryServicos" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>
        <!-- <button class="btn btn-info col-2" style="margin: 15px;">
          Buscar
        </button> 
        <div>  
          <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
            <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
            <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
          </div>
        
          <table class="table table-hover table-responsive" *ngIf="!emptyResult">
              <thead>
                  <tr>
                      <th><i class="material-icons">account_circle</i></th>
                      <th>Nome</th>
                      <th>Ações</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of resultsFilterServicos; let i = index">
                    <td>
                      <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                        <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{s.TIPS_Nome.split('')[0]}}</span>
                      </div>
                    </td>
                    <td>{{s.TIPS_Nome}}</td>
                    <td>
                      <button (click)="s.menuRow = !s.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                      </button>
                      <div *ngIf="s.menuRow" style="width: 120px; background-color: #fff; position: absolute; z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/cadServico', {page: 'editar', id: s.TIPS_ID}]">
                          <i class="material-icons" style="font-size: 14px">mode_edit</i>
                          Editar
                        </button>
                        <button (click)="deleteServico(s)" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%">
                          <i class="material-icons" style="font-size: 14px">delete_forever</i>
                          Remover
                        </button>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->