<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">

  <div class="form-group " style="margin-top: 25px;">
    <label class="col-4 col-form-label">Selecione o tipo de cartão <span class="text-danger">*</span></label>
    <div class="controls col-6" style="margin-top: 5px;">
      <label>
        <input type="checkbox" [(ngModel)]="cardSimples" (click)="check('sim')" /> Simples
      </label>
    </div>

    <div class="controls col-6" style="margin-top: 5px;">
      <label>
        <input type="checkbox" [(ngModel)]="cardImage" (click)="check('img')" /> Imagem
      </label>
    </div>
  </div>    

  <div *ngIf="cardImage">
    <div style="position: relative; margin-bottom: 20px;">
      <input type="file" id="input-file-now" (change)="uploadChanges($event)" class="dropify" [(ngModel)]="anexo" data-max-file-size="3M" data-max-file-size-preview="3M"/>
      <button *ngIf="this.toUploadImage.length > 0" class="btn btn-info mdl-js-ripple-effect" style="position: absolute; right: 10px; top: 10px; z-index: 999; width: 200px;" (click)="removeFiles()">
          Remover tudo
      </button>
      <div style="width: 100%;">
        <div style="position: relative; display: inline-table;" *ngFor="let t of toUploadImage; let i = index;" class="{{i > 0 ? 'extra-photo':''}} normal-photo">
            <button (click)="removeImage(i, t)" *ngIf="i > 1" style="position: absolute; right: 2px; top: 2px;" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white">
                <i class="material-icons">remove</i>
            </button>
            <img [src]="this.pageParams.params.page == 'editar' ?  t.foto:('data:image/png;base64,' + t)" style="width: 200px; height: 150px;"/>
        </div>
      </div>
    </div>

    <div *ngIf="toUploadImage.length > 0" class="mdl-card mdl-shadow--2dp" style="margin: 10px auto; margin-bottom: 15px;">
      <div class="mdl-card__title" style="color: #fff; height: 176px;">
        <img [src]=" this.pageParams.params.page == 'editar' ?  this.toUploadImage[0].foto:'data:image/png;base64,' + toUploadImage[0]"  style="display: table; margin: auto; width: 90%; height: 80%"/> 
      </div>
      <div style="width: 100%; min-height: 45px; text-align: center; background: rgba(0,0,0,0.4)">
        <h2 class="mdl-card__title-text descChar" style="color: #fff; display: table; margin: 2px auto">{{titulo}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        {{corpo}}
      </div>
    </div>
  </div>
  
  <div *ngIf="cardSimples" class="mdl-card mdl-shadow--2dp" style="margin: 10px auto; margin-bottom: 15px;">
    <div class="mdl-card__title mdl-color--grey-200" style="color: #000;">
      <h2 class="mdl-card__title-text descChar" style="position: relative; top: 5px; font-size: 18px">{{titulo}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        {{corpo}}
      </p>
    </div>
  </div>

  <div class="form-group " *ngIf="cardImage || cardSimples">
    <label class="col-2 col-form-label">Titulo <span class="text-danger">*</span></label>
    <div class="controls col-12">
        <input type="text" class="form-control" [(ngModel)]="this.titulo">
    </div>
  </div>

  <div class="form-group " *ngIf="cardImage || cardSimples">
    <label class="col-2 col-form-label">Corpo <span class="text-danger">*</span></label>
    <div class="controls col-12">
        <textarea type="text" class="form-control" [(ngModel)]="this.corpo"></textarea>
    </div>
  </div>

  <div class="form-group " *ngIf="cardImage || cardSimples">
    <label class="col-2 col-form-label">Dias para expiração </label>
    <div class="controls col-12">
        <input type="text" class="form-control" [(ngModel)]="this.tempo"/>
    </div>
  </div>

  <div class="form-group " *ngIf="cardImage || cardSimples">
    <div class="controls col-12" style="margin-top: 5px;">
      <label>
        <input type="checkbox" [(ngModel)]="hasgroup" (click)="getGroups()"/> Grupos
        <span class="text-danger">*</span>
      </label>

      <div *ngIf="hasgroup == true" class="mdl-textfield mdl-js-textfield comboBox">
          <input style="cursor: pointer" readonly [(ngModel)]="this.grupo" (click)="groupoOK = !groupoOK"  type="text" class="comboBox__input">

          <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="groupoOK = !groupoOK">
              <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
          </button>

          <div class="comboBox__items" *ngIf="groupoOK" (blur)="groupoOK = false">
              <button *ngFor="let r of grupos; let i = index" (click)="setGrupo(r)" class="mdl-button mdl-js-button comboBox__item">
                  <span style="position: absolute; left: 2px; top: 2px;">{{r.group_nome}}</span>
              </button>
          </div>
      </div>
    </div>
  </div>

  <!-- <div class="form-group " >
    <div class="controls col-12">
        
    </div>
  </div> -->

  <button type="submit" (click)="cadNoticia()" class="btn btn-info col-12">{{this.pageParams.params.page == 'editar' ? 'Atualizar':'Cadastrar'}}</button>

</div>