<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-12">
        <!-- <div (keydown.enter)="closeJobImage($event)" style="width: 100%; left: -8px; height: 100%; background-color: rgba(0,0,0,0.4); position: absolute; top: 0px; z-index: 100;" *ngIf="showJobImage">
        <img (keydown.enter)="closeJobImage($event)" [src]="jobImage" style="position: relative; margin: auto; display: table; width: 500px"/>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--white" (click)="closeJobImage()" style="display: table; margin: auto; top: 3%; position: relative">
          <span style="color: #000; font-weight: bold;">Fechar</span>
          <i class="material-icons mdl-color-text--black" >clear</i>
        </button>
      </div> -->
        <!-- Column -->
        <div class="card">
            <div class="card-body table-responsive m-t-40">
                <h4 class="card-title">Lista de Registros</h4>
                <button class="btn btn-success col-3" style="float: right;" (click)="makePDF()">
                Imprimir
              </button>
                <div style="margin-bottom: 20px;">
                    <div style="display: inline-table; width: 320px;">
                        <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por Nome</span>
                        <input class="form-control col-12" (keydown.enter)="searchVendedores(queryVendedores)" [(ngModel)]="queryVendedores" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
                    </div>

                    <div class="input-daterange input-group" style="width: 35%; left: 10px;">
                        <span style="width: 100%">Data</span>
                        <input class="form-control" id="dataInit" name="start" type="text" (blur)="setDateOne()">
                        <div class="input-group-append">
                            <span class="input-group-text bg-info b-0 text-white">Até</span>
                        </div>
                        <input class="form-control" id="dataEnd" name="end" type="text" (blur)="setDateTwo()">

                        <button (click)="clearData()" class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab" style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                    <i class="material-icons">clear</i>
                  </button>
                    </div>
                </div>

                <div *ngIf="emptyResult || resultsFilterVendedores.length < 1" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                </div>

                <table *ngIf="!emptyResult" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 20px;">
                    <thead>
                        <tr>
                            <th><i class="material-icons">account_circle</i></th>
                            <th>Nome</th>
                            <th>Usuário</th>
                            <th>Data / Hora</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let j of resultsFilterVendedores | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                            <td style="width: 42px;">
                                <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                    <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{j.Usr_Nome.split('')[0]}}</span>
                                </div>
                            </td>

                            <td>
                                <span>
                                {{j.Usr_Nome}}
                              </span>
                            </td>

                            <td>
                                <span>
                                {{j.Usr_Login}}
                              </span>
                            </td>

                            <td>
                                <span>
                                {{j.ven_data2}}
                              </span>
                            </td>

                            <td>
                                <span>
                                {{j.Usr_Status}}
                              </span>
                            </td>

                        </tr>
                    </tbody>
                </table>

                <pagination-controls (pageChange)="p = $event" style="float: right"></pagination-controls>

                <table id="registroTable" class="tablesaw table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="display: none; margin-bottom: 80px;">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data / Hora</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let j of resultsFilterVendedores; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                            <td>
                                <span>
                              {{j.Usr_Nome}}
                            </span>
                            </td>

                            <td>
                                <span>
                              {{j.ven_data2}}
                            </span>
                            </td>

                            <td>
                                <span>
                              {{j.Usr_Status}}
                            </span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- <div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
      <div class="col-md-6 col-12 self-align-center" style="max-width: none">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Jobs</a></li>
        </ol>
        <div style="background: #fff; border-radius: 4px;">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por rede</span>
          <input class="form-control col-8" (keydown.enter)="searchJobs(queryJobs)" [(ngModel)]="queryJobs" style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>
          <!-- <button class="btn btn-info col-2" style="margin: 15px;">
            Buscar
          </button> 
          <div>  
            <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
              <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
              <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
              <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
            </div>
          
            <table class="table table-hover table-responsive" *ngIf="!emptyResult">
              <thead>
                  <tr>
                      <th><i class="material-icons">account_circle</i></th>
                      <th>Cliente</th>
                      <th>Rede</th>
                      <th>Filial</th>
                      <th>Promotor</th>
                      <th>Data / Hora</th>
                      <th>Foto</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let j of resultsFilterJobs; let i = index"  style="margin-bottom: 5px; margin-top: 5px;">
                  <td style="width: 42px;">
                    <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                      <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{j.Cli_Nome.split('')[0]}}</span>
                    </div>
                  </td>
  
                  <td >
                    <span >
                      {{j.Cli_Nome}}
                    </span>
                  </td>
  
                  <td >
                    <span >
                      {{j.RED_Nome}}
                    </span>
                  </td>
  
                  <td >
                    <span >
                      {{j.RFIL_Nome}}
                    </span>
                  </td>
  
                  <td >
                    <span >
                      {{j.PRO_Nome}}
                    </span>
                  </td>
  
                  <td >
                    <span >
                      {{j.JOB_Data_Hora_Input2}}
                    </span>
                  </td>
  
                  <td >
                    <div style="width: 42px; height: 42px; border: 1px solid #000;">
                      <img src=uploads/{{j.JOB_Foto}}" style="margin: auto; display: table; margin-top: 5px; width: 32px; height: 32px;"/>
                    </div>
                  </td>
  
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->