<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-12">
        <!-- Column -->
        <div class="card">
            <div class="card-body table-responsive m-t-40">
                <h4 class="card-title">Lista de Clientes</h4>
                <button class="btn btn-success col-3" style="float: right" (click)="makePDF()">
                Imprimir
              </button>
                <span style="padding: 24px 10px 10px;position: relative;top: 5px;">Buscar</span>
                <input class="form-control col-8" (keydown.enter)="searchClientes(queryClientes)" [(ngModel)]="queryClientes" style="display: block;margin-top: 10px;margin-left: 15px;margin-bottom: 15px;" />

                <div *ngIf="emptyResult || resultsFilterClientes.length < 1" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                </div>

                <table *ngIf="!emptyResult && resultsFilterClientes.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 50px;">
                    <thead>
                        <tr>
                            <th><i class="material-icons">account_circle</i></th>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Tel. Móvel</th>
                            <th>E-mail</th>
                            <th>Coord.</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of resultsFilterClientes | paginate: { itemsPerPage: 15, currentPage: p }; let i = index;">
                            <td style="width: 34px;">
                                <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                    <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{c.Cli_Nome.split('')[0]}}</span>
                                </div>
                            </td>
                            <td>{{c.Cli_Nome}}</td>
                            <td>{{c.Cli_CNPJ}}</td>
                            <td><span>{{c.Cli_TelefoneMovel}}</span> </td>
                            <td><span> {{c.Cli_Email}}</span> </td>
                            <td><span>{{c.Usr_Nome}}</span> </td>
                            <td style="position: relative;">
                                <button (click)="c.menuRow = !c.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                          <i class="material-icons">keyboard_arrow_down</i>
                        </button>
                                <div *ngIf="c.menuRow" style="width: 125px; background-color: #fff; position: absolute; right: 10px; z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4); z-index: 999;">
                                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/editarCliente', {id: c.Cli_ID, nome: c.Cli_Nome}]" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                            <i class="material-icons" style="font-size: 14px">mode_edit</i>
                            Editar
                          </button>

                                    <button (click)="novoBook(c)" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%">
                            <i class="material-icons" style="font-size: 14px">perm_media</i>
                            Gerar book
                          </button>

                                    <button (click)="novoJob(c)" *ngIf="this.userData[0].Usr_Nivel != 'Representante' && this.userData[0].Usr_Nivel != 'Financeiro'" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%">
                            <i class="material-icons" style="font-size: 14px">add</i>
                            Novo job
                          </button>

                                    <button *ngIf="this.userData[0].Usr_Nivel == 'Admin'" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/valorJob', {cliente: c.Cli_ID, nome:c.Cli_Nome}]">
                            <i class="material-icons" style="font-size: 14px">monetization_on</i>
                            Valor job
                          </button>

                                    <button *ngIf="this.userData[0].Usr_Nivel != 'Representante' && this.userData[0].Usr_Nivel != 'Financeiro'" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/listaPesquisa', {forId: c.Cli_ID}]">
                            <i class="material-icons" style="font-size: 14px">bookmark_outline</i>
                            Pesquisas
                          </button>
                                    <!-- <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/cadOTR', {cliente: c.Cli_ID, nome:c.Cli_Nome}]">
                            <i class="material-icons" style="font-size: 14px">bookmark_outline</i>
                            Enviar OTR
                          </button> -->
                                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="deleteCliente(c)" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                            <i class="material-icons" style="font-size: 14px">delete_forever</i>
                            Remover
                          </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>

                <div id="clienteTable" style="display: none; width: 650px; margin: auto">
                    <img src="./assets/logo.png" style="width: 120px; position: relative; top: 10px;" />
                    <span style="display: table; margin: auto; margin-bottom: 25px; font-size: 20px; font-weight: 300">KSTrade - Lista de Clientes</span>
                    <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                        <thead>
                            <tr>
                                <th style="width: 80px;">Nome</th>
                                <th style="width: 80px;">CNPJ</th>
                                <th style="width: 80px;">Tel. Móvel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of resultsFilterClientes; let i = index">
                                <td style="width: 80px;">{{c.Cli_Nome}}</td>
                                <td style="width: 80px;">{{c.Cli_CNPJ}}</td>
                                <td style="width: 80px;"><span>{{c.Cli_TelefoneMovel}}</span> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>