<div class="page-wrapper" style="margin-bottom: 20px; bottom: 20px;">
    <div style="padding-top: 10px">
        <div class="form-group ">
          <label class="col-2 col-form-label">Cliente <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <div class="mdl-textfield mdl-js-textfield comboBox">
                  <input style="cursor: pointer" readonly [(ngModel)]="this.cliente" [ngModelOptions]="{standalone: true}" (click)="clienteOK = !clienteOK"  type="text" class="comboBox__input">

                  <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="clienteOK = !clienteOK">
                      <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                  </button>

                  <div class="comboBox__items" *ngIf="clienteOK" (blur)="clienteOK = false">
                      <button *ngFor="let c of clientes; let i = index" (click)="setCliente(c)" class="mdl-button mdl-js-button comboBox__item">
                          <span style="position: absolute; left: 2px; top: 2px;">{{c.Cli_Nome}}</span>
                      </button>
                  </div>
              </div>
          </div>
          <small *ngIf="this.errorCliente.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>
        
        <div class="form-group ">
            <label class="col-2 col-form-label">Nomes <span class="text-danger">*</span></label>
            <button *ngIf="!(this.pageParams.params.page == 'editar')" (click)="addProduto()" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white" style="float: right; margin-right: 20px;">
              <i class="material-icons">add</i>
            </button>
            <div class="controls col-12">
                <div *ngFor="let p of produtos; let i = index;" class="mdl-textfield mdl-js-textfield" style="width: 100%; padding: 0">
                    <input type="text" class="form-control" placeholder="Nome do produto" [(ngModel)]="p.value"  [ngModelOptions]="{standalone: true}" style="margin-top: 10px;">
                    <input type="text" class="form-control" placeholder="Nome do concorrente" [(ngModel)]="p.valueConcorrente"  [ngModelOptions]="{standalone: true}" style="margin-top: 10px;">
                    <button *ngIf=" ((this.pageParams.params.page == 'editar') ? false:(i >= 1))" (click)="removeProduto(i)" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white" style="position: absolute; right: 5px; top: 12px;">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
            </div>
            <small *ngIf="this.errorNomeProduto.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-4 col-form-label">Número de pesquisas <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input class="form-control" [(ngModel)]="n_vezes"/>
            </div>
            <small *ngIf="this.errorNumeroVezes.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <!-- <div class="form-group ">
            <label class="col-4 col-form-label">Dias da semana para pesquisa</label>
            <div class="controls col-12">
                <div style="width: 100%;border: 1px solid #dcdcdc;border-radius: 4px; background: #fff;">
                    <div style="display: table; margin: auto; width: 100%">
                        <button *ngFor="let d of days" (click)="selectThisDay(d)" style="text-transform: none; display: inline-table; margin: auto; margin-left: 5px; margin-right: 5px; width: calc(100% / 6.4)" class="mdl-button mdl-js-button mdl-js-ripple-effect {{d.activated == true ? 'mdl-color--red-500 mdl-color-text--white': ''}}">
                            <span>{{d.name}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->

        <button type="submit" (click)="cadPesquisa()" class="btn btn-info col-12">Cadastrar</button>
    </div>
</div>