<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    
    <div class="form-group ">
        <label class="col-2 col-form-label">Rede <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input (keydown)="filterRedes($event, this.rede, this.redes)" style="cursor: pointer" readonly [(ngModel)]="this.rede" (click)="redeOK = !redeOK"  type="text" class="comboBox__input">
                
                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="redeOK = !redeOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>
                
                <div class="comboBox__items" *ngIf="redeOK" (blur)="redeOK = false">
                    <button *ngFor="let r of resultFilterRedes; let i = index" (click)="setRede(r)" class="mdl-button mdl-js-button comboBox__item">
                        <span style="position: absolute; left: 2px; top: 2px;">{{r.RED_Nome}}</span>
                    </button>
                </div>
            </div>
        </div>
        <small *ngIf="this.errorRede.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>
    
    <div class="form-group ">
        <label class="col-2 col-form-label">Filial <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input (keydown)="filterFilial($event, this.filial, this.filiais)" style="cursor: pointer" readonly [(ngModel)]="this.filial" (click)="filialOK = !filialOK"  type="text" class="comboBox__input">
                
                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="filialOK = !filialOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>
                
                <div class="comboBox__items" *ngIf="filialOK" (blur)="filialOK = false">
                    <button *ngFor="let r of resultFilterFiliais; let i = index" (click)="setFilial(r)" class="mdl-button mdl-js-button comboBox__item">
                        <span style="position: absolute; left: 2px; top: 2px;">{{r.RFIL_Nome}}</span>
                    </button>
                </div>
            </div>
        </div>
        <small *ngIf="this.errorFilial.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>
    
    <div class="form-group ">
        <label class="col-2 col-form-label">Cliente <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input (keydown)="filterClientes($event, this.cliente, this.clientes)" style="cursor: pointer" readonly [(ngModel)]="this.cliente" (click)="clienteOK = !clienteOK"  type="text" class="comboBox__input">

                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="clienteOK = !clienteOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>

                <div class="comboBox__items" *ngIf="clienteOK" (blur)="clienteOK = false">
                    <button *ngFor="let c of resultFilterClientes; let i = index" (click)="setCliente(c)" class="mdl-button mdl-js-button comboBox__item">
                        <span style="position: absolute; left: 2px; top: 2px;">{{c.Cli_Nome}}</span>
                    </button>
                </div>
            </div>
        </div>
        <small *ngIf="this.errorCliente.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group ">
        <label class="col-2 col-form-label">Promotor <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input (keydown)="filterPromotores($event, this.promotor, this.promotores)" style="cursor: pointer" readonly [(ngModel)]="this.promotor" (click)="promotorOK = !promotorOK"  type="text" class="comboBox__input">

                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="promotorOK = !promotorOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>

                <div class="comboBox__items" *ngIf="promotorOK" (blur)="promotorOK = false">
                    <button *ngFor="let p of resultFilterPromotores; let i = index" (click)="setPromotor(p)" class="mdl-button mdl-js-button comboBox__item">
                        <span style="position: absolute; left: 2px; top: 2px;">{{p.PRO_Nome}}</span>
                    </button>
                </div>
            </div>
        </div>
        <small *ngIf="this.errorPromotor.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group ">
        <label class="col-2 col-form-label">Rotina <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <div style="width: 100%;border: 1px solid #dcdcdc;border-radius: 4px; background: #fff;">
                <div style="display: table; margin: auto; width: 100%">
                    <button *ngFor="let d of days" (click)="selectThisDay(d)" style="text-transform: none; display: inline-table; margin: auto; margin-left: 5px; margin-right: 5px; width: calc(100% / 6.4)" class="mdl-button mdl-js-button mdl-js-ripple-effect {{d.activated == true ? 'mdl-color--red-500 mdl-color-text--white': ''}}">
                        <span>{{d.name}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <button (click)="cadRotina()" class="btn btn-info col-12"> {{this.pageParams.params.page == 'editar' ? 'Atualizar':'Cadastrar' }}</button>
</div>