<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <form  [formGroup]="cadastroContato" >
      <div class="form-group ">
          <label class="col-2 col-form-label">Nome <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" class="form-control" formControlName="nome" [(ngModel)]="this.nome">
          </div>
          <small *ngIf="this.errorNome.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">Telefone Fixo <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input id="inputTelefoneFixoCadContato" type="text" class="form-control" formControlName="telefoneFixo" [(ngModel)]="this.telefoneFixo">
          </div>
          <small *ngIf="this.errorTelefoneFixo.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">Telefone Móvel <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" id="inputTelefoneMovelCadContato" class="form-control" formControlName="telefoneMovel" [(ngModel)]="this.telefoneMovel">
          </div>
          <small *ngIf="this.errorTelefoneMovel.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">E-mail<span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" class="form-control" formControlName="email" [(ngModel)]="this.email">
          </div>
          <small *ngIf="this.errorEmail.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">Observações<span class="text-danger">*</span></label>
          <div class="controls col-12">
              <textarea type="text" class="form-control" formControlName="obs" [(ngModel)]="this.obs"></textarea>
          </div>
          <small *ngIf="this.errorObs.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>
  
      <button (click)="cadContato()" class="btn btn-info col-12">{{this.pageParams.params.page == 'editar' ? 'Atualizar':'Cadastrar'}}</button>
    </form>
  </div>