<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <form [formGroup]="cadastroPromotor">
        <div class="form-group ">
            <label class="col-2 col-form-label">Nome <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input (blur)="getPromotorInf(nome)" type="text" class="form-control" formControlName="nome"
                    [(ngModel)]="this.nome">
            </div>
            <small *ngIf="this.errorNome.required == true"
                style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group " style="margin-top: 25px;">
            <label class="col-4 col-form-label">Selecione o tipo <span class="text-danger">*</span></label>
            <div class="controls col-6" style="margin-top: 5px;">
                <label>
                    <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="isPj" (click)="checkPJFree('p')"/> PJ
                </label>
            </div>

            <div class="controls col-6" style="margin-top: 5px;">
                <label>
                    <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="isFree" (click)="checkPJFree('f')"/> Freelancer
                </label>
            </div>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Telefone Móvel <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" id="inputTelefoneMovelPromotor" class="form-control" formControlName="telefoneMovel"
                    [(ngModel)]="this.telefoneMovel">
            </div>
            <small *ngIf="this.errorTelefoneMovel.required == true"
                style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">E-mail <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" class="form-control" formControlName="email" [(ngModel)]="this.email">
            </div>
            <small *ngIf="this.errorEmail.required == true"
                style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>


        <div class="form-group ">
            <label class="col-2 col-form-label">Status <span class="text-danger">*</span></label>
            <div class="controls col-12">

                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input style="cursor: pointer" readonly formControlName="status" [(ngModel)]="this.status"
                        (click)="statusOK = !statusOK" type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                        (click)="statusOK = !statusOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="statusOK" (blur)="statusOK = false">
                        <button *ngFor="let s of ['Ativo', 'Inativo']; let i = index" (click)="setStatus(s)"
                            class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{s}}</span>
                        </button>
                    </div>
                </div>
                <!-- <select required class="form-control" formControlName="status" [(ngModel)]="this.status">
                    <option value="" selected>{{status}}</option>
                    <option *ngFor="let s of ['Ativo', 'Inativo']; let i = index" (click)="setStatus(s)">{{s}}</option>
                </select> -->
            </div>
            <small *ngIf="this.errorStatus.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Rede <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input (keydown)="filterRede($event, this.rede, this.redes)" style="cursor: pointer" readonly
                        formControlName="rede" [(ngModel)]="this.rede" (click)="redeOK = !redeOK" type="text"
                        class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                        (click)="redeOK = !redeOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="redeOK" (blur)="redeOK = false">
                        <button *ngFor="let r of resultFilterRedes; let i = index" (click)="setRede(r)"
                            class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{r.RED_Nome}}</span>
                        </button>
                    </div>
                </div>
                <!-- ** <select required class="form-control" formControlName="coordenador" [(ngModel)]="this.coordenador">
                    <option value="" selected>{{coordenador}}</option>
                    <option *ngFor="let c of coordenadores; let i = index" (click)="setCoordenador(i)">{{c.Usr_Nome}}</option>
                </select> ** -->
            </div>
            <small *ngIf="this.errorRede.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Filial <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input (keydown)="filterFilial($event, this.filial, this.filiais)" style="cursor: pointer" readonly
                        formControlName="filial" [(ngModel)]="this.filial" (click)="filialOK = !filialOK" type="text"
                        class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                        (click)="filialOK = !filialOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="filialOK" (blur)="filialOK = false">
                        <button *ngFor="let f of resultFilterFiliais; let i = index" (click)="setFilial(f)"
                            class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{f.RFIL_Nome}}</span>
                        </button>
                    </div>
                </div>
                <!-- ** <select required class="form-control" formControlName="coordenador" [(ngModel)]="this.coordenador">
                    <option value="" selected>{{coordenador}}</option>
                    <option *ngFor="let c of coordenadores; let i = index" (click)="setCoordenador(i)">{{c.Usr_Nome}}</option>
                </select> ** -->
            </div>
            <small *ngIf="this.errorFilial.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>



        <!-- <div class="form-group ">
            <label class="col-2 col-form-label">Coordenadores <span class="text-danger">*</span></label>
            <div class="controls col-12">
                    <div class="mdl-textfield mdl-js-textfield comboBox">
                        <input style="cursor: pointer" readonly  formControlName="coordenador" [(ngModel)]="this.coordenador" (click)="coordenadoresOK = !coordenadoresOK"  type="text" class="comboBox__input">
        
                        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="coordenadoresOK = !coordenadoresOK">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </button>
        
                        <div class="comboBox__items" *ngIf="coordenadoresOK" (blur)="coordenadoresOK = false">
                            <button *ngFor="let c of coordenadores; let i = index" (click)="setCoordenador(i)" class="mdl-button mdl-js-button comboBox__item">
                                <span style="position: absolute; left: 2px; top: 2px;">{{c.Usr_Nome}}</span>
                            </button>
                        </div>
                    </div>
                ** <select required class="form-control" formControlName="coordenador" [(ngModel)]="this.coordenador">
                    <option value="" selected>{{coordenador}}</option>
                    <option *ngFor="let c of coordenadores; let i = index" (click)="setCoordenador(i)">{{c.Usr_Nome}}</option>
                </select> **
            </div>
            <small *ngIf="this.errorCoordenador.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div> -->

        <div class="form-group ">
            <label class="col-2 col-form-label">Banco <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input style="cursor: pointer" readonly formControlName="banco" [(ngModel)]="this.banco"
                        (click)="bancoOK = !bancoOK" type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                        (click)="bancoOK = !bancoOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="bancoOK" (blur)="bancoOK = false">
                        <button
                            *ngFor="let b of ['Itau', 'Bradesco', 'Santander', 'Banco do Brasil', 'Caixa']; let i = index"
                            (click)="setBanco(b)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{b}}</span>
                        </button>
                    </div>
                </div>
                <!-- <select required class="form-control" formControlName="banco" [(ngModel)]="this.banco">
                    <option value="" selected>{{banco}}</option>
                    <option *ngFor="let b of ['Itau', 'Bradesco', 'Santander', 'Banco do Brasil', 'Caixa']; let i = index" (click)="setBanco(b)">{{b}}</option>
                </select> -->
            </div>
            <small *ngIf="this.errorBanco.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Agência <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" class="form-control" formControlName="agencia" [(ngModel)]="this.agencia">
            </div>
            <small *ngIf="this.errorAgencia.required == true"
                style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Conta <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" class="form-control" formControlName="conta" [(ngModel)]="this.conta">
            </div>
            <small *ngIf="this.errorConta.required == true"
                style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>


        <button type="submit" (click)="cadPromotor()"
            class="btn btn-info col-12">{{this.pageParams.params.page == 'editar' ? 'Atualizar':'Cadastrar'}}</button>
    </form>
</div>