<div style="width: 100%; height: 100vh; background: #ebecfe; overflow: hidden">
    <!-- <img src=./assets/logo_black.png" style="display: table; margin: auto"/>  -->
    <div style="display: table; margin: 15% auto">
        <div class="rotate" style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
    </div>
</div>