<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-md-6 col-8 align-self-center">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Cadastrar OTR</a></li>
      </ol>
  </div>
  <form  [formGroup]="cadastroOTR" >
    <!-- <div class="form-group ">
      <label class="col-2 col-form-label">Loja<span class="text-danger">*</span></label>
      <div class="controls col-12">
        <input type="text" class="form-control" formControlName="loja" [(ngModel)]="this.loja">
      </div>
      <small *ngIf="this.errorLoja.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div> -->

    <div class="form-group ">
        <label class="col-2 col-form-label">Rede <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <select class="form-control" formControlName="rede" [(ngModel)]="this.rede" >
                <option value="" selected>{{this.rede}}</option>
                <option *ngFor="let r of redes; let i = index" (click)="setRede(r, i)">{{r.RED_Nome}}</option>
            </select>
        </div>
        <small *ngIf="this.errorRede.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group " *ngIf="filialOk">
        <label class="col-2 col-form-label">Filial <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <select class="form-control" formControlName="filial" [(ngModel)]="this.filial" >
                <option value="" selected>{{this.filial}}</option>
                <option *ngFor="let f of filiais; let i = index" (click)="setFilial(f, i)">{{f.RFIL_Nome}}</option>
            </select>
        </div>
        <small *ngIf="this.errorFilial.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group ">
      <label class="col-2 col-form-label">Data<span class="text-danger">*</span></label>
      <div class="controls col-12">
        <input type="text" id="inputDataOtr" class="form-control" formControlName="data" [(ngModel)]="this.data" (blur)="setData()">
      </div>
      <small *ngIf="this.errorData.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group ">
        <label class="col-2 col-form-label">Promotor <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <select class="form-control" formControlName="promotor" [(ngModel)]="this.promotor" >
                <option value="" selected>{{this.promotor}}</option>
                <option *ngFor="let p of promotores; let i = index" (click)="setPromotor(p, i)">{{p.PRO_Nome}}</option>
            </select>
        </div>
        <small *ngIf="this.errorPromotor.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group " *ngIf="coordOk">
        <label class="col-2 col-form-label">Coordenador <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <input disabled="true" type="text" class="form-control" formControlName="coordenador" [(ngModel)]="this.coordenador">
          </div>
        <small *ngIf="this.errorCoordenador.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <div class="form-group">
      <label class="controls col-12 col-form-label">Anexos <span class="text-danger">*</span></label>
      <input type="file" id="input-file-now-otr" (change)="uploadChanges($event)" class="dropify" formControlName="anexo" [(ngModel)]="anexo"/>
      <small *ngIf="this.errorAnexo.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Faça upload de um anexo</small>
    </div>

    <div class="form-group ">
        <label class="col-2 col-form-label">Descrição <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <textarea type="text" class="form-control" formControlName="descricao" [(ngModel)]="this.descricao"></textarea>
          </div>
        <small *ngIf="this.errorDescricao.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>
  
      <button type="submit" (click)="cadOTR()" class="btn btn-info col-12">Cadastrar</button>
  </form>
</div>