<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-md-6 col-12 self-align-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['main']">Novo Job</a></li>
            <li class="breadcrumb-item active">{{this.pageParams.params.clienteNome}}</li>
        </ol>
    </div>
    <form  [formGroup]="cadastroJob" >
        <div class="form-group ">
            <label class="col-2 col-form-label">Rede <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input (keydown)="filterRede($event, this.rede, this.redes)" style="cursor: pointer" readonly formControlName="rede" [(ngModel)]="this.rede" (click)="redeOK = !redeOK"  type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="redeOK = !redeOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="redeOK" (blur)="redeOK = false">
                        <button *ngFor="let r of resultFilterRedes; let i = index" (click)="setRede(r)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{r.RED_Nome}}</span>
                        </button>
                    </div>
                </div>
                <!-- <select required class="form-control" formControlName="rede" [(ngModel)]="this.rede">
                    <option selected>{{rede}}</option>
                    <option *ngFor="let r of redes; let i = index" (click)="setRede(i)">{{r.RED_Nome}}</option>
                </select> -->
            </div>
            <small *ngIf="this.errorRede.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>
  
        <div class="form-group ">
            <label class="col-2 col-form-label">Filial <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input (keydown)="filterFilial($event, this.filial, this.filiais)" style="cursor: pointer" readonly  formControlName="filial" [(ngModel)]="this.filial" (click)="filialOK = !filialOK"  type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="filialOK = !filialOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="filialOK" (blur)="filialOK = false">
                        <button *ngFor="let f of resultFilterFiliais; let i = index" (click)="setFilial(f)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{f.RFIL_Nome}}</span>
                        </button>
                    </div>
                </div>
                <!-- <select required class="form-control" formControlName="filial" [(ngModel)]="this.filial">
                    <option selected>{{filial}}</option>
                    <option *ngFor="let f of filiais; let i = index" (click)="setFilial(i)">{{f.RFIL_Nome}}</option>
                </select> -->
            </div>
            <small *ngIf="this.errorFilial.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Promotores <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input (keydown)="filterPromotor($event, this.promotor, this.promotores)" style="cursor: pointer" readonly  formControlName="promotor" [(ngModel)]="this.promotor" (click)="promotorOK = !promotorOK"  type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="promotorOK = !promotorOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="promotorOK" (blur)="promotorOK = false" style="z-index: 10">
                        <button *ngFor="let p of resultFilterPromotor; let i = index" (click)="setPromotor(p)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{p.PRO_Nome}}</span>
                        </button>
                    </div>
                </div>
                <!-- <select required class="form-control" formControlName="promotor" [(ngModel)]="this.promotor">
                    <option selected>{{promotor}}</option>
                    <option *ngFor="let p of promotores; let i = index" (click)="setPromotor(i)">{{p.PRO_Nome}}</option>
                </select> -->
            </div>
            <small *ngIf="this.errorPromotor.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <!-- <div class="form-group ">
            <label class="col-2 col-form-label">Status <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <select required class="form-control" formControlName="status" [(ngModel)]="this.status">
                    <option>{{status}}</option>
                    <option *ngFor="let s of ['Realizado', 'A realizar']; let i = index" (click)="setStatus(s)">{{s}}</option>
                </select>
            </div>
            <small *ngIf="this.errorStatus.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div> -->
  
        <!-- <div class="form-group ">
            <label class="col-2 col-form-label">Endereço <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" class="form-control" formControlName="endereco" [(ngModel)]="this.endereco">
            </div>
            <small *ngIf="this.errorEndereco.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div> -->

        <!-- <div class="form-group">
            <label class="col-2 col-form-label">Data <span class="text-danger">*</span></label>
            <div class="input-group controls col-12">
                <input id="dataJob" type="text" class="form-control mydatepicker"   formControlName="data" [(ngModel)]="this.data" (blur)="setData()">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="icon-calender"></i></span>
                </div>
            </div>
            <small *ngIf="this.errorData.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>
        
        <div class="form-group ">
            <label class="col-2 col-form-label">Hora <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" class="form-control" formControlName="hora" [(ngModel)]="this.horario">
            </div>
            <small *ngIf="this.errorHora.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div> -->

        <div class="form-group" style="position: relative;">
          <!-- <label class="controls col-12 col-form-label">Anexos <span class="text-danger">*</span><span style="margin-left: 15px;">{{this.toUploadImage.length}} Arquivos</span></label> -->
            <label class="controls col-12 col-form-label">
                Anexos <span class="text-danger">*</span>
                <small> <b class="mdl-color-text--red-500">Atenção: </b>A primeira foto será considerada a foto principal do Job</small>
            </label>
          <input type="file" id="input-file-now" (change)="uploadChanges($event)" class="dropify" formControlName="anexo" [(ngModel)]="anexo" data-max-file-size="3M" data-max-file-size-preview="3M"/>
          <button *ngIf="this.toUploadImage.length > 0" class="btn btn-info mdl-js-ripple-effect" style="position: absolute; right: 10px; top: 45px; z-index: 999; width: 200px;" (click)="removeFiles()">
              Remover tudo
          </button>
          <div style="width: 100%;">
            <div style="position: relative; display: inline-table;" *ngFor="let t of toUploadImage; let i = index;" class="{{i > 0 ? 'extra-photo':''}} normal-photo">
                <button (click)="removeJobImage(i)" style="position: absolute; right: 2px; top: 2px;" class="mdl-button mdl-js-button mdl-button--icon mdl-color--red-500 mdl-color-text--white">
                    <i class="material-icons">remove</i>
                </button>
                <img [src]="'data:image/png;base64,'+t" style="width: 200px; height: 150px;"/>
            </div>
          </div>
          <small *ngIf="this.errorAnexo.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Faça upload de um anexo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Observação <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <textarea type="text" class="form-control" formControlName="obs" [(ngModel)]="this.obs"></textarea>
            </div>
            <small *ngIf="this.errorObs.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>
        <!-- [disabled]="doneCad" -->
      <button  type="submit" (click)="cadJob()" class="btn btn-info col-12" >Cadastrar</button>
    </form>
  </div>