<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="mdl-grid">
      <div class="mdl-card mdl-shadow--2dp col-12">
        <div class="mdl-card__title" style="width: 100%;">
          <span>Grupos</span>
          <div class="pull-right" style="position: absolute; right: 10px;">
            <button [routerLink]="['/main/cadGrupoNoticia']" class="mdl-color--red-500 mdl-color-text--white mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
        <div class="mdl-card__media mdl-color--white ">
          <div *ngIf="noticia.grupos.length < 1 && noticia.grupos === undefined">
            <span style="display: table; margin: auto; font-size: 22px; font-weight: bold;">Nenhuma notícia!</span>
          </div>
          <div *ngFor="let n of noticia.grupos; let i = index">
            <div style="cursor: pointer;" class="accordion_title" style="position: relative">
              <h3 (click)="upgradeAccordion(n, i)"  style="border-bottom: 1px solid #dcdcdc;">{{n.group_nome}}</h3>
              <button (click)="deleteGroup(n, i)"  style="position: absolute;right: 6px;top: -6px;" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-color-text--white">
                <i class="material-icons">clear</i>
              </button>
            </div>
            <div id="accordion_{{i}}" class="mdl-grid resizeUp" >
              <div *ngIf="n.activated == true"> 
                <div class="mdl-cell mdl-cell--4-col" *ngFor="let c of n.content; let ii = index" style="margin: 10px; " >
                  
                  <div style="position: relative; width: 100%">
                    <button (click)="removeNew(c, i, 'g', ii)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-color-text--white" style="position: absolute; top: 5px; left: 180px; z-index: 15;width: 30px;height: 40px;">
                      <i class="material-icons">remove</i>
                    </button>

                    <button [routerLink]="['/main/addNoticia', {page: 'editar', new_id: c.app_id}]" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--amber-500 mdl-color-text--white" style="position: absolute; top: 5px; left: 125px; z-index: 15;width: 30px;height: 40px;">
                      <i class="material-icons">mode_edit</i>
                    </button>
              
                    <button title="Comentarios" (click)="comentarios(c)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-color-text--white" style="position: absolute; top: 5px; left: 70px; z-index: 15;width: 30px;height: 40px;">
                      <i class="material-icons">list</i>
                    </button>
  
                    <button *ngIf="c.app_type == 'image' && c.app_fotos_extras.length > 0" title="Fotos extras" (click)="showFotosExtras(c)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="position: absolute; top: 5px; left: 10px; z-index: 15;width: 30px;height: 40px;">
                      <span>{{c.app_fotos_extras.length}}</span>
                    </button>
                  </div>

                    <div *ngIf="c.app_type == 'image'" class="mdl-card mdl-shadow--2dp" style="margin: 10px auto; margin-bottom: 15px;">
                      <div [style.background]="c.app_image" class="mdl-card__title" style="color: #fff; height: 176px;">
                      </div>
                      <div style="width: 100%; min-height: 45px; text-align: center; background: rgba(0,0,0,0.4)">
                        <h2 class="mdl-card__title-text descChar" style="color: #fff; display: table; margin: 2px auto">{{c.app_title}}</h2>
                      </div>
                      <div class="mdl-card__supporting-text">
                        {{c.app_text}}
                      </div>
                    </div>
                      
                    <div *ngIf="c.app_type == 'simple'" class="mdl-card mdl-shadow--2dp" style="margin: 10px auto; margin-bottom: 15px;">
                      <div class="mdl-card__title mdl-color--grey-200" style="color: #000;">
                        <h2 class="mdl-card__title-text descChar" style="position: relative; top: 5px; font-size: 18px">{{c.app_title}}</h2>
                      </div>
                      <div class="mdl-card__supporting-text">
                        <p>
                          {{c.app_text}}
                        </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngFor="let c of cards; let i = index" style="margin: 10px; position: relative;">
        <button [routerLink]="['/main/addNoticia', {page: 'editar', new_id: c.app_id}]" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--amber-500 mdl-color-text--white" style="position: absolute; top: 5px; right: 55px; z-index: 15;width: 30px;height: 40px;">
          <i class="material-icons">mode_edit</i>
        </button>

        <button (click)="removeNew(c, i, 's')" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-color-text--white" style="position: absolute; top: 5px; right: 5px; z-index: 15;width: 30px;height: 40px;">
          <i class="material-icons">remove</i>
        </button>

        <button title="Comentarios" (click)="comentarios(c)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-color-text--white" style="position: absolute; top: 5px; right: 105px; z-index: 15;width: 30px;height: 40px;">
          <i class="material-icons">list</i>
        </button>

        <button *ngIf="c.app_type == 'image' && c.app_fotos_extras.length > 0" title="Fotos extras" (click)="showFotosExtras(c)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="position: absolute; top: 5px; left: 10px; z-index: 15;width: 30px;height: 40px;">
          <span>{{c.app_fotos_extras.length}}</span>
        </button>

          <div *ngIf="c.app_type == 'image'" class="mdl-card mdl-shadow--2dp" style="margin: 10px auto; margin-bottom: 15px;">
            <div [style.background]="c.app_image" class="mdl-card__title" style="color: #fff; height: 176px;">
            </div>
            <div style="width: 100%; min-height: 45px; text-align: center; background: rgba(0,0,0,0.4)">
              <h2 class="mdl-card__title-text descChar" style="color: #fff; display: table; margin: 2px auto">{{c.app_title}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
              {{c.app_text}}
            </div>
          </div>
            
          <div *ngIf="c.app_type == 'simple'" class="mdl-card mdl-shadow--2dp" style="margin: 10px auto; margin-bottom: 15px;">
            <div class="mdl-card__title mdl-color--grey-200" style="color: #000;">
              <h2 class="mdl-card__title-text descChar" style="position: relative; top: 5px; font-size: 18px">{{c.app_title}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <p>
                {{c.app_text}}
              </p>
            </div>
          </div>
      </div>
  </div>
</div>