@keyframes down{
    100%{
        height: 100%;
    }0%{
        height: 0px;
    }
}

@keyframes up{
    100%{
        height: 0px;
    }0%{
        height: 100%;
    }
}

.resizeDown{
    animation: 1s down;
    height: 100%;
}

.resizeUp{
    animation: 0.5s up;
    height: 0px;
}

.accordion_title:hover{
    background-color: rgba( 234, 234, 234, 0.25 );
}

.accordion_title:hover{
    background-color: rgba( 234, 234, 234, 0.25 );
}

.accordion_title{
    background-color: #fff;
    border-radius: 2px;
}

