<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="form-group ">
        <label class="col-2 col-form-label">Nome da Rede <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <input type="text" class="form-control" [(ngModel)]="this.nomeRede">
        </div>
        <small *ngIf="this.errorNomeRede.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>
    <button (click)="cadRede()" class="btn btn-info col-12">Cadastrar</button>
</div>