<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="form-group ">
        <label class="col-2 col-form-label">Nome do Serviço <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <input type="text" class="form-control" [(ngModel)]="this.servico">
        </div>
        <small *ngIf="this.errorServico.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>
    <button (click)="cadServico()" class="btn btn-info col-12">{{this.pageParams.params.page == 'editar' ? 'Atualizar':'Cadastrar'}}</button>
</div>