<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-md-6 col-12 self-align-center" style="width: 100%;max-width: none">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngIf="this.pageParams.params.page == 'pagar'"><a>Contas a pagar</a></li>
            <li class="breadcrumb-item" *ngIf="this.pageParams.params.page == 'pagas'"><a>Contas pagas</a></li>
        </ol>
        <div style="background: #fff; border-radius: 4px;" class="table-responsive m-t-40">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Filtro</span>
            <button *ngIf="contas.length > 0" class="btn btn-success col-3" style="float: right; margin: 15px" (click)="makePDF()">
            Imprimir
          </button>
            <div style="width: 600px; height: 80px; position: relative; left: 20px; top: 40px;">
                <label class="custom-control custom-checkbox" style="display: inline-table; margin-left: 10px; margin-right: 10px">
              <input type="checkbox" class="custom-control-input" (click)="enableDateFilter(filtroDataCheck)" [(ngModel)]="filtroDataCheck" />
              <span class="custom-control-label">Data</span>
            </label>
                <div *ngIf="filtroDataCheck" class="input-daterange input-group col-4" style="left: 65px;bottom: 35px;">
                    <input class="form-control" id="dataContasPagarInit" name="start" type="text" (blur)="setDateOne()" [(ngModel)]="dataFilterOne">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info b-0 text-white">Até</span>
                    </div>
                    <input class="form-control" id="dataContasPagarEnd" name="end" type="text" (blur)="setDateTwo()" [(ngModel)]="dataFilterTwo">
                </div>

            </div>
            <div style="width: 600px;display: inline-table;position: relative;bottom: 40px;left: 290px;">
                <label class="custom-control custom-checkbox" style="display: inline-table; margin-left: 10px; margin-right: 10px">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="selectAllConta"/>
              <span class="custom-control-label">Selecionar</span>
            </label>

                <button class="btn btn-info col-4" *ngIf="selectAllConta && this.pageParams.params.page == 'pagar'" style="margin-left: 10px;" (click)="pagarTodosConta()">Pagar selecionados</button>
                <button class="btn btn-info col-4" *ngIf="selectAllConta && this.pageParams.params.page == 'pagas'" style="margin-left: 10px;" (click)="abrirTodosConta()">Abrir selecionados</button>
            </div>

            <div *ngIf="emptyResultContas" style="display: table; margin: auto; width: 65%">
                <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                <span style="display: table; margin: auto;  margin-top: 10px; margin-bottom: 20px;">Nenhum resultado encontrado!</span>
            </div>

            <table *ngIf="!emptyResultContas" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 100px;margin-top: 25px;">
                <thead>
                    <tr>
                        <th *ngIf="selectAllConta">
                            <i *ngIf="!isSelectedAllContas" (click)="selectAllContas()" class="material-icons" style="cursor: pointer">done</i>
                            <i *ngIf="isSelectedAllContas" (click)="selectAllContas()" class="material-icons" style="cursor: pointer">clear</i>
                        </th>
                        <th><i class="material-icons">account_circle</i></th>
                        <th>Descricao</th>
                        <th>Data de vencimento</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of contas | paginate: { itemsPerPage: 10, currentPage: p, id: 'pagination_contas' }; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                        <td *ngIf="selectAllConta">
                            <input type="checkbox" id="contaCheckBox_{{i}}" />
                        </td>

                        <td style="width: 42px;" id="mainTd-{{i}}">
                            <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{c.CONP_Descricao.split('')[0]}}</span>
                            </div>
                        </td>

                        <td>
                            <span>
                    {{c.CONP_Descricao.indexOf('$#') == -1 ? c.CONP_Descricao: c.CONP_Descricao.split('$#')[1]}}
                  </span>
                        </td>

                        <td>
                            <span>
                    {{c.CONP_Data_Vencimento2}}
                  </span>
                        </td>


                        <td>
                            <span>
                      {{'R$ ' + c.CONP_Valor}}
                    <!-- {{'R$ ' + c.CONP_Valor.split(',')[0] .length >= 3 ? c.CONP_Valor.split('')[0]+'.'+c.CONP_Valor.substring(1, c.CONP_Valor.length):c.CONP_Valor}} -->
                  </span>
                        </td>


                        <td>
                            <span>
                    {{c.CONP_Status}}
                  </span>
                        </td>

                        <td style="position: relative;">
                            <button (click)="c.menuRow = !c.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons">keyboard_arrow_down</i>
                  </button>
                            <div *ngIf="c.menuRow" style="width: 120px; background-color: #fff; position: absolute; right: 10px; z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="changeState('pago', i, '', c)">
                      <i class="material-icons" style="font-size: 14px">done</i>
                      Pago
                    </button>
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="changeState('pagar', i, '', c)">
                      <i class="material-icons" style="font-size: 14px">warning</i>
                      Em aberto
                    </button>
                                <button *ngIf="this.pageParams.params.page == 'pagar' && (c.CONP_Descricao.indexOf('$#') == -1)" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/cadConta', {page: 'editar', id: c.CONP_ID}]">
                      <i class="material-icons" style="font-size: 14px">mode_edit</i>
                      Editar
                    </button>
                                <button *ngIf="this.pageParams.params.page == 'pagar' && (c.CONP_Descricao.indexOf('$#') == -1)" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="removeConta(c)">
                      <i class="material-icons" style="font-size: 14px">delete_forever</i>
                      Remover
                    </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <pagination-controls id="pagination_contas" (pageChange)="p = $event" style="float: right;"></pagination-controls>

            <ol class="breadcrumb" style="width: 220px;">
                <li class="breadcrumb-item"><a>Total: {{ (this.totalContas  | currency:'BRL':true:'1.2-2').replace('.', ',').replace(',', '.') }}</a></li>
            </ol>
        </div>


        <div id="contasPagarTable" style="display: none; margin: auto">
            <img src="./assets/logo.png" style="width: 120px; position: relative; top: 10px;" />
            <span style="display: table; margin: auto; margin-bottom: 25px; font-size: 20px; font-weight: 300">KSTrade - Lista de Contas a pagar</span>
            <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 100px;">
                <thead>
                    <tr>
                        <th>Descricao</th>
                        <th>Data de vencimento</th>
                        <th>Valor</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of contas; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                        <td>
                            <span>
                      {{c.CONP_Descricao}}
                    </span>
                        </td>

                        <td>
                            <span>
                      {{c.CONP_Data_Vencimento2}}
                    </span>
                        </td>


                        <td>
                            <span>
                        {{'R$ ' + c.CONP_Valor}}
                      <!-- {{'R$ ' + c.CONP_Valor.split(',')[0] .length >= 3 ? c.CONP_Valor.split('')[0]+'.'+c.CONP_Valor.substring(1, c.CONP_Valor.length):c.CONP_Valor}} -->
                    </span>
                        </td>


                        <td>
                            <span>
                      {{c.CONP_Status}}
                    </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6 col-8 align-self-center" style="width: 100%; max-width: none; margin-top: 10px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngIf="this.pageParams.params.page == 'pagar'"><a>Jobs a pagar</a></li>
            <li class="breadcrumb-item" *ngIf="this.pageParams.params.page == 'pagas'"><a>Jobs pagos</a></li>
        </ol>
        <div style="background: #fff; border-radius: 4px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Filtro</span>
            <div style="width: 100%; position: relative; left: 20px; top: 40px;">
                <label class="custom-control custom-checkbox" style="display: inline-table; margin-left: 10px; margin-right: 10px">
                <input type="checkbox" class="custom-control-input" (click)="enableDateFilterJob(filtroDataCheckJob)" [(ngModel)]="filtroDataCheckJob" />
                <span class="custom-control-label">Data</span>
              </label>

                <div *ngIf="filtroDataCheckJob" class="input-daterange input-group col-4" style="left: 65px;bottom: 35px;">
                    <input class="form-control" id="dataJobInit" name="start" type="text" (blur)="setDataOneJob()" [(ngModel)]="dataFilterOneJob">
                    <div class="input-group-append">
                        <span class="input-group-text bg-info b-0 text-white">Até</span>
                    </div>
                    <input class="form-control" id="dataJobEnd" name="end" type="text" (blur)="setDataTwoJob()" [(ngModel)]="dataFilterTwoJob">
                </div>

                <label class="custom-control custom-checkbox" style="display: inline-table; margin-left: 10px; margin-right: 10px">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="filtroBancoCheck" (change)="applyFiltroBanco(filtroBancoCheck)"/>
                  <span class="custom-control-label">Banco</span>
                </label>

                <div class="mdl-textfield mdl-js-textfield comboBox" *ngIf="filtroBancoCheck" style="width: 120px">
                    <input style="cursor: pointer" readonly (click)="bancoOK = !bancoOK" [(ngModel)]="bancoFilterChoose" type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="bancoOK = !bancoOK">
                      <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                  </button>

                    <div class="comboBox__items" *ngIf="bancoOK" (blur)="bancoOK = false">
                        <button (click)="setFilterBanco(b)" *ngFor="let b of ['Caixa', 'Banco do brasil', 'Santander', 'Bradesco', 'Itau']" class="mdl-button mdl-js-button comboBox__item">
                          <span style="position: absolute; left: 2px; top: 2px;">{{b}}</span>
                      </button>
                    </div>
                </div>
                <!-- <select class="form-control col-2" style="position: relative" *ngIf="filtroBancoCheck">
                  <option selected>Selecione o banco</option>
                  <option (click)="setFilterBanco(b)" *ngFor="let b of ['Caixa', 'Banco do brasil', 'Santander', 'Bradesco', 'Itau']">{{b}}</option>
                </select> -->


                <label class="custom-control custom-checkbox" style="display: inline-table; margin-left: 10px; margin-right: 10px">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="filtroClienteCheck" (change)="applyFiltroBanco(filtroClienteCheck)"/>
                  <span class="custom-control-label">Cliente</span>
                </label>

                <input type="text" class="form-control col-2" *ngIf="filtroClienteCheck" [(ngModel)]="filterCliente" (keydown.enter)="filterArrayCliente(this.filterCliente, this.jobs)" />

                <label class="custom-control custom-checkbox" style="display: inline-table; margin-left: 10px; margin-right: 10px">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="filtroUsuarioCheck" (change)="applyFiltroBanco(filtroUsuarioCheck)"/>
                  <span class="custom-control-label">Promotor</span>
                </label>

                <input type="text" class="form-control col-2" *ngIf="filtroUsuarioCheck" [(ngModel)]="filterUser" (keydown.enter)="filterArrayUsuario(this.filterUser, this.jobs)" />

                <label class="custom-control custom-checkbox" style="display: inline-table; margin-left: 10px; margin-right: 10px">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="selectAll"/>
                  <span class="custom-control-label">Selecionar</span>
                </label>

                <button class="btn btn-info col-3" *ngIf="selectAll && this.pageParams.params.page == 'pagar'" style="margin-left: 10px;" (click)="pagarTodosJobs()">Pagar selecionados</button>
                <button class="btn btn-info col-3" *ngIf="selectAll && this.pageParams.params.page == 'pagas'" style="margin-left: 10px;" (click)="abrirTodosJobs()">Abrir selecionados</button>
                <!-- <button (click)="applyFiltro()" class="btn btn-info col-2" style="float: right;position: relative;right: 65px;">Filtrar</button> -->
            </div>

            <div class="table-responsive m-t-40">
                <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px;margin-bottom: 25px;">Nenhum resultado encontrado!</span>
                </div>

                <table *ngIf="!emptyResult" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 20px;">
                    <thead>
                        <tr>
                            <th *ngIf="selectAll">
                                <i *ngIf="!isSelectedAllJobs" (click)="selectAllJobs()" class="material-icons" style="cursor: pointer">done</i>
                                <i *ngIf="isSelectedAllJobs" (click)="selectAllJobs()" class="material-icons" style="cursor: pointer">clear</i>
                            </th>
                            <th><i class="material-icons">account_circle</i></th>
                            <th>Cliente</th>
                            <th>Rede</th>
                            <th>Filial</th>
                            <th>Promotor</th>
                            <th>Banco</th>
                            <th>Status</th>
                            <th>Data</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let j of resultsFilterJobs | paginate: { itemsPerPage: 10, currentPage: p2, id: 'pageJobs' }; let i = index" style="margin-bottom: 5px; margin-top: 5px;">
                            <td *ngIf="selectAll">
                                <input type="checkbox" id="jobCheckBox_{{i}}" />
                            </td>
                            <td style="width: 42px;" id="mainTd-{{i}}">
                                <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                    <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{j.Cli_Nome.split('')[0]}}</span>
                                </div>
                            </td>

                            <td>
                                <span>
                        {{j.Cli_Nome}}
                      </span>
                            </td>

                            <td>
                                <span>
                        {{j.RED_Nome}}
                      </span>
                            </td>


                            <td>
                                <span>
                        {{j.RFIL_Nome}}
                      </span>
                            </td>


                            <td>
                                <span>
                        {{j.PRO_Nome}}
                      </span>
                            </td>


                            <td>
                                <span>
                        {{j.PRO_Banco}}
                      </span>
                            </td>

                            <td>
                                <span>
                        {{j.JOB_Status}}
                      </span>
                            </td>
                            <td>
                                <span>
                        {{j.JOB_Data_Job2 +' as '+ j.JOB_Hora_Job}}
                      </span>
                            </td>
                            <td>
                                <span>
                        {{'R$ ' +j.JOB_Valor}}
                      </span>
                            </td>
                            <td style="position: relative;">
                                <button (click)="j.menuRow = !j.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons">keyboard_arrow_down</i>
                      </button>
                                <div *ngIf="j.menuRow" style="width: 120px; background-color: #fff; position: absolute; right: 10px; z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="changeState('pago', i, 'jobs')">
                          <i class="material-icons" style="font-size: 14px">done</i>
                          Pagar
                        </button>
                                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" (click)="changeState('pagar', i, 'jobs')">
                          <i class="material-icons" style="font-size: 14px">warning</i>
                          Em aberto
                        </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <ol class="breadcrumb" style="width: 220px;">
                    <li class="breadcrumb-item"><a>Total: {{(this.totalJobs  | currency:'BRL':true:'1.2-2').replace('.', ',').replace(',', '.') }}</a></li>
                </ol>

                <ol class="breadcrumb" style="width: 220px; float: right;position: relative;bottom: 55px;">
                    <li class="breadcrumb-item"><a>Contagem: {{resultsFilterJobs.length}}</a></li>
                </ol>

                <pagination-controls id="pageJobs" (pageChange)="p2 = $event" style="float: right;margin-top: 20px;position: relative;left: 210px;"></pagination-controls>
            </div>
        </div>
    </div>

</div>