<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-md-6 col-8 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['main']">Editar</a></li>
            <li class="breadcrumb-item active">{{this.cliente[0].params.nome}}</li>
        </ol>
    </div>
    <div style="width: 100%;">
        
        <div *ngIf="this.fotoUrl != ''">
            <small>Logo</small>
            &nbsp;
            <img [src]="this.fotoUrl" style="width: 10%" />
        </div>

        <div class="form-group" style="position: relative;">
            <label class="controls col-6 col-form-label">Logo <span class="text-danger">*</span></label>
            <input type="file" id="input-file-now" (change)="uploadChanges($event)" class="dropify"
             [(ngModel)]="anexo" data-max-file-size="3M" data-max-file-size-preview="3M" />
            <button *ngIf="this.toUploadImage.length > 0" class="btn btn-info mdl-js-ripple-effect"
                style="position: absolute; right: 10px; top: 45px; z-index: 999; width: 200px;" (click)="removeFiles()">
                Remover tudo
            </button>
            <small *ngIf="this.errorAnexo.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Faça
                upload de um anexo</small>
        </div>

        <form [formGroup]="editarCliente">
            <div class="form-group ">
                <label class="col-2 col-form-label">Nome fantasia <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" formControlName="nomeFantasia"
                        [(ngModel)]="this.nomeFantasia">
                </div>
                <small *ngIf="this.errorNomeFantasia.required == true"
                    style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">CNPJ <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input id="inputCnpjEdit" type="text" class="form-control" formControlName="cnpj"
                        [(ngModel)]="this.cnpj">
                </div>
                <small *ngIf="this.errorCnpj.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">Telefone Fixo <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input id="inputTelefoneFixoEdit" type="text" class="form-control" formControlName="telefoneFixo"
                        [(ngModel)]="this.telefoneFixo">
                </div>
                <small *ngIf="this.errorTelefoneFixo.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">Telefone Movel <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input id="inputTelefoneMovelEdit" type="text" class="form-control" formControlName="telefoneMovel"
                        [(ngModel)]="this.telefoneMovel">
                </div>
                <small *ngIf="this.errorTelefoneMovel.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">Razao Social <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" formControlName="razaoSocial"
                        [(ngModel)]="this.razaoSocial">
                </div>
                <small *ngIf="this.errorRazaoSocial.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">E-mail <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" formControlName="email" [(ngModel)]="this.email">
                </div>
                <small *ngIf="this.errorEmail.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">Coordenadores <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <div class="mdl-textfield mdl-js-textfield comboBox">
                        <input style="cursor: pointer" readonly formControlName="coordenador"
                            [(ngModel)]="this.coordenador" (click)="coordenadorOK = !coordenadorOK" type="text"
                            class="comboBox__input">

                        <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                            (click)="coordenadorOK = !coordenadorOK">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </button>

                        <div class="comboBox__items" *ngIf="coordenadorOK" (blur)="coordenadorOK = false">
                            <button *ngFor="let c of coordenadores; let i = index" (click)="setCoordenador(i)"
                                class="mdl-button mdl-js-button comboBox__item">
                                <span style="position: absolute; left: 2px; top: 2px;">{{c.Usr_Nome}}</span>
                            </button>
                        </div>
                    </div>
                    <!-- <select required class="form-control" formControlName="coordenador" [(ngModel)]="this.coordenador">
                        <option value="" selected>{{coordenador}}</option>
                        <option *ngFor="let c of coordenadores; let i = index" (click)="setCoordenador(i)">{{c.Usr_Nome}}</option>
                    </select> -->
                </div>
                <small *ngIf="this.errorCoordenador.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">CEP <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" id="inputCEPEdit" (blur)="checkCep(this.cep)" class="form-control"
                        formControlName="cep" [(ngModel)]="this.cep">
                </div>
                <small *ngIf="this.errorCep.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
                <small *ngIf="this.errorNotExistsCep == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Este CEP não
                    existe</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">Endereço <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" formControlName="endereco" [(ngModel)]="this.endereco">
                </div>
                <small *ngIf="this.errorEndereco.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">Número <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" formControlName="numero" [(ngModel)]="this.numero">
                </div>
                <small *ngIf="this.errorNumero.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>
            <div class="form-group ">
                <label class="col-2 col-form-label">Cidade <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" formControlName="cidade" [(ngModel)]="this.cidade">
                </div>
                <small *ngIf="this.errorCidade.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group ">
                <label class="col-2 col-form-label">Bairro <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <input type="text" class="form-control" formControlName="bairro" [(ngModel)]="this.bairro">
                </div>
                <small *ngIf="this.errorBairro.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>

            <div class="form-group">
                <label class="col-2 col-form-label">Estado <span class="text-danger">*</span></label>
                <div class="controls col-12">
                    <select required class="form-control" formControlName="estado" [(ngModel)]="this.estado">
                        <option value="">{{estado}}</option>
                        <option *ngFor="let e of estados; let i = index" (click)="setEstado(e)">{{e}}</option>
                    </select>
                </div>
                <small *ngIf="this.errorEstado.required == true"
                    style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este
                    campo</small>
            </div>



            <button type="submit" (click)="editCliente()" class="btn btn-info col-12">Atualizar</button>
        </form>
    </div>
</div>