<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
    <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
  </div>

  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div class="card-body table-responsive m-t-40">
        <h4 class="card-title">Lista de Produtividade</h4>
        <button class="btn btn-success col-3" style="margin-top: 5px" (click)="makePDF()" *ngIf="this.pro_selected">
          Imprimir
        </button>

        <button class="btn btn-success col-3" style="margin-top: 5px" (click)="makeExcel()" *ngIf="this.pro_selected">
          Exportar para Excel
        </button>

        <div style="width: 100%; display: block;" #insert>
          <div style="width: 100%">
            <div class="col-12" *ngIf="!this.pro_selected">
              <div style="width: 100%; display: inline-table">
                <span>Buscar por Cliente</span>
              </div>

              <select class="form-control col-8"
                (change)="searchCliente(clSelect.value.split(':')[1], {Cli_ID: clSelect.value.split(':')[0], Cli_Nome: clSelect.value.split(':')[1]})"
                #clSelect>
                <option value="{{'-1:'}}">
                  Nenhum
                </option>
                <option *ngFor="let c of clientes" value="{{c.Cli_ID+':'+c.Cli_Nome}}">
                  {{c.Cli_Nome}}
                </option>
              </select>
            </div>

            <div class="col-12" style="margin-bottom: 5px" *ngIf="this.cli_selected">
              <div style="width: 100%; display: inline-table">
                <span>Buscar por Rede</span>
              </div>
              <select class="form-control col-8"
                (change)="searchRede(reSelect.value.split(':')[1], reSelect.value.split(':')[0])" #reSelect>
                <option value="{{-1+':'}}">
                  Nenhum
                </option>
                <option *ngFor="let c of redes" value="{{c.RED_ID+':'+c.RED_Nome}}">
                  {{c.RED_Nome}}
                </option>
              </select>
            </div>

            <div class="col-12" *ngIf="this.cli_selected">
              <div style="width: 100%; display: inline-table">
                <span>Buscar por Loja</span>
              </div>
              <select class="form-control col-8"
                (change)="searchFiliais(rfSelect.value.split(':')[1].split('/')[0], rfSelect.value.split('/')[1])"
                #rfSelect>
                <option value="{{-1+': / '}}">
                  Nenhum
                </option>
                <option *ngFor="let c of filiais" value="{{c.RFIL_ID+':'+c.RFIL_Nome+'/'+c.RFIL_Cidade}}">
                  {{c.RFIL_Nome +' - '+ c.RFIL_Cidade}}
                </option>
              </select>
            </div>

            <div class="col-12" *ngIf="!this.pro_selected && this.cli_selected">
              <div style="width: 100%; display: inline-table">
                <span>Buscar por Promotor</span>
              </div>

              <select class="form-control col-8"
                (change)="searchPromotorCliente(proSelect.value.split(':')[1], {PRO_ID: proSelect.value.split(':')[0], PRO_Nome: proSelect.value.split(':')[1]})"
                #proSelect>
                <option value="{{'-1:'}}">
                  Nenhum
                </option>
                <option *ngFor="let c of promotores" value="{{c.PRO_ID+':'+c.PRO_Nome}}">
                  {{c.PRO_Nome}}
                </option>
              </select>
            </div>

            <div class="col-12" *ngIf="this.cli_selected" style="margin-top: 10px">
              <div style="width: 100%; display: inline-table">
                <span>Buscar por Mês</span>
              </div>
              <select class="form-control col-8" #rfSelect id="mesSelect" (change)="searchProdutividade(rfSelect.value)">
                <option value="0">
                  Nenhum
                </option>
                <option *ngFor="let m of meses" value="{{m.numero}}">
                  {{m.mes}}
                </option>
              </select>
            </div>

            <div class="col-12" *ngIf="this.cli_selected" style="margin-top: 10px">
              <div style="width: 100%; display: inline-table">
                <span>Buscar por Ano</span>
              </div>
              <select class="form-control col-8" id="anoSelect" (change)="searchProdutividadeAno()">
                <option value="0">
                  Nenhum
                </option>
                <option *ngFor="let a of anos" value="{{a}}">
                  {{a}}
                </option>
              </select>
            </div>            

            <div class="col-12" style="margin-top: 10px"
              *ngIf="this.userData[0].Usr_Nivel == 'Admin' && !this.cli_selected">
              <div style="width: 100%; display: inline-table">
                <span>Buscar Promotor</span>
              </div>

              <select class="form-control col-8"
                (change)="searchPromotor(proSelect.value.split(':')[1], {PRO_ID: proSelect.value.split(':')[0], PRO_Nome: proSelect.value.split(':')[1]})"
                #proSelect id="promotor_select">
                <option value="{{'-1:'}}">
                  Nenhum
                </option>
                <option *ngFor="let c of promotores" value="{{c.PRO_ID+':'+c.PRO_Nome}}">
                  {{c.PRO_Nome}}
                </option>
              </select>
            </div>
          </div>

          <div class="col-12" *ngIf="this.pro_selected && this.userData[0].Usr_Nivel == 'Admin'"
            style="margin-top: 10px">
            <div style="width: 100%; display: inline-table">
              <span>Buscar por Mês</span>
            </div>
            <select id="mes_select" class="form-control col-8" #rfSelect (change)="searchPromotorMensal()">
              <option value="0">
                Nenhum
              </option>
              <option *ngFor="let m of meses" value="{{m.numero}}">
                {{m.mes}}
              </option>
            </select>
          </div>

          <div class="col-12" *ngIf="this.pro_selected && this.userData[0].Usr_Nivel == 'Admin'"
            style="margin-top: 10px">
            <div style="width: 100%; display: inline-table">
              <span>Buscar por Ano</span>
            </div>
            <select id="ano_select" class="form-control col-8" #rfSelect (change)="searchPromotorMensal()">
              <option value="0">
                Nenhum
              </option>
              <option *ngFor="let a of anos" value="{{a}}">
                {{a}}
              </option>
            </select>
          </div>

          <div *ngIf="!doneLoading" style="display: table; margin: 2% auto">
            <div class="rotate"
              style="display: table; margin: auto; border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
            </div>
            <span style="display: table; margin: auto; font-weight: bold;">Por favor aguarde!</span>
            <span style="display: table; margin: auto;font-weight: bold;">Carregando todas as infos....</span>
          </div>

          <div *ngIf="doneLoading && !cli_selected && !pro_selected" style="display: table; margin: 2% auto">
            <!-- <div class="rotate" style="display: table; margin: auto; border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
            </div> -->
            <i class="material-icons" style="display: table; margin: auto; font-size: 62px">info_outline</i>
            <span style="display: table; margin: auto; font-weight: bold;">Selecione o cliente
              {{this.userData[0].Usr_Nivel == 'Admin' ? 'ou o promotor': ''}} para dar
              inicio.</span>
            <!-- <span style="display: table; margin: auto;font-weight: bold;"> </span> -->
          </div>

          <div *ngIf="emptyResult || contents.length < 1" style="display: table; margin: auto; width: 65%">
            <i class="material-icons"
              style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
            <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
          </div>

          <div *ngIf="contents.length < 1 && cli_selected" style="display: table; margin: 2% auto">
            <div class="rotate"
              style="display: table; margin: auto; border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
            </div>
          </div>

          <div id="tableProdutividade"
            *ngIf="!emptyResult && contents.length > 0 && doneLoading && (cli_selected || pro_selected)"
            style="border-bottom: 1px solid #d2d1d2; padding-bottom: 10px">
            <div *ngFor="let f of resultsFilterContents; let i = index"
              style="margin-top: 30px; border-top: 1px solid #212121; cursor: pointer;">
              <span style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{f.cli_nome}}</span>
              <div style="width: 100%; position: relative; top: 20px;">
                <table class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe"
                  data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch
                  style="margin-bottom: 25px;">
                  <thead>
                    <tr>
                      <th>Promotor</th>
                      <th *ngIf="this.pro_selected">Banco</th>
                      <th *ngIf="this.pro_selected">Agencia</th>
                      <th *ngIf="this.pro_selected">Conta</th>
                      <th *ngIf="this.pro_selected">Cliente</th>
                      <th>Rede</th>
                      <th>Loja</th>
                      <th>Cidade</th>
                      <th>Visita 1</th>
                      <th>Visita 2</th>
                      <th>Visita 3</th>
                      <th>Visita 4</th>
                      <th *ngIf="this.pro_selected">Valor</th>
                      <th *ngIf="(this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador')">Excluir</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let fc of f.content; let fI = index"
                      style="position: relative; margin-bottom: 5px; margin-top: 5px;">
                      <td>
                        <span>{{fc.PRO_Nome}}</span>
                        <!-- <button title="Mover para a lixeira" *ngIf="(this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador' || this.userData[0].Usr_Nivel == 'Auxiliar' || this.userData[0].Usr_Nivel == 'Externo')" class="mdl-button mdl-js-button mdl-button--icon" (click)="moverLixeira(fc, fI)">
                          <i class="material-icons">restore_from_trash</i>
                        </button> -->
                      </td>
                      <td *ngIf="this.pro_selected">
                        <span>{{fc.PRO_Banco}}</span>
                      </td>
                      <td *ngIf="this.pro_selected">
                        <span>{{fc.PRO_Agencia}}</span>
                      </td>
                      <td *ngIf="this.pro_selected">
                        <span>{{fc.PRO_Conta}}</span>
                      </td>
                      <td *ngIf="this.pro_selected">
                        <span>{{fc.Cli_Nome}}</span>
                      </td>
                      <td>
                        <span>{{fc.RED_Nome}}</span>
                      </td>
                      <td>
                        <span>{{fc.RFIL_Nome}}</span>
                      </td>
                      <td>
                        <span>{{fc.RFIL_Cidade}}</span>
                      </td>
                      <td class="{{fc.visita1 == 0 ? 'back_red': 'back_green'}}" style="position: relative;">
                        <input type="text" (keydown)="false" class="form-control" [(ngModel)]="fc.visita1" />
                        <button *ngIf="fc.visita1 < 2 && !this.pro_selected" class="mdl-button mdl-button--icon"
                          (click)="updateRow(f.cli_id, fc, 1)" style="position: absolute; top: 10px; right: 15px;">
                          <i class="material-icons">keyboard_arrow_up</i>
                        </button>

                        <button *ngIf="!this.pro_selected && (this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador')  && fc.visita1 != 0"
                          class="mdl-button mdl-button--icon" (click)="updateRow(f.cli_id, fc, 1, 'down')"
                          style="position: absolute; top: 10px; right: 35px;">
                          <i class="material-icons">keyboard_arrow_down</i>
                        </button>
                      </td>
                      <td class="{{fc.visita2 == 0 ? 'back_red': 'back_green'}}" style="position: relative;">
                        <input type="text" (keydown)="false" class="form-control" [(ngModel)]="fc.visita2" />
                        <button *ngIf="fc.visita2 < 2 && !this.pro_selected" class="mdl-button mdl-button--icon"
                          (click)="updateRow(f.cli_id, fc, 2)" style="position: absolute; top: 10px; right: 15px;">
                          <i class="material-icons">keyboard_arrow_up</i>
                        </button>

                        <button *ngIf="!this.pro_selected && (this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador')  && fc.visita2 != 0"
                          class="mdl-button mdl-button--icon" (click)="updateRow(f.cli_id, fc, 2, 'down')"
                          style="position: absolute; top: 10px; right: 35px;">
                          <i class="material-icons">keyboard_arrow_down</i>
                        </button>
                      </td>
                      <td class="{{fc.visita3 == 0 ? 'back_red': 'back_green'}}" style="position: relative;">
                        <input type="text" (keydown)="false" class="form-control" [(ngModel)]="fc.visita3" />
                        <button *ngIf="fc.visita3 < 2 && !this.pro_selected" class="mdl-button mdl-button--icon"
                          (click)="updateRow(f.cli_id, fc, 3)" style="position: absolute; top: 10px; right: 15px;">
                          <i class="material-icons">keyboard_arrow_up</i>
                        </button>

                        <button *ngIf="!this.pro_selected && (this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador')  && fc.visita3 != 0"
                          class="mdl-button mdl-button--icon" (click)="updateRow(f.cli_id, fc, 3, 'down')"
                          style="position: absolute; top: 10px; right: 35px;">
                          <i class="material-icons">keyboard_arrow_down</i>
                        </button>
                      </td>
                      <td class="{{fc.visita4 == 0 ? 'back_red': 'back_green'}}" style="position: relative;">
                        <input type="text" (keydown)="false" class="form-control" [(ngModel)]="fc.visita4" />
                        <button *ngIf="fc.visita4 < 2 && !this.pro_selected" class="mdl-button mdl-button--icon"
                          (click)="updateRow(f.cli_id, fc, 4)" style="position: absolute; top: 10px; right: 15px;">
                          <i class="material-icons">keyboard_arrow_up</i>
                        </button>

                        <button *ngIf="!this.pro_selected && (this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador')  && fc.visita4 != 0"
                          class="mdl-button mdl-button--icon" (click)="updateRow(f.cli_id, fc, 4, 'down')"
                          style="position: absolute; top: 10px; right: 35px;">
                          <i class="material-icons">keyboard_arrow_down</i>
                        </button>
                      </td>
                      <td style="position: relative;" *ngIf="this.pro_selected">
                        <span>{{fc.valorTotal | currency:'BRL' }}</span>
                      </td>
                      <td>
                        <button style="display: table; margin: auto" *ngIf="(this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador')"
                          class="mdl-button mdl-button--icon" (click)="removeRow(f, fc, i, fI)">
                          <i class="material-icons">clear</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="this.pro_selected"
              style="height: 75px; text-align: center; width: 100%; margin: auto; display: table; border-top: 1px solid #dcdcdc;">
              <span style="font-weight: bold; position: relative; top: 5px">Informações financeiras</span>

              <div style="margin-top: 5px; margin: auto; display: table; position: relative; top: 10px">
                <span>Valor total das visitas: </span>
                <span style="font-size: 26px">{{this.valorTotalPromotor | currency: 'BRL'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>