tr:nth-child(even){
    background-color: #fff;
}

thead > tr{
    background-color: #fff;
}

.table{
    box-shadow: 1px 2px 8px rgba(0,0,0,0.2);
}

.back_red{
    background: rgba(255, 0, 0, 0.675) !important;
}

.back_green{
    background: rgba(0, 177, 0, 0.675) !important;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }0%{
        transform: rotate(0deg);
    }
}

.rotate{
    animation: 4s rotate infinite;
}

.green_back{
    background: #940000
}

.red_back{
    background: #d50000;
}