<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
      <!-- Column -->
      <div class="card">
          <div class="card-body table-responsive m-t-40" style="position: relative">
            <h4 class="card-title">Lista de Rotinas</h4>

            <div style="width: 100%">
              <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por Promotor</span>
              <input class="form-control col-4" (keydown.enter)="searchPromotor(queryPromotor)" [(ngModel)]="queryPromotor" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>
            </div>

            <button *ngIf="this.userData[0].Usr_Nivel != 'Financeiro' && this.userData[0].Usr_Nivel != 'Representante'" class="btn btn-success col-4" (click)="selectAll = !selectAll">
              {{ selectAll ? 'Desselecionar':'Selecionar' }}
            </button>

            <button *ngIf="selectAll" class="btn btn-success col-4"  (click)="deleteSelected()">
              Apagar selecionados
            </button>
            
            <div *ngIf="!doneLoading" style="display: table; margin: 2% auto">
              <div class="rotate" style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
              </div>
            </div>

            <div *ngIf="(emptyResult || resultsFilterPromotores.length < 1) && doneLoading" style="display: table; margin: auto; width: 65%">
              <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
              <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
              <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
            </div>

            <div *ngIf="!emptyResult && resultsFilterPromotores.length > 0" style="display: table; margin: auto; border-bottom: 1px solid #d2d1d2; padding-bottom: 10px;width: 100%;">
              <div *ngFor="let f of resultsFilterPromotores | paginate: { itemsPerPage: 5, currentPage: p }; let i = index" style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
                <span style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">
                  {{f.PRO_Nome}}
                  <!-- <i style="font-size: 8px" class="material-icons {{ (f.PRO_Net_Status == 'true' || f.PRO_Net_Status === true || f.PRO_Net_Status == '1') ? 'mdl-color-text--red-500':'mdl-color-text--gray-50'}}">fiber_manual_record</i> -->

                  <button *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'" (click)="removeAllRotina(f, i)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--amber-500 mdl-color-text--white" style="float: right;margin-left: 30px;">
                    <i class="material-icons" style="font-size: 20px;">delete_sweep</i>
                  </button>
                </span>
                
                <div *ngIf="f.content.length < 1" style="display: table; margin: auto; width: 65%">
                  <i class="material-icons" style="font-size: 32px; display: table; margin: auto; margin-bottom: 10px ">bookmark</i>
                  <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                  <span style="display: table; margin: auto;  margin-top: 10px">Rotina ainda não cadastrada</span>
                </div>

                <div *ngIf="f.content.length > 0" style="border-top: 1px solid #940000; margin-top: 25px; border-bottom: 1px solid #fefefe; display: block; margin-left: 20px" >
                  <div *ngIf="f.content.length > 0 || f.content !== undefined">
                    <table *ngIf="!emptyResult && resultsFilterPromotores.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 20px;">
                      <thead>
                        <tr>
                          <th *ngIf="selectAll"><i class="material-icons">done</i></th>
                          <th>Status</th>
                          <th>Clientes</th>
                          <th>Rede</th>
                          <th>Filial</th>
                          <th>Dias da semana</th>
                          <th *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'">Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let fc of f.content; let fI = index" style="cursor: pointer">
                          <td *ngIf="selectAll"> <input type="checkbox" id="rotinaTR-{{i}}-{{fI}}"/> </td>
                          <td>{{fc.lixeira == 1 ? 'Movido para lixeira': 'Ativo'}}</td>
                          <td><span>{{fc.Cli_Nome}}</span> </td>
                          <td><span>{{fc.RED_Nome}}</span> </td>
                          <td><span>{{fc.RFIL_Nome}}</span> </td>
                          <td>
                            <span>{{fc.dias_semana}}</span>
                          </td>
                          <td *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'" style="position: relative;">
                            <button (click)="fc.menuRow = !fc.menuRow" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                              <i class="material-icons">keyboard_arrow_down</i>
                            </button>
                            <div *ngIf="fc.menuRow" style="width: 120px; background-color: #fff; position: absolute; right: 10px;z-index: 2; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">
                              <button *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%" [routerLink]="['/main/cadRotina', {page: 'editar', pro_id: fc.aux_pro_id, redeid: fc.RED_ID, filialid: fc.RFIL_ID, clienteid: fc.aux_cliente_id, promotor: f.PRO_Nome}]">
                                <i class="material-icons" style="font-size: 14px">mode_edit</i>
                                Editar
                              </button>
        
                              <button *ngIf="this.userData[0].Usr_Nivel == 'Admin' || this.userData[0].Usr_Nivel == 'Coordenador'" (click)="deleteRotina(fc, fI)" class="mdl-button mdl-js-button mdl-ripple-effect " style="text-transform: none; width: 100%">
                                <i class="material-icons" style="font-size: 14px">delete_forever</i>
                                Remover
                              </button> 
                            </div>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
            <pagination-controls (pageChange)="p = $event" style="float: right"></pagination-controls>
          </div>
      </div>
    </div>
  </div>
</div>