<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div class="card-body table-responsive m-t-40" >
        <h4 class="card-title">Lista de Rotas</h4>

        <div class="col-12" style="margin-bottom: 5px">
          <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar promotor</span>

          <select class="form-control col-8" (change)="searchPromotor(clSelect.value)" #clSelect>
            <option value="-1">
              Nenhum
            </option>
            <option *ngFor="let p of promotores" value="{{p.PRO_ID}}">
              {{p.PRO_Nome}}
            </option>
          </select>
        </div>

        <div *ngIf="doneLoading && !promotorSelected" style="display: table; margin: 2% auto">
          <i class="material-icons" style="display: table; margin: auto; font-size: 62px">info_outline</i>
          <span style="display: table; margin: auto; font-weight: bold;">Selecione o promotor para dar inicio.</span>
        </div>


        <div *ngIf="promotorSelected">
          <div style="display: inline-table;width: 380px;margin-left: 40px;">
            <span style="padding: 24px 10px 10px;position: relative;top: 15px;right: 10px;">Data</span>
            <div class="input-daterange input-group" style="margin-top: 15px;width: 100%;">
              <input class="form-control" id="dataInit" name="end" type="date" #init>
              <div class="input-group-append">
                <span class="input-group-text bg-info b-0 text-white">Até</span>
              </div>
              <input class="form-control" id="dataEnd" name="end" type="date" #end>
              <button *ngIf="!alreadySearch" (click)="searchRota(init.value, end.value)" class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">search</i>
              </button>
              <button *ngIf="alreadySearch" (click)="clearData()" class="btn btn-info col-2 mdl-button--fab mdl-button--mini-fab"
                style="width: 42px;min-width:  0;height: 32px;max-width: 32px;">
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>
          <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
            <i class="material-icons"
              style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
            <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
          </div>
  
          <table *ngIf="!emptyResult" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe"
            data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch
            style="margin-bottom: 80px;">
            <thead>
              <tr>
                <th>Rede</th>
                <th>Filial</th>
                <th>Data</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of rotas; let i = index">
                <td>{{r.RED_Nome}}</td>
                <td>{{r.RFIL_Nome}}</td>
                <td>{{r.rota_data_inicio}}</td>
                <td style="position: relative;">
                  <a (click)="openInfos(r.rota_id)">Visualizar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>