<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div class="col-12">
    <div class="card">
      <div class="card-body table-responsive m-t-40">
        <h4 class="card-title">Lixeira</h4>

        <div style="margin-top: 10px; width: 100%; display: block;">
          <div *ngIf="emptyResult && resultsLixeira.length < 1" style="display: table; margin: auto; width: 65%">
            <i class="material-icons"
              style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
            <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
          </div>

          <table *ngIf="!emptyResult || resultsLixeira.length > 0" class="tablesaw table-bordered table-hover table"
            data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap
            data-tablesaw-mode-switch style="margin-bottom: 20px;">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Promotor</th>
                <th>Banco</th>
                <th>Agencia</th>
                <th>Conta</th>
                <th>Valores</th>
                <th>Rede</th>
                <th>Loja</th>
                <th>Cidade</th>
                <th>Usuário da ação</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of resultsLixeira | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                style="margin-bottom: 5px; margin-top: 5px;">
                <td>
                  <span>
                    {{l.Cli_Nome}}
                  </span>
                </td>
                <td>
                  <span>
                    {{l.PRO_Nome}}
                  </span>
                </td>
                <td>
                  <span>
                    {{l.PRO_Banco}}
                  </span>
                </td>
                <td>
                  <span>
                    {{l.PRO_Agencia}}
                  </span>
                </td>
                <td>
                  <span>
                    {{l.PRO_Conta}}
                  </span>
                </td>
                <td>
                  <span>
                    {{l.valor_lixeira | currency:'BRL' }}
                  </span>
                </td>
                <td>
                  <span>
                    {{l.RED_Nome}}
                  </span>
                </td>

                <td>
                  <span>
                    {{l.RFIL_Nome}}
                  </span>
                </td>

                <td>
                  <span>
                    {{l.RFIL_Cidade}}
                  </span>
                </td>
                <td>
                  <span>
                    {{l.usuario}}
                  </span>
                </td>

                <td style="position: relative;">
                  <span (click)="pagar(l, i)" *ngIf="l.pago == 0" style="cursor: pointer; font-weight: bold; font-size: 14px">Marcar como pago</span>
                  <span *ngIf="l.pago == 1" style="cursor: pointer; font-weight: bold; font-size: 14px">Pago</span>
                </td>
              </tr>
            </tbody>
          </table>

          <pagination-controls (pageChange)="p = $event" style="float: right"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>