<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <form [formGroup]="cadastroUsuario">

        <!-- <div class="form-group">
        <label class="controls col-12 col-form-label">Foto <span class="text-danger">*</span></label>
        <input type="file" id="input-file-now-otr" (change)="uploadChanges($event)" class="dropify" formControlName="anexo" [(ngModel)]="anexo"/>
        <small *ngIf="this.errorAnexo.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Faça upload de um anexo</small>
    </div> -->

        <div class="form-group" style="position: relative;">
            <label class="controls col-12 col-form-label">Avatar <span class="text-danger">*</span></label>
            <input type="file" id="input-file-now" (change)="uploadChanges($event)" class="dropify"
                formControlName="anexo" [(ngModel)]="anexo" data-max-file-size="3M" data-max-file-size-preview="3M" />
            <button *ngIf="this.toUploadImage.length > 0" class="btn btn-info mdl-js-ripple-effect"
                style="position: absolute; right: 10px; top: 45px; z-index: 999; width: 200px;" (click)="removeFiles()">
                Remover tudo
            </button>
            <div style="width: 100%;" *ngIf="this.pageParams.params.page == 'editar'">
                <div *ngIf="this.notEdit == true; else editedElse">
                    <div style="display: table; margin: 5px auto;" *ngFor="let t of toUploadImage; let i = index;">
                        <img [src]="t" style="width: 200px; height: 150px;" />
                    </div>
                </div>
                <ng-template #editedElse>
                    <div style="display: table; margin: 5px auto;" *ngFor="let t of toUploadImage; let i = index;">
                        <img [src]="'data:image/png;base64,'+t" style="width: 200px; height: 150px;" />
                    </div>
                </ng-template>
            </div>
            <small *ngIf="this.errorAnexo.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Faça
                upload de um anexo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Nome Completo<span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" class="form-control" formControlName="nomeCompleto" [(ngModel)]="this.nomeCompleto">
            </div>
            <small *ngIf="this.errorNomeCompleto.required == true"
                style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha
                este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Usuário <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" class="form-control" formControlName="usuario" [(ngModel)]="this.usuario">
            </div>
            <small *ngIf="this.errorUsuario.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha
                este campo</small>
        </div>

        <div class="form-group">
            <label class="col-2 col-form-label">Senha <span class="text-danger">*</span></label>
            <div class="controls col-12" style="position: relative;">
                <input type="password" #senhaInput class="form-control" formControlName="senha"
                    [(ngModel)]="this.senha">

                <button
                    (click)="senhaInput.type == 'password' ? (senhaInput.type = 'text') : (senhaInput.type = 'password')"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                    style="position: absolute; top: 5px; right: 17px;">
                    <i class="material-icons">remove_red_eye</i>
                </button>
            </div>
            <small *ngIf="this.errorSenha.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha
                este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">E-mail <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="email" class="form-control" formControlName="email" [(ngModel)]="this.email">
            </div>
            <small *ngIf="this.errorEmail.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha
                este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Nível <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input style="cursor: pointer" readonly formControlName="nivel" [(ngModel)]="this.nivel"
                        (click)="nivelOK = !nivelOK" type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                        (click)="nivelOK = !nivelOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="nivelOK" (blur)="nivelOK = false">
                        <button
                            *ngFor="let n of ['Admin', 'Financeiro', 'Auxiliar', 'Coordenador', 'Externo', 'Representante', 'Vendedor']; let i = index"
                            (click)="setNivel(n)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{n}}</span>
                        </button>
                    </div>
                </div>

                <!-- <select required class="form-control" formControlName="nivel" [(ngModel)]="this.nivel">
                  <option value="">{{this.nivel}}</option>
                  <option *ngFor="let n of ['Admin', 'Gestor', 'Coordenador', 'Visitante']; let i = index" (click)="setNivel(n)">{{n}}</option>
              </select> -->
            </div>
            <small *ngIf="this.errorNivel.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha
                este campo</small>
        </div>

        <div class="form-group "
            *ngIf="this.nivel.length > 0 && (this.nivel == 'Vendedor' || this.nivel == 'Representante')">
            <label class="col-2 col-form-label">Clientes <span class="text-danger">*</span></label>
            <button (click)="addCliente()"
                class=" pull-right mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-color-text--white">
                <i class="material-icons">add</i>
            </button>
            <div class="controls col-12" style="position: relative;">
                <div class="mdl-textfield mdl-js-textfield comboBox" *ngFor="let c of clientes_res; let cI = index"
                    style="width: 95%;">
                    <input style="cursor: pointer" readonly [(ngModel)]="c.Cli_Nome"
                        [ngModelOptions]="{standalone: true}" (click)="c.activated = !c.activated" type="text"
                        class="comboBox__input" style="width: 95%;">

                    <button (click)="removeCliente(cI)" *ngIf="cI > 0"
                        style="position: absolute; top: 10px; right: 5px; z-index: 10"
                        class="pull-right mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-color-text--white">
                        <i class="material-icons">remove</i>
                    </button>

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                        (click)="c.activated = !c.activated" style="right: 55px;">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" style="width: 95%;" *ngIf="c.activated" (blur)="c.activated = false">
                        <button *ngFor="let cc of clientes; let i = index" (click)="setCliente(cc, cI)"
                            class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{cc.Cli_Nome}}</span>
                        </button>
                    </div>
                </div>

                <!-- <select required class="form-control" formControlName="nivel" [(ngModel)]="this.nivel">
                <option value="">{{this.nivel}}</option>
                <option *ngFor="let n of ['Admin', 'Gestor', 'Coordenador', 'Visitante']; let i = index" (click)="setNivel(n)">{{n}}</option>
            </select> -->

            </div>
            <small *ngIf="this.errorNivel.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha
                este campo</small>
        </div>

        <div class="form-group " *ngIf="this.nivel.length > 0 && this.nivel == 'Representante'">
            <label class="col-2 col-form-label">Meta <span class="text-danger">*</span></label>
            <button (click)="addRedeMeta()"
                class=" pull-right mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-color-text--white">
                <i class="material-icons">add</i>
            </button>
            <div class="controls col-12" style="position: relative;" *ngFor="let c of rede_res; let cI = index">

                <div class="mdl-textfield mdl-js-textfield comboBox" style="width: 95%;">
                    <input [(ngModel)]="c.meta" [ngModelOptions]="{standalone: true}" type="text"
                        class="comboBox__input" style="width: 95%;" (keydown)="applyMoneyMask(c)">
                </div>

                <div class="mdl-textfield mdl-js-textfield comboBox" style="width: 95%;">
                    <input style="cursor: pointer" readonly [(ngModel)]="c.RED_Nome"
                        [ngModelOptions]="{standalone: true}" (click)="c.activated = !c.activated" type="text"
                        class="comboBox__input" style="width: 95%;">

                    <button (click)="removeRedeMeta(cI)" *ngIf="cI > 0"
                        style="position: absolute; top: 10px; right: 5px; z-index: 10"
                        class="pull-right mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-color-text--white">
                        <i class="material-icons">remove</i>
                    </button>

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                        (click)="c.activated = !c.activated" style="right: 55px;">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" style="width: 95%;" *ngIf="c.activated" (blur)="c.activated = false">
                        <button *ngFor="let cc of redes; let i = index" (click)="setRedeMeta(cc, cI)"
                            class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{cc.RED_Nome}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group " *ngIf="this.clienteIndex != 0 && this.nivel.length > 0 && this.nivel == 'Vendedor'">
            <label class="col-2 col-form-label">Redes <span class="text-danger">*</span></label>
            <a (click)="selectAllRedes()" class="btn btn-info col-12" style="color: #fff" *ngIf="!allRedesSelected">
                Selecionar todas
            </a>
            <a (click)="unselectAllRedes()" class="btn btn-info col-12" style="color: #fff" *ngIf="allRedesSelected">
                Desselecionar todas
            </a>
            <div class="controls col-12" style="display: table; margin: auto;">

                <div *ngFor="let r of redes; let i = index" class="mdl-textfield mdl-js-textfield">
                    <input id="rede_checkbox_{{i}}" type="checkbox" style="cursor: pointer" [value]="" />
                    <span>{{r.RED_Nome}}</span>
                </div>

                <!-- <select required class="form-control" formControlName="nivel" [(ngModel)]="this.nivel">
                <option value="">{{this.nivel}}</option>
                <option *ngFor="let n of ['Admin', 'Gestor', 'Coordenador', 'Visitante']; let i = index" (click)="setNivel(n)">{{n}}</option>
            </select> -->
            </div>
            <small *ngIf="this.errorNivel.required == true"
                style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha
                este campo</small>
        </div>

        <div class="form-group " *ngIf="this.pageParams.params.page == 'editar'">
            <label class="col-2 col-form-label">Status <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input style="cursor: pointer" readonly formControlName="status" [(ngModel)]="this.status"
                        (click)="statusOK = !statusOK" type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon"
                        (click)="statusOK = !statusOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="statusOK" (blur)="statusOK = false">
                        <button *ngFor="let s of ['Ativo', 'Inativo']; let i = index" (click)="setStatus(s)"
                            class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{s}}</span>
                        </button>
                    </div>
                </div>
                <!-- <select required class="form-control" formControlName="status" [(ngModel)]="this.status">
                <option value="">{{status}}</option>
                <option *ngFor="let s of ['Ativo', 'Inativo']; let i = index" (click)="setStatus(s)">{{s}}</option>
            </select> -->
            </div>
        </div>

        <button [disabled]="pressionado" type="submit" (click)="cadUsuario()" class="btn btn-info col-12">{{this.pageParams.params.page ==
            'editar' ? 'Atualizar':'Cadastrar'}}</button>
    </form>
</div>