@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }0%{
        transform: rotate(0deg);
    }
}

.rotate{
    animation: 4s rotate infinite;
}

.responsive{
    position: absolute;
    left: 40%;
    z-index: 99;
    top: 40%;
    background: #fff;
}

.messageCardResponsive{
    width: 775px;
}

.userNameCircle{
    display: inline-block;
}


@media screen and (max-width: 767px){
    .responsive{
        position: absolute;
        left: 5%;
        top: 5%;
    }

    .messageCardResponsive{
        width: 100%;
    }

    .userNameCircle{
        display: none;
    }
    
}


