<!-- <div style="width: 100%; height: 200vh; background-color: rgba(0,0,0,0.4); position: absolute; z-index: 100; top: 0;" *ngIf="showOTRImage">
    <img [src]="otrImage" style="margin: auto; display: table;  position: relative;top: 50%;"/>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--white mdl-color-text--black" style="position: relative; display: table; margin: auto;top: 52%;" (click)="closeOTRImage()" >
        <span style="color: #000; font-weight: bold;">Fechar</span>
        <i class="material-icons mdl-color-text--black" >clear</i>
    </button>
</div> -->

<div class="mdl-dialog responsive" id="otrImageDialog" *ngIf="showOTRImage">
    <h4 class="mdl-dialog__title" style="font-size: 12px;">{{otrTitle}}</h4>
    <div class="mdl-dialog__content">
        <img [src]="otrImage"
            style="position: relative; margin: auto; display: table; width: 100%; position: relative;" />
    </div>
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--white" (click)="closeOTRImage()"
            style="display: table; margin: auto; top: 3%; position: relative">
            <span style="color: #000; font-weight: bold;">Fechar</span>
            <i class="material-icons mdl-color-text--black">clear</i>
        </button>
    </div>
</div>

<div class="page-wrapper" id="mainPage" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;"
    *ngIf="!doneLoading">
    <div style="display: table; margin: 2% auto">
        <div class="rotate"
            style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
        </div>
        <span style="position: relative;right: 45px;top: 10px;font-weight: bold;">Carregando conteudo...</span>
    </div>
</div>
<div class="page-wrapper" *ngIf="doneLoading">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="m-b-0 m-t-0">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['main']">Início</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <!-- <div class="col-md-6 col-4 align-self-center">
            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            <button class="btn pull-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i> Create</button>
            <div class="dropdown pull-right m-r-10 hidden-sm-down">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    January 2017
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">February 2017</a>
                    <a class="dropdown-item" href="#">March 2017</a>
                    <a class="dropdown-item" href="#">April 2017</a>
                </div>
            </div>
        </div> -->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">A receber no mês</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> {{(this.aReceberHoje
                                | currency:'BRL':true:'1.2-2').replace('.', ',').replace(',', '.')}}</h2>
                            <span class="text-muted">Entrada</span>
                        </div>
                        <!-- <span class="text-success">80%</span>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">A pagar no mês</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-down text-danger"></i> {{(this.aPagarHoje |
                                currency:'BRL':true:'1.2-2').replace('.', ',').replace(',', '.')}}</h2>
                            <span class="text-muted">Saída</span>
                        </div>
                        <!-- <span class="text-info">30%</span>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Saldo mensal</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-plus text-danger"></i> {{ ( ( (this.totalContasRecebidas + this.aReceberHoje) - (this.aPagarHoje + this.pagasTotal) ) |
                                    currency:'BRL':true:'1.2-2').replace('.', ',').replace(',', '.')}}</h2>
                            <span class="text-muted">Total</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Contas pagas</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> {{(this.pagasTotal |
                                currency:'BRL':true:'1.2-2').replace('.', ',').replace(',', '.')}}</h2>
                            <span class="text-muted">Total</span>
                        </div>
                        <!-- <span class="text-info">30%</span>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Valores recebidos</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="material-icons mdl-color-text--light-blue-600"
                                    style="position: relative;top: 5px;">add</i>
                                {{(this.totalContasRecebidas | currency:'BRL':true:'1.2-2').replace('.',
                                ',').replace(',', '.')}}</h2>
                            <span class="text-muted">Recebidos</span>
                        </div>
                        <!-- <span class="text-info">30%</span>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Total de clientes</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> {{this.totalCliente}}
                            </h2>
                            <span class="text-muted">Clientes hoje</span>
                        </div>
                        <!-- <span class="text-info">30%</span>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Total de Filiais</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> {{this.totalFilial}}
                            </h2>
                            <span class="text-muted">Filais Hoje</span>
                        </div>
                        <!-- <span class="text-purple">60%</span>
                        <div class="progress">
                            <div class="progress-bar bg-purple" role="progressbar" style="width: 60%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Total de Jobs</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> {{this.totalJobs ||
                                this.otrs.length}}</h2>
                            <span class="text-muted">Jobs Hoje</span>
                        </div>
                        <!-- <span class="text-danger">80%</span>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Messages Panel -->
            <!-- <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Coordenador' || this.userData[0].Usr_Nivel == 'Auxiliar'">
                <div class="card mdl-shadow--2dp messageCardResponsive" style="height: 180px;">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 style="display: inline-block">Mensagens recebidas <span style="font-size: 12px"> -
                                    Total de {{this.mensagens.length}} mensagens</span></h4>
                            <button style="position: absolute; right: 5px; top: 3px; text-transform: none" class="mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect btn btn-info"
                                [routerLink]="['/main/mensagens', {type: 'coord'}]">
                                <i class="material-icons">add</i>
                                <span>Nova mensagem</span>
                            </button>
                        </div>
                        <div style="overflow-y: auto; height: 80px; max-height: 80px; position: relative; bottom: 20px;">
                            <div *ngIf="this.mensagens.length > 0; else mensagensElse">
                                <a (click)="openMensagem(m)" *ngFor="let m of mensagens; let i = index">
                                    <div class="btn btn-danger btn-circle userNameCircle" style="background: #940000;border: 1px solid #1627ea;position:  relative;bottom: 25px;">{{m.paraNome.split('')[0]}}</div>
                                    <div class="mail-contnet" style="display: inline-block; width: 93%; cursor: pointer; border-bottom: 1px solid #dcdcdc;">
                                        <h5 style="margin-left: 5px;">{{m.paraNome}}</h5>
                                        <span class="time" style="margin-left: 5px;">{{m.MSG_Data_Envio}}</span>
                                    </div>
                                </a>
                            </div>
                            <ng-template #mensagensElse>
                                <div style="display: table; margin: auto; width: 65%">
                                    <i class="material-icons" style="font-size: 32px; display: table; margin: auto; margin-bottom: 10px ">info</i>
                                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                                    <span style="display: table; margin: auto;  margin-top: 10px; margin-bottom: 20px">Nenhuma
                                        mensagem</span>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Total de Promotores Ativos</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i>
                                {{this.totalPromotoresAtivos}}</h2>
                            <span class="text-muted">Promotores Hoje</span>
                        </div>
                        <!-- <span class="text-danger">80%</span>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Valor total de jobs</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> {{
                                (this.totalValorJobsDash | currency:'BRL':true:'1.2-2').replace('.', ',').replace(',',
                                '.') }}</h2>
                            <span class="text-muted">Valor no mês</span>
                        </div>
                        <!-- <span class="text-danger">80%</span>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-3 col-md-6">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Total de Redes</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> {{this.totalRede}}
                            </h2>
                            <span class="text-muted">Redes hoje</span>
                        </div>
                        <!-- <span class="text-danger">80%</span>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-3 col-md-6" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                <div class="card mdl-shadow--2dp" style="height: 180px;">
                    <div class="card-body">
                        <h4 class="card-title">Total de Usuarios</h4>
                        <div class="text-right">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i>
                                {{this.totalUsuarios}}</h2>
                            <span class="text-muted">Usuarios hoje</span>
                        </div>
                        <!-- <span class="text-danger">80%</span>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="card mdl-shadow--2dp">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <div id="sales-donute" style="width:100%; height:300px;"></div>
                    <div class="round-overlap m-t-20"><i class="mdi mdi-cart"></i></div>
                    <ul class="list-inline m-t-30 text-center">
                        <li><i class="fa fa-circle text-purple"></i> Item A</li>
                        <li><i class="fa fa-circle text-success"></i> Item B</li>
                        <li><i class="fa fa-circle text-info"></i> Item C</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Sales Prediction</h4>
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <span class="display-6">$3528</span>
                                    <h6 class="text-muted">(150-165 Sales)</h6>
                                </div>
                                <div class="ml-auto">
                                    <div id="gauge-chart" style=" width:150px; height:150px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Sales Difference</h4>
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <span class="display-6">$4316</span>
                                    <h6 class="text-muted">(150-165 Sales)</h6>
                                </div>
                                <div class="ml-auto">
                                    <div class="ct-chart" style="width:120px; height: 120px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Future feature -->
        <!-- <div class="col-lg-8 mdl-shadow--2dp" *ngIf="this.userData[0].Usr_Nivel == 'Admin'" style="max-width: none; width: 100%; flex:none; -ms-flex: none; -webkit-box-flex: none; max-height: 345px; height: 345px;background: #fff;">
            <div class="card" style="position:relative">
                <div class="card-body" style="max-height: 345px;">
                    <h4 class="card-title" style="margin-bottom: -1.25rem;">TOP 5 Promotores</h4>
                    <h4 class="card-title" style="margin-bottom: -1.25rem; position: absolute; right: 35px; top: 15px;">Jobs no mês</h4>
                    <table class="table browser m-t-30 no-border" style="overflow-y: auto; max-height: 310px;">
                        <tbody>
                            <tr *ngFor="let p of top5Promo|slice:0:5; let i = index" >
                                <td style="width:40px"><i class="material-icons {{(i + 1) === 1 ? 'mdl-color-text--red-600': (i + 1) === 2 ? 'mdl-color-text--amber-600': (i + 1) === 3 ? 'mdl-color-text--blue-400': ''}}" style="font-size: 25px;">filter_{{i+1}}</i></td>
                                <td>{{p.pro_nome}}</td>
                                <td class="text-right"><span style="font-size: 16px; padding: 10px;">{{p.total}} jobs</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->

        <div class="col-lg-8 mdl-shadow--2dp"
            style="margin-top: 15px; max-width: none; width: 100%; flex:none; -ms-flex: none; -webkit-box-flex: none; max-height: 500px; height: 500px;background: #fff;">
            <div class="card" style="width: 100%;">
                <div class="card-body" style="max-height: 1000px; position: relative;">
                    <div class="d-flex no-block">
                        <h4 class="card-title">Informações em tempo real<span
                                *ngIf="this.userData[0].Usr_Nivel == 'Admin'" style="font-size: 14px; "> - Valor total
                                de Jobs: {{ (this.totalValorJobs |
                                currency:'BRL':true:'1.2-2').replace('.', ',').replace(',', '.') }}</span></h4>
                    </div>

                    <!-- <div class="d-flex no-block">
                        <span  style="font-size: 14px; ">Média de Jobs em função do tempo: <b>{{this.mediaJobs}}</b></span>
                    </div> -->

                    <div class="table-responsive m-t-40" style="overflow: auto;max-height: 360px;margin-top:10px">
                        <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
                            <i class="material-icons"
                                style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                            <span style="display: table; margin: auto;  margin-top: 10px; margin-bottom: 20px">Nenhum
                                resultado encontrado!</span>
                        </div>
                        <table *ngIf="!emptyResult" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th><i class="material-icons">account_circle</i></th>
                                    <th>Cliente</th>
                                    <th>Rede</th>
                                    <th>Filial</th>
                                    <th>Promotor</th>
                                    <th>Data / Hora</th>
                                    <th>Informações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let o of resultsFilterOtrs; let i = index"
                                    style="margin-bottom: 5px; margin-top: 5px;">
                                    <td style="width: 42px;">
                                        <div
                                            style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                                            <span
                                                style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{o.Cli_Nome.split('')[0]}}</span>
                                        </div>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.Cli_Nome}}
                                        </span>
                                        <i class="material-icons" style="font-size: 18px" 
                                            *ngIf="
                                            (o.JOB_PRO_Modelo != null && o.JOB_PRO_Modelo !== undefined && o.JOB_PRO_Modelo != 'null' && o.JOB_PRO_Modelo != '') && 
                                            (o.JOB_PRO_Plataforma != null && o.JOB_PRO_Plataforma !== undefined && o.JOB_PRO_Plataforma != 'null' && o.JOB_PRO_Plataforma != '') &&
                                            (o.JOB_PRO_Versao != null && o.JOB_PRO_Versao !== undefined && o.JOB_PRO_Versao != 'null' && o.JOB_PRO_Versao != '') &&
                                            (o.JOB_PRO_Manufact != null && o.JOB_PRO_Manufact !== undefined && o.JOB_PRO_Manufact != 'null' && o.JOB_PRO_Manufact != '')
                                            ">mobile_friendly</i>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.RED_Nome}}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.RFIL_Nome}}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.PRO_Nome}}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.JOB_Data_Hora_Input2}}
                                        </span>
                                    </td>

                                    <td>
                                        <a (click)="openJOBImage(o)" style="cursor: pointer"
                                            id="openImagemJob">Visualizar</a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-8 mdl-shadow--2dp"
            style="margin-top: 15px; max-width: none; width: 100%; flex:none; -ms-flex: none; -webkit-box-flex: none; max-height: 500px; height: 480px;background: #fff;">
            <div class="card" style="width: 100%;">
                <div class="card-body" style="max-height: 550px; position: relative;">
                    <div class="d-flex no-block">
                        <h4 class="card-title">Entradas e Saidas</h4>
                    </div>

                    <span>Promotores</span>

                    <input type="text" class="form-control col-2" [(ngModel)]="filterPromotoresStrCheckin"
                        (keydown.enter)="filterPromotoresCheckin(this.filterPromotoresStrCheckin, this.checkins)" />


                    <div style="position: absolute; top: 65px; right: 10px;">
                        <button *ngIf="!this.alreadyFiltered"
                            class=" mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white"
                            (click)="filterEntrada('entrada')">
                            Entradas
                        </button>
                        <button *ngIf="!this.alreadyFiltered"
                            class=" mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white"
                            (click)="filterEntrada('saida')">
                            Saidas
                        </button>

                        <button *ngIf="this.alreadyFiltered"
                            class=" mdl-button mdl-js-button mdl-color--red-500 mdl-color-text--white"
                            (click)="alreadyFiltered = false">
                            Voltar
                        </button>
                    </div>

                    <div class="table-responsive m-t-40" style="margin-top: 5px; overflow: auto;max-height: 300px;">
                        <div *ngIf="this.checkins.length < 1" style="display: table; margin: auto; width: 65%">
                            <i class="material-icons"
                                style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                            <span style="display: table; margin: auto;  margin-top: 10px; margin-bottom: 20px">Nenhum
                                resultado encontrado!</span>
                        </div>
                        <table *ngIf="!emptyResult" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th><i class="material-icons">account_circle</i></th>
                                    <th>Tipo</th>
                                    <th>Rede</th>
                                    <th>Filial</th>
                                    <th>Promotor</th>
                                    <th>Data/Hora Entrada</th>
                                    <th>Data/Hora Saida</th>
                                    <!-- <th>Informações</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let o of checkins; let i = index"
                                    style="margin-bottom: 5px; margin-top: 5px;">
                                    <td style="width: 42px;">
                                        <div style="width: 32px; height: 32px; border-radius: 250px; position: relative;"
                                            [style.backgroundColor]="o.type == 'saida' ? '#f4e242':'#940000'">
                                            <span class="material-icons"
                                                style="font-weight: bold; display: table; margin: auto; position: absolute; top: 25%; left: 25%;"
                                                [style.color]="o.type == 'saida' ? '#000':'#fff'">transfer_within_a_station</span>
                                        </div>
                                    </td>

                                    <td>
                                        <span>
                                            {{ o.type == 'saida' ? 'Saida': 'Entrada' }}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.RED_Nome}}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.RFIL_Nome}}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.PRO_Nome}}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{ (o.aux_data_entrada + ' / ' + o.aux_hora_entrada ) }}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{(o.aux_data_saida || '') + ' / ' + (o.aux_hora_saida || '')}}
                                        </span>
                                    </td>

                                    <!-- <td>
                                        <a (click)="openJOBImage(o)" style="cursor: pointer" id="openImagemJob">Visualizar</a>
                                    </td> -->

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-8 mdl-shadow--2dp"
            style="margin-top: 15px; max-width: none; width: 100%; flex:none; -ms-flex: none; -webkit-box-flex: none; max-height: 500px; height: 480px;background: #fff;">
            <div class="card" style="width: 100%;">
                <div class="card-body" style="max-height: 550px; position: relative;">
                    <div class="d-flex no-block">
                        <h4 class="card-title">Feedbacks Externos</h4>
                    </div>

                    <div class="table-responsive m-t-40" style="margin-top: 5px; overflow: auto;max-height: 300px;">
                        <div *ngIf="this.checkins.length < 1" style="display: table; margin: auto; width: 65%">
                            <i class="material-icons"
                                style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                            <span style="display: table; margin: auto;  margin-top: 10px; margin-bottom: 20px">Nenhum
                                resultado encontrado!</span>
                        </div>
                        <table *ngIf="!emptyResult" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th>Rede</th>
                                    <th>Filial</th>
                                    <th>Coordenador</th>
                                    <th>Data/Hora</th>
                                    <th>Observações</th>
                                    <!-- <th>Informações</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let o of feedbacks; let i = index"
                                    style="margin-bottom: 5px; margin-top: 5px;">

                                    <td>
                                        <span>
                                            {{ o.RED_Nome }}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.RFIL_Nome}}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.Usr_Nome}}
                                        </span>
                                    </td>

                                    <td>
                                        <span>
                                            {{o.JOB_Data_Hora_Input2}}
                                        </span>
                                    </td>


                                    <td>
                                        <span>
                                            {{o.JOB_Obs}}
                                        </span>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>