<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-12">
        <!-- Column -->
        <div class="card">
            <div class="card-body table-responsive m-t-40">
                <h4 class="card-title">Lista de Valores de Jobs</h4>
                <div style="width: 100%; position: relative">
                    <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por Rede</span>
                    <input class="form-control col-4" (keyup)="searchRede(queryRedes)" (keydown.enter)="searchRede(queryRedes)" [(ngModel)]="queryRedes" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />

                    <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por Cliente</span>
                    <input class="form-control col-4" (keydown.enter)="searchCliente(queryCliente)" [(ngModel)]="queryCliente" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
                    <button class="btn btn-success col-3" style="position: absolute; top: -40px; right: 15px" (click)="makePDF()">
                      Imprimir
                    </button>

                    <button class="btn btn-success col-3" style="position: absolute; top: 65px; right: 15px" (click)="showEdit()">
                      Editar todos
                    </button>

                    <button class="btn btn-success col-3" style="position: absolute; top: 65px; right: 30%" (click)="saveAll()" *ngIf="editall">
                      Salvar todos
                    </button>


                </div>
                <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
                </div>

                <div *ngIf="!emptyResult" style="border-bottom: 1px solid #d2d1d2; padding-bottom: 10px">
                    <button class="btn btn-success" (click)="enableSelect = !enableSelect">{{enableSelect == true ? 'Desselecionar' : 'Selecionar'}}</button>
                    <button class="btn btn-success" *ngIf="enableSelect" (click)="deleteSelected()">Apagar selecionados</button>
                    <div *ngFor="let f of resultsFilterRedes | paginate: { itemsPerPage: 5, currentPage: p }; let i = index" style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
                        <span (click)="openValoresJob(i, v, $event)" style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{f.nome}}</span>

                        <div *ngIf="f.content.length < 1" style="display: table; margin: auto; width: 65%">
                            <i class="material-icons" style="font-size: 32px; display: table; margin: auto; margin-bottom: 10px ">bookmark</i>
                            <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                            <span style="display: table; margin: auto;  margin-top: 10px">Valor ainda não cadastrado</span>
                        </div>

                        <div *ngIf="f.content.length > 0" style="border-top: 1px solid #940000; margin-top: 25px; border-bottom: 1px solid #fefefe; display: block; margin-left: 20px">
                            <div *ngIf="f.content.length > 0 || f.content !== undefined">
                                <table *ngIf="!emptyResult" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                                    <thead>
                                        <tr>
                                            <th *ngIf="enableSelect"><i class="material-icons">done</i></th>
                                            <th><i class="material-icons">account_circle</i></th>
                                            <th>Rede</th>
                                            <th>Filial</th>
                                            <th>Valor</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let vc of f.content; let fI = index" style="cursor: pointer">
                                            <td *ngIf="enableSelect">
                                                <input type="checkbox" id="valores-tbl-chk-{{i}}-{{fI}}" />
                                            </td>
                                            <td>
                                                <div style="width: 32px; height: 32px; border: 1px solid #940000; border-radius: 250px; position: relative;">
                                                    <span style="font-weight: bold; color: #940000; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{vc.RED_Nome.split('')[0]}}</span>
                                                </div>
                                            </td>
                                            <td>{{vc.RED_Nome}}</td>
                                            <td>{{vc.RFIL_Nome}}</td>
                                            <td>
                                                <span *ngIf="!editall">{{'R$ '+ vc.VJOB_Valor}}</span>
                                                <input type="text" id="input-tbl-chk-{{i}}-{{fI}}" class="maskMoney" [(ngModel)]="vc.VJOB_Valor" *ngIf="editall" (change)="vc.edited = true; vc.VJOB_Valor = sl.value" (blur)="vc.edited = true; vc.VJOB_Valor = sl.value" #sl/>
                                            </td>
                                            <td>
                                                <button [routerLink]="['/main/valorJob', {page: 'editar', cliId: vc.VJOB_Cliente_ID, nome: vc.Cli_Nome, job: vc.VJOB_ID }]" class="mdl-button mdl-js-button mdl-ripple-effect mdl-button--icon">
                                        <i class="material-icons mdl-color-text--red-500">mode_edit</i>
                                      </button>
                                                <button (click)="deleteValor(vc)" class="mdl-button mdl-js-button mdl-ripple-effect mdl-button--icon">
                                        <i class="material-icons mdl-color-text--red-500">delete</i>
                                      </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <pagination-controls (pageChange)="p = $event" style="float: right"></pagination-controls>
                </div>

                <div id="valoresTable" style="display: none; border-bottom: 1px solid #d2d1d2; padding-bottom: 10px">
                    <img src="./assets/logo.png" style="width: 120px; position: relative; top: 10px;" />
                    <span style="display: table; margin: auto; margin-bottom: 25px; font-size: 20px; font-weight: 300">KSTrade - Lista de Valores de Jobs</span>
                    <div *ngFor="let f of resultsFilterRedes; let i = index" style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
                        <span (click)="openValoresJob(i, v, $event)" style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{f.nome}}</span>

                        <div *ngIf="f.content.length > 0" style="border-top: 1px solid #940000; margin-top: 25px; border-bottom: 1px solid #fefefe; display: block; margin-left: 20px">
                            <div *ngIf="f.content.length > 0 || f.content !== undefined">
                                <table *ngIf="!emptyResult" class="tablesaw table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch>
                                    <thead>
                                        <tr>
                                            <th>Rede</th>
                                            <th>Filial</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let vc of f.content; let fI = index" style="cursor: pointer">
                                            <td>{{vc.RED_Nome}}</td>
                                            <td>{{vc.RFIL_Nome}}</td>
                                            <td><span>{{'R$ '+ vc.VJOB_Valor}}</span> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
      <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
      <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
      <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
    </div>
  
    <table class="table table-hover table-responsive" *ngIf="!emptyResult">
        <thead>
            <tr>
                <th><i class="material-icons">account_circle</i></th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of valoresJob; let i = index"  style="margin-bottom: 5px; margin-top: 5px;">
            <td style="width: 42px;" id="mainTdJob-{{i}}"  (click)="openValoresJob(i, v, $event)">
              <div style="width: 32px; height: 32px; background-color: #940000; border-radius: 250px; position: relative;">
                <span style="font-weight: bold; color: #fff; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{v.nome.split('')[0]}}</span>
              </div>
            </td>

            <td style="width: 100%; display: inline-table"  (click)="openValoresJob(i, v, $event)" >
              <span style="padding: 10px;margin: 3px;position: relative;top: 15px;">
                {{v.nome}}
              </span>
            </td>

            <div *ngIf="v.visible && v.content.length > 0" style="border-top: 1px solid #940000; margin-top: 25px; width: 90%; border-bottom: 1px solid #fefefe; display: block; margin-left: 20px" >
              <div *ngIf="v.content.length > 0 || v.content !== undefined">
                <table class="table table-hover" *ngIf="!emptyResult" style="z-index: 5">
                    <thead>
                        <tr>
                            <th><i class="material-icons">account_circle</i></th>
                            <th>Rede</th>
                            <th>Filial</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vc of v.content; let fI = index" style="cursor: pointer">
                            <td >
                              <div style="width: 32px; height: 32px; border: 1px solid #940000; border-radius: 250px; position: relative;">
                                <span style="font-weight: bold; color: #940000; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{vc.RED_Nome.split('')[0]}}</span>
                              </div>
                            </td>
                            <td>{{vc.RED_Nome}}</td>
                            <td>{{vc.RFIL_Nome}}</td>
                            <td><span>{{'R$ '+ vc.VJOB_Valor}}</span> </td>
                            <td>
                              <button [routerLink]="['/main/valorJob', {page: 'editar', cliId: vc.VJOB_Cliente_ID, nome: vc.Cli_Nome, job: vc.VJOB_ID }]" class="mdl-button mdl-js-button mdl-ripple-effect mdl-button--icon">
                                <i class="material-icons mdl-color-text--red-500">mode_edit</i>
                              </button> 
                              <button (click)="deleteValor(vc)" class="mdl-button mdl-js-button mdl-ripple-effect mdl-button--icon">
                                <i class="material-icons mdl-color-text--red-500">delete</i>
                              </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </tr>
        </tbody>
    </table>
  </div> -->