<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;" *ngIf="loggedIn">
  <div class="col-12">
    <!-- Column -->
    <div class="card">
      <div *ngIf="this.pageParams.params.usuarios == 'true'" class="card-body table-responsive m-t-40" style="margin-top: 0;">

          <button class="btn btn-success col-6" (click)="disconnectUsers()">
            Desconectar todos auxiliares e coordenadores
          </button>

      </div>

      <div class="card-body table-responsive m-t-40" style="margin-top: 0;"
        *ngIf="this.pageParams.params.promotores == 'true'">

        <h4 class="card-title">Lista de Promotores</h4>

        <div style="width: 100%">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar</span>
          <input class="form-control col-8" (keydown.enter)="searchPromotores(queryPromotores, 'nome')"
            [(ngModel)]="queryPromotores"
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
        </div>

        <div style="width: 100%">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por telefone</span>
          <input class="form-control col-8" (keydown.enter)="searchPromotores(queryPromotoresTel, 'telefone')"
            [(ngModel)]="queryPromotoresTel"
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
        </div>

        <div style="width: 100%">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por conta</span>
          <input class="form-control col-8" (keydown.enter)="searchPromotores(queryPromotoresConta, 'conta')"
            [(ngModel)]="queryPromotoresConta"
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
        </div>

        <div style="width: 100%">
          <span style="padding: 24px 10px 10px;position: relative;top: 10px;">Buscar por filial</span>
          <input class="form-control col-8" (keydown.enter)="searchPromotores(queryPromotoresFil, 'filial')"
            [(ngModel)]="queryPromotoresFil"
            style="display: block;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;" />
        </div>

        <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
          <i class="material-icons"
            style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
          <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
          <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
        </div>

        <div *ngIf="!doneLoading" style="display: table; margin: 2% auto">
          <div class="rotate"
            style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
          </div>
          <span style="position: relative;right: 45px;top: 10px;font-weight: bold;">Carregando conteudo...</span>
        </div>

        <div *ngIf="doneLoading && !emptyResult && resultFilterPromotores.length > 0"
          style="display: table; margin: auto; border-bottom: 1px solid #d2d1d2; padding-bottom: 10px; width: 100%">

          <div *ngFor="let f of resultFilterPromotores | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index"
            style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer; position: relative;">
            <input style="margin-top: 5px" *ngIf="canSelect" type="checkbox" id="selectPRO_{{i}}" />
            <span style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">
              <!-- <i style="font-size: 12px" class="material-icons {{ (f.PRO_Net_Status == 'true' || f.PRO_Net_Status === true || f.PRO_Net_Status == '1') ? 'mdl-color-text--red-500':'mdl-color-text--gray-50'}}">fiber_manual_record</i> -->
              {{f.PRO_Nome + ' / Telefone: ' + f.PRO_Telefone}}
            </span>

            <div *ngIf="userData[0].Usr_Nivel == 'Admin'" style="position: absolute; top: 4px; right: 4px;">
              <button (click)="f.menuRow = !f.menuRow"
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">keyboard_arrow_down</i>
              </button>

              <div *ngIf="f.menuRow"
                style="width: 125px; background-color: #fff; position: absolute; right: 10px; z-index: 15; box-shadow: 1px 2px 4px rgba(0,0,0,0.4)">

                <button *ngIf="userData[0].Usr_Nivel == 'Admin'" class="mdl-button mdl-js-button mdl-js-ripple-effect"
                  style="text-transform: none; width: 100%" (click)="makeDisconnect(f)">
                  <i class="material-icons" style="font-size: 14px">mode_edit</i>
                  MD act
                </button>
              </div>
            </div>
          </div>

          <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>