<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-md-6 col-8 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Cadastrar contas a receber</a></li>
        </ol>
    </div>
    <form  [formGroup]="cadastroContaReceber" >
        <div class="form-group ">
            <label class="col-2 col-form-label">Descrição <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" class="form-control" formControlName="descricao" [(ngModel)]="this.descricao">
            </div>
            <small *ngIf="this.errorDescricao.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>
    
        <div class="form-group ">
            <label class="col-2 col-form-label">Tipo de serviço <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input (keydown.enter)="filterServico($event, this.servico, this.servicos)" style="cursor: pointer" readonly formControlName="servico" (click)="servicoOK = !servicoOK" [(ngModel)]="this.servico"  type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="servicoOK = !servicoOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="servicoOK" (blur)="servicoOK = false">
                        <button *ngFor="let s of resultFilterServicos; let i = index" (click)="setServico(s)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{s.TIPS_Nome}}</span>
                        </button>
                    </div>
                </div>
                <!-- <select class="form-control" formControlName="servico" [(ngModel)]="this.servico" id="servicoSelect">
                    <option value="" selected>{{this.servico}}</option>
                    <option *ngFor="let s of servicos; let i = index" (click)="setServico(s)">{{s.TIPS_Nome}}</option>
                </select> -->
            </div>
            <small *ngIf="this.errorServico.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <!-- <div class="form-group ">
            <label class="col-2 col-form-label">Rede <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input style="cursor: pointer" readonly formControlName="rede" (click)="redeOK = !redeOK" [(ngModel)]="this.rede"  type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="redeOK = !redeOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="redeOK" (blur)="redeOK = false">
                        <button *ngFor="let r of redes; let i = index" (click)="setRedes(r)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{r.RED_Nome}}</span>
                        </button>
                    </div>
                </div>
                <!-- <select class="form-control" formControlName="rede" [(ngModel)]="this.rede">
                    <option value="" selected>{{this.rede}}</option>
                    <option *ngFor="let r of redes; let i = index" (click)="setRedes(r)">{{r.RED_Nome}}</option>
                </select> 
            </div>
            <small *ngIf="this.errorRede.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Filial <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input style="cursor: pointer" readonly formControlName="filial" [(ngModel)]="this.filial" (click)="filialOK = !filialOK"  type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="filialOK = !filialOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="filialOK" (blur)="filialOK = false">
                        <button *ngFor="let f of filiais; let i = index" (click)="setFilial(f)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{f.RFIL_Nome}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <small *ngIf="this.errorFilial.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div> -->
        <!-- <div class="form-group ">
            <label class="col-2 col-form-label">Filial <span class="text-danger">*</span></label>
            <div class="controls col-12">
                    <!-- [disableControl]"{{this.filiais.length > 0 ? false: true}}" 
                <select *ngIf="filialOK" class="form-control" formControlName="filial" [(ngModel)]="this.filial">
                    <option value="" selected>{{this.filial}}</option>
                    <option *ngFor="let f of filiais; let i = index" (click)="setFilial(f)">{{f.RFIL_Nome}}</option>
                </select>
            </div>
            <small *ngIf="this.errorFilial.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div> -->

        <div class="form-group ">
            <label class="col-2 col-form-label">Nota fiscal <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" class="form-control" formControlName="notafiscal" [(ngModel)]="this.notafiscal">
            </div>
            <small *ngIf="this.errorNotaFiscal.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>
    
        <div class="form-group ">
            <label class="col-2 col-form-label">Valor <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="text" id="valorInputReceber" class="form-control" formControlName="valor" [(ngModel)]="this.valor">
            </div>
            <small *ngIf="this.errorValor.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Data de recebimento <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <input type="date" class="form-control" formControlName="data" [(ngModel)]="this.data">
            </div>
            <small *ngIf="this.errorData.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>

        <div class="form-group ">
            <label class="col-2 col-form-label">Observação <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <textarea type="text" class="form-control" formControlName="obs" [(ngModel)]="this.observacao"></textarea>
            </div>
            <small *ngIf="this.errorObservacao.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>
    
        <button type="submit" (click)="cadContaReceber()" class="btn btn-info col-12">{{this.pageParams.params.page == 'editar' ? 'Atualizar':'Cadastrar'}}</button>
    </form>
</div>