<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <!-- <div *ngIf="emptyResult" style="display: table; margin: auto; width: 65%">
    <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
    <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
  </div> -->

  <div class="col-12">
    <!-- Column -->
    <div class="card" style="min-height: 600px;">
      <div class="card-body table-responsive m-t-40" >
        <h4 class="card-title">Gerar book -> {{this.pageParams.params.Cli_Nome}}</h4>
        
        <div style="width: 100%; display: block;" #insert>
          <div style="width: 100%"  >
            <div class="col-12" style="margin-bottom: 5px">
              <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar rede</span>

              <select class="form-control col-8" (change)="clSelect.value.split(':')[0]  != -1 ? genBook(clSelect.value.split(':')[1], {RED_ID: clSelect.value.split(':')[0], RED_Nome: clSelect.value.split(':')[1]}): null" #clSelect>
                <option value="{{-1+':'}}">
                  Nenhum
                </option>
                <option *ngFor="let c of redes" value="{{c.RED_ID+':'+c.RED_Nome}}">
                  {{c.RED_Nome}}
                </option>
              </select>
            </div>
          </div>
              
          <div *ngIf="!doneLoading" style="display: table; margin: 2% auto">
            <div class="rotate" style="display: table; margin: auto; border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
            </div>
            <span style="display: table; margin: auto; font-weight: bold;">Por favor aguarde!</span>
            <span style="display: table; margin: auto;font-weight: bold;">Carregando todas as infos....</span>
          </div>

          <div *ngIf="doneLoading && !rede_selected" style="display: table; margin: 2% auto">
            <i class="material-icons" style="display: table; margin: auto; font-size: 62px">info_outline</i>
            <span id="caption" style="display: table; margin: auto; font-weight: bold;">Selecione a rede para gerar o Book</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>