<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============ class="topbar" ================================================== -->
    <header class="topbar" style="width: 100%; position: relative; background: linear-gradient(to right, #5e0000 0%, #940000 100%); display: block">
        <nav class="top-navbar navbar-expand-md navbar-light" style="height: 70px;">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <img class="logo" src="./assets/logo.png" alt="Inicio" style="width: 70px; top: 0px" />
            <!-- <div class="navbar-header">
              <a class="navbar-brand" href="index.html">
                  <b>
                   
                  </b>
              </a>
          </div> -->
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse" style="width: 80%;position: relative;left: 235px;bottom: 65px;">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto mt-md-0 ">
                    <!-- This is  -->
                    <li class="nav-item" style="position: absolute;  top: 20px;left: -215px;"> <a id="menu-order" class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    <!-- <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li> -->
                    <!-- ============================================================== -->
                    <!-- Comment -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown" style="left: 5px;top: 20px;" *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                        <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                            <div class="notify"> <span id="msgIcon"></span> </div>
                        </a>
                        <div class="dropdown-menu mailbox bounceInDown">
                            <ul>
                                <li>
                                    <div class="drop-title">Mensagens</div>
                                    <div style="border-bottom: 1px solid rgba(120, 130, 140, 0.13);">
                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-transform: none; width: 100%;" [routerLink]="['mensagens']">
                                            <i class="material-icons">add</i>
                                            <span>Nova mensagem</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <div *ngIf="this.mensagens.length < 1" style="width: 100%; margin-top: 20px;">
                                            <i class="material-icons" style="display: table; margin: auto; color: #212121; font-size: 52px">mood_bad</i>
                                            <span style="display: table; margin: auto; color: #212121;">Nenhuma
                                                mensagem</span>
                                        </div>
                                        <a (click)="openMensagem(m)" *ngFor="let m of mensagens; let i = index">
                                            <div class="btn btn-danger btn-circle" style="background: #940000; border: 1px solid #1627ea">
                                                {{m.Usr_Nome.split('')[0]}}</div>
                                            <div class="mail-contnet">
                                                <h5 style="margin-left: 5px;">{{m.Usr_Nome}}</h5>
                                                <span class="time" style="margin-left: 5px;">{{m.MSG_Data_Envio}}</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <!-- <li>
                                  <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                              </li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item hidden-sm-down">
                        <!-- <div class="app-search">
                          <label *ngIf="queryClienteError == true" style="margin-right: 5px; color: #fff; text-shadow: rgba(255,255,255,0.2)">Preencha o campo</label>
                          <input type="text" (keydown.enter)="searchCliente($event, queryCliente)" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Pesquisar cliente" [(ngModel)]="queryCliente">
                          <button class=" mdl-button mdl-button--icon mdl-js-button srh-btn" (click)="searchCliente($event, queryCliente)">
                              <i class="ti-search"></i>
                          </button> 
                      </div> -->
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img [src]="userImage" alt="user" class="profile-pic" /></a>
                        <div class="dropdown-menu dropdown-menu-right flipInY" style="left: -125px; width: 275px">
                            <ul class="dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img [src]="userImage" alt="user"></div>
                                        <div class="u-text">
                                            <h4>{{this.userData[0].Usr_Nome}}</h4>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a (click)="logOut()"><i class="fa fa-power-off"></i> Sair</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <!-- <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-us"></i></a> -->
                        <!-- <div class="dropdown-menu  dropdown-menu-right animated bounceInDown"> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-in"></i> India</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> China</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> Dutch</a> </div> -->
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar" style="padding-top: 70px; border-right: 1px solid #ff7676">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- User profile -->
            <div class="user-profile">
                <!-- User profile image -->
                <div class="profile-img"> <img [src]="userImage" alt="user" /> </div>
                <!-- User profile text-->
                <div class="profile-text"> <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{{userData[0].Usr_Nome}} <span
                            class="caret"></span></a>
                    <div class="dropdown-menu animated flipInY" style="right: 50px; margin-left: 50px;">
                        <a (click)="logOut()" class="dropdown-item"><i class="fa fa-power-off"></i> Sair</a>
                    </div>
                </div>
            </div>
            <!-- End User profile text-->
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav" id="leftMenu">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">MENU</li>
                    <li>
                        <a (click)="closeMenu()" [routerLink]="['dashboard']" aria-expanded="false"><i
                                class="material-icons">home</i><span class="hide-menu">Início</span></a>
                    </li>
                    <li>
                        <a (click)="closeMenu()" [routerLink]="['redes']" aria-expanded="false"><i
                                class="material-icons">web</i><span class="hide-menu">Redes</span></a>
                    </li>
                    <li>
                        <a (click)="closeMenu()" [routerLink]="['filiais']" aria-expanded="false"><i
                                class="material-icons">group_work</i><span class="hide-menu">Filiais</span></a>
                    </li>
                    <li>
                        <a (click)="closeMenu()" [routerLink]="['pesquisa']" aria-expanded="false"><i
                                class="material-icons">bookmark</i><span class="hide-menu">Pesquisas</span></a>
                    </li>
                    <li>
                        <a (click)="closeMenu()" [routerLink]="['cadBook', {Cli_ID: this.userData[0].clientes[0].aux_cliente_id}]" aria-expanded="false"><i
                                class="material-icons">book</i><span class="hide-menu">Gerar Book</span></a>
                    </li>
                    <!-- <li>
                      <a class="has-arrow " href="#" aria-expanded="false"><i class="material-icons">web</i><span class="hide-menu">Rede</span></a>
                      <ul aria-expanded="false" class="collapse">
                          <li><a [routerLink]="['cadastrarRede']">Cadastrar Rede</a></li>
                          <li><a [routerLink]="['listaRedes']">Listagem de Redes</a></li>
                          <li><a [routerLink]="['cadFilial']">Cadastrar Filial</a></li>
                          <li><a [routerLink]="['listaFilial']">Listagem de Filiais</a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="has-arrow" href="#" aria-expanded="false"><i class="material-icons">group_work</i><span class="hide-menu">Jobs</span></a>
                      <ul aria-expanded="false" class="collapse">
                          <li><a [routerLink]="['novoJob']">Novo Job</a></li> 
                          <li><a [routerLink]="['listaJobs']">Listagem de Jobs</a></li>
                      </ul>
                  </li> -->
                    <!-- <li>
                      <a class="has-arrow " href="#" aria-expanded="false"><i class="material-icons">group</i><span class="hide-menu">Promotores</span></a>
                      <ul aria-expanded="false" class="collapse">
                          <li><a [routerLink]="['cadPromotor']">Cadastro de Promotores</a></li>
                          <li><a [routerLink]="['listaPromotor']">Listagem de Promotores</a></li>
                      </ul>
                  </li>
                  <li *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                      <a class="has-arrow " href="#" aria-expanded="false"><i class="material-icons">account_box</i><span class="hide-menu">Usuários</span></a>
                      <ul aria-expanded="false" class="collapse">
                          <li><a [routerLink]="['cadUsuario']">Cadastro de Usuários</a></li>
                          <li><a [routerLink]="['listaUsuario']">Listagem de Usuários</a></li>
                      </ul>
                  </li>
                  <li *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                      <a class="has-arrow " href="#" aria-expanded="false"><i class="material-icons">monetization_on</i><span class="hide-menu">Financeiro</span></a>
                      <ul aria-expanded="false" class="collapse">
                          <li><a href="#" class="has-arrow">Contas a pagar</a>
                              <ul aria-expanded="false" class="collapse">
                                  <li><a [routerLink]="['cadConta']">Cadastrar conta</a></li>
                                  <li style="cursor: pointer"><a style="cursor: pointer" (click)="goto('pagar')" [routerLink]="['/main/listaContas', {page: 'pagar'}]">Listagem de contas a pagar</a></li>
                                  <li style="cursor: pointer"><a style="cursor: pointer" (click)="goto('pagas')" [routerLink]="['/main/listaContas', {page: 'pagas'}]">Listagem de contas pagas</a></li>
                                  <!-- <li><a [routerLink]="['listaContas', {page: 'adfiltro'}]">Filtro avançado</a></li> 
                              </ul>
                          </li>
                          
                          <li><a href="#" class="has-arrow">Contas a receber</a>
                              <ul aria-expanded="false" class="collapse">
                                  <li><a [routerLink]="['cadContasReceber']">Cadastrar contas a receber</a></li>
                                  <li style="cursor: pointer"><a style="cursor: pointer" (click)="goto('listaAReceber')" [routerLink]="['/main/listaContasReceber', {page: 'areceber'}]">Listagem de contas a receber</a></li>
                                  <li style="cursor: pointer"><a style="cursor: pointer" (click)="goto('listaRecebidas')" [routerLink]="['/main/listaContasReceber', {page: 'recebido'}]">Listagem contas recebidas</a></li> 
                                  <!-- <li><a [routerLink]="['listaContasReceber', {page: 'adfiltro'}]">Filtro avançado</a></li> 
                              </ul>
                          </li>

                          <li><a href="#" class="has-arrow" >Tipos de serviço</a>
                              <ul aria-expanded="false" class="collapse">
                                  <li><a [routerLink]="['cadServico']">Cadastrar serviço</a></li>
                                  <li><a [routerLink]="['listaServico']">Listagem de serviços</a></li> 
                              </ul>
                          </li>

                          <li><a [routerLink]="['listaValorJob']">Valores de Job</a></li>
                      </ul>
                  </li> -->
                    <!-- <li *ngIf="this.userData[0].Usr_Nivel == 'Admin'">
                      <a class="has-arrow " href="#" aria-expanded="false"><i class="material-icons">contacts</i><span class="hide-menu">Contatos</span></a>
                      <ul aria-expanded="false" class="collapse">
                          <li><a [routerLink]="['cadContato']">Cadastro de Contatos</a></li>
                          <li><a [routerLink]="['listaContato']">Listagem de Contatos</a></li>
                      </ul>
                  </li> -->
                    <li class="nav-devider"></li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
    </aside>

    <router-outlet></router-outlet>

    <footer class="footer" style="position: relative">
        © {{yearNow}} <a style="color: #000; font-weight: bold;" href="https://technoxinformatica.com.br">TechnoX Informática</a>
    </footer>
</div>