
<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
    <div class="col-12">
        <!-- Column -->
        <div class="card">
            <div class="card-body table-responsive m-t-40">
              <h4 class="card-title">Lista de Filiais</h4>
              <div style="width: 100%">
                <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por Rede</span>
                <input class="form-control col-4" (keydown.enter)="searchFiliais(queryFiliais)" [(ngModel)]="queryFiliais" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>
              
                <span style="padding: 24px 10px 10px;position: relative;top: 0px;">Buscar por cidade</span>
                <input class="form-control col-4" (keydown.enter)="searchCidadeFiliais(queryCidadeFiliais)" [(ngModel)]="queryCidadeFiliais" style="display: inline-table;margin-top: 15px;margin-left: 15px;margin-bottom: 10px;"/>
              </div>
              
              <div *ngIf="emptyResult || resultsFilterFiliais.length < 1" style="display: table; margin: auto; width: 65%">
                <i class="material-icons" style="font-size: 52px; display: table; margin: auto; margin-bottom: 10px ">warning</i>
                <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                <span style="display: table; margin: auto;  margin-top: 10px">Nenhum resultado encontrado!</span>
              </div>
              <div  *ngIf="!emptyResult && resultsFilterFiliais.length > 0" style="border-bottom: 1px solid #d2d1d2; padding-bottom: 10px">
                <div *ngFor="let f of resultsFilterFiliais; let i = index" style="border-top: 1px solid #212121; margin-top: 10px; cursor: pointer">
                  <span (click)="openFilial(i, f, $event)" style="cursor: pointer; position: relative; top: 10px; font-weight: bold;">{{f.nome}}</span>
                  
                  <div *ngIf="f.content.length < 1" style="display: table; margin: auto; width: 65%">
                    <i class="material-icons" style="font-size: 32px; display: table; margin: auto; margin-bottom: 10px ">bookmark</i>
                    <div style="width: 100%; height: 1px; background-color: #dcdcdc;"></div>
                    <span style="display: table; margin: auto;  margin-top: 10px">Filial ainda não cadastrada</span>
                  </div>

                  <div *ngIf="f.content.length > 0" style="border-top: 1px solid #940000; margin-top: 25px; border-bottom: 1px solid #fefefe; display: block; margin-left: 20px" >
                    <div *ngIf="f.content.length > 0 || f.content !== undefined">
                      <table *ngIf="!emptyResult && resultsFilterFiliais.length > 0" class="tablesaw table-bordered table-hover table" data-tablesaw-mode="swipe" data-tablesaw-sortable data-tablesaw-sortable-switch data-tablesaw-minimap data-tablesaw-mode-switch style="margin-bottom: 80px;">
                        <thead>
                          <tr>
                            <th><i class="material-icons">account_circle</i></th>
                            <th>Nome</th>
                                    <th>Encarregado</th>
                                    <th>Telefone</th>
                                    <th>CEP</th>
                                    <th>Endereço</th>
                                    <th>Cidade / Estado</th>
                                    <!-- <th></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fc of f.content; let fI = index" style="cursor: pointer">
                                    <td >
                                      <div style="width: 32px; height: 32px; border: 1px solid #940000; border-radius: 250px; position: relative;">
                                        <span style="font-weight: bold; color: #940000; display: table; margin: auto; position: absolute; top: 25%; left: 40%;">{{fc.RFIL_Nome.split('')[0]}}</span>
                                      </div>
                                    </td>
                                    <td>{{fc.RFIL_Nome}}</td>
                                    <td>{{fc.RFIL_Encarregado}}</td>
                                    <td><span>{{fc.RFIL_Telefone}}</span> </td>
                                    <td><span > {{fc.RFIL_CEP}}</span> </td>
                                    <td><span>{{fc.RFIL_Endereco}}</span> </td>
                                    <td><span>{{fc.RFIL_Cidade + ' - ' + fc.RFIL_Estado}}</span> </td>
                                    <!-- <td>
                                      <button (click)="deleteFilial(fc)" class="mdl-button mdl-js-button mdl-ripple-effect mdl-button--icon">
                                        <i class="material-icons mdl-color-text--red-500">delete_forever</i>
                                      </button> 
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>