<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <form  [formGroup]="cadastroFilial" >
        <div class="form-group ">
            <label class="col-2 col-form-label">Rede <span class="text-danger">*</span></label>
            <div class="controls col-12">
                <div class="mdl-textfield mdl-js-textfield comboBox">
                    <input (keydown)="filterRede($event, this.rede, this.redes)" style="cursor: pointer" readonly formControlName="rede" [(ngModel)]="this.rede" (click)="redeOK = !redeOK"  type="text" class="comboBox__input">

                    <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="redeOK = !redeOK">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    </button>

                    <div class="comboBox__items" *ngIf="redeOK" (blur)="redeOK = false">
                        <button *ngFor="let r of resultFilterRedes; let i = index" (click)="setRede(r)" class="mdl-button mdl-js-button comboBox__item">
                            <span style="position: absolute; left: 2px; top: 2px;">{{r.RED_Nome}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <small *ngIf="this.errorRede.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>
      <!-- <div class="form-group ">
          <label class="col-2 col-form-label">Redes <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <select required class="form-control" formControlName="rede" [(ngModel)]="this.rede">
                  <option value="" selected>{{rede}}</option>
                  <option *ngFor="let r of redes; let i = index" (click)="setRede(i)">{{r.RED_Nome}}</option>
              </select>
          </div>
          <small *ngIf="this.errorRede.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div> -->

      <div class="form-group ">
          <label class="col-2 col-form-label">Nome da Filial <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" class="form-control" formControlName="nomeFilial" [(ngModel)]="this.nomeFilial">
          </div>
          <small *ngIf="this.errorNomeFilial.required == true" style="margin-left: 20px; color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <!-- <div class="form-group ">
          <label class="col-2 col-form-label"> Nome do Encarregado<span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" class="form-control" formControlName="nomeEncarregado" [(ngModel)]="this.nomeEncarregado">
          </div>
          <small *ngIf="this.errorNomeEncarregado.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div> -->

      <div class="form-group ">
          <label class="col-2 col-form-label">Telefone Fixo <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input id="inputTelefoneFixoFilial" type="text" class="form-control" formControlName="telefoneFixo" [(ngModel)]="this.telefoneFixo">
          </div>
          <small *ngIf="this.errorTelefoneFixo.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">CEP <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" id="inputCEPFilial" (blur)="checkCep(this.cep)" class="form-control" formControlName="cep" [(ngModel)]="this.cep">
          </div>
          <small *ngIf="this.errorCep.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
          <small *ngIf="this.errorNotExistsCep == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Este CEP não existe</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">Endereço <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" class="form-control" formControlName="endereco" [(ngModel)]="this.endereco">
          </div>
          <small *ngIf="this.errorEndereco.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group ">
          <label class="col-2 col-form-label">Número <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" id="inputNumeroCadFilial" class="form-control" formControlName="numero" [(ngModel)]="this.numero">
          </div>
          <small *ngIf="this.errorNumero.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>
      <div class="form-group ">
          <label class="col-2 col-form-label">Cidade <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" class="form-control" formControlName="cidade" [(ngModel)]="this.cidade">
          </div>
          <small *ngIf="this.errorCidade.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>
  
      <div class="form-group ">
          <label class="col-2 col-form-label">Bairro <span class="text-danger">*</span></label>
          <div class="controls col-12">
              <input type="text" class="form-control" formControlName="bairro" [(ngModel)]="this.bairro">
          </div>
          <small *ngIf="this.errorBairro.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
      </div>

      <div class="form-group">
          <label class="col-2 col-form-label">Estado <span class="text-danger">*</span></label>
          <div class="controls col-12">
            <div class="mdl-textfield mdl-js-textfield comboBox">
                <input style="cursor: pointer" readonly formControlName="estado" [(ngModel)]="this.estado" (click)="estadoOK = !estadoOK"  type="text" class="comboBox__input">

                <button class="comboBox__button mdl-button mdl-js-button mdl-button--icon" (click)="estadoOK = !estadoOK">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </button>

                <div class="comboBox__items" *ngIf="estadoOK" (blur)="estadoOK = false">
                    <button *ngFor="let e of estados; let i = index" (click)="setEstado(e)" class="mdl-button mdl-js-button comboBox__item">
                        <span style="position: absolute; left: 2px; top: 2px;">{{e}}</span>
                    </button>
                </div>

              <!-- <select required class="form-control" formControlName="estado" [(ngModel)]="this.estado">
                  <option value="" selected>{{estado}}</option>
                  <option *ngFor="let e of estados; let i = index" (click)="setEstado(e)">{{e}}</option>
              </select> -->
            </div>
            <small *ngIf="this.errorEstado.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
        </div>
      </div>

      <div class="form-group ">
        <label class="col-2 col-form-label">Numero de Visitas <span class="text-danger">*</span></label>
        <div class="controls col-12">
            <input type="number" class="form-control" formControlName="numeroVisita" [(ngModel)]="this.numeroVisita">
        </div>
        <small *ngIf="this.errorVisita.required == true" style="margin-left: 20px;color: #d50000; text-shadow: rgba(255, 0,0,0.2)">Preencha este campo</small>
    </div>

    <button type="submit" (click)="cadFilial()" class="btn btn-info col-12">Cadastrar</button>
  </form>
</div>