<div class="page-wrapper" style="padding: 10px 10px; margin-bottom: 20px; bottom: 20px;">
  <div style="display: table; margin: 2% auto">
    <div class="rotate" style="border-radius: 200px; width: 70px; height: 70px; border: 2px solid #940000; border-style: dashed solid dashed solid;">
    </div>
    <span style="position: relative;right: 45px;top: 10px;font-weight: bold;">Carregando conteudo...</span>
  </div>
</div>